<<<<<<< HEAD
<div class="ListInquietud">
  <h2 class="Contacto-Title">Auditoria Usuarios</h2>
  <div ng-repeat="usuariosau in vm.usuariosau">
      <div class="au-container" >
      <h3 class="title-au">Datos Antiguos</h3>
        <ul class="au-content-list">
          <span class="au-title-item">
              Documento
					 <li class="au-item-list-hijos">{{usuariosau.documentoOld}}</li>
          </span>
          <span class="au-title-item">
              Nombres
            <li class="au-item-list-hijos">{{usuariosau.nombresOld}}</li>
          </span>
          <span class="au-title-item">
              Apellidos
            <li class="au-item-list-hijos">{{usuariosau.apellidosOld}}</li>
          </span>
          <span class="au-title-item">
              Email
            <li class="au-item-list-hijos">{{usuariosau.emailOld}}</li>
          </span>
          <span class="au-title-item">
              Dirección
            <li class="au-item-list-hijos">{{usuariosau.direccionOld}}</li>
          </span>
          <span class="au-title-item">
              Teléfono
            <li class="au-item-list-hijos">{{usuariosau.telefonoOld}}</li>
          </span>
          <span class="au-title-item">
              Celular
            <li class="au-item-list-hijos">{{usuariosau.celularOld}}</li>
          </span>
          <span class="au-title-item">
              Titulo Profesional
            <li class="au-item-list-hijos">{{usuariosau.tituloProfesionalOld}}</li>
          </span>
        </ul>
      </div>
      <div class="au-container" >
        <h3 class="title-au">Datos Nuevos</h3>
        <ul class="au-content-list">
          <span class="au-title-item">
              Documento
            <li class="au-item-list-hijos">{{usuariosau.documentoNew}}</li>
          </span>
          <span class="au-title-item">
              Nombres
            <li class="au-item-list-hijos">{{usuariosau.nombresNew}}</li>
          </span>
          <span class="au-title-item">
              Apellidos
            <li class="au-item-list-hijos">{{usuariosau.apellidosNew}}</li>
          </span>
          <span class="au-title-item">
              Email
            <li class="au-item-list-hijos">{{usuariosau.emailNew}}</li>
          </span>
          <span class="au-title-item">
              Dirección
            <li class="au-item-list-hijos">{{usuariosau.direccionNew}}</li>
            </span>
          <span class="au-title-item">
              Teléfono
            <li class="au-item-list-hijos">{{usuariosau.telefonoNew}}</li>
          </span>
          <span class="au-title-item">
              Celular
            <li class="au-item-list-hijos">{{usuariosau.celularNew}}</li>
          </span>
          <span class="au-title-item">
              Titulo Profesional
            <li class="au-item-list-hijos">{{usuariosau.tituloProfesionalNew}}</li>
          </span>
				</ul>
      </div>
  </div>
  <a class="Jardines-Create-Button" href="#/jardinesinfantilesau">Jardines</a>
</div>
=======
<div class="ListInquietud">
  <h2 class="Contacto-Title">Auditoria Usuarios</h2>
  <div ng-repeat="usuariosau in vm.usuariosau">
      <div class="au-container" >
      <h3 class="title-au">Datos Antiguos</h3>
        <ul class="au-content-list">
          <span class="au-title-item">
              Documento
					 <li class="au-item-list-hijos">{{usuariosau.documentoOld}}</li>
          </span>
          <span class="au-title-item">
              Nombres
            <li class="au-item-list-hijos">{{usuariosau.nombresOld}}</li>
          </span>
          <span class="au-title-item">
              Apellidos
            <li class="au-item-list-hijos">{{usuariosau.apellidosOld}}</li>
          </span>
          <span class="au-title-item">
              Email
            <li class="au-item-list-hijos">{{usuariosau.emailOld}}</li>
          </span>
          <span class="au-title-item">
              Dirección
            <li class="au-item-list-hijos">{{usuariosau.direccionOld}}</li>
          </span>
          <span class="au-title-item">
              Teléfono
            <li class="au-item-list-hijos">{{usuariosau.telefonoOld}}</li>
          </span>
          <span class="au-title-item">
              Celular
            <li class="au-item-list-hijos">{{usuariosau.celularOld}}</li>
          </span>
          <span class="au-title-item">
              Titulo Profesional
            <li class="au-item-list-hijos">{{usuariosau.tituloProfesionalOld}}</li>
          </span>
        </ul>
      </div>
      <div class="au-container" >
        <h3 class="title-au">Datos Nuevos</h3>
        <ul class="au-content-list">
          <span class="au-title-item">
              Documento
            <li class="au-item-list-hijos">{{usuariosau.documentoNew}}</li>
          </span>
          <span class="au-title-item">
              Nombres
            <li class="au-item-list-hijos">{{usuariosau.nombresNew}}</li>
          </span>
          <span class="au-title-item">
              Apellidos
            <li class="au-item-list-hijos">{{usuariosau.apellidosNew}}</li>
          </span>
          <span class="au-title-item">
              Email
            <li class="au-item-list-hijos">{{usuariosau.emailNew}}</li>
          </span>
          <span class="au-title-item">
              Dirección
            <li class="au-item-list-hijos">{{usuariosau.direccionNew}}</li>
            </span>
          <span class="au-title-item">
              Teléfono
            <li class="au-item-list-hijos">{{usuariosau.telefonoNew}}</li>
          </span>
          <span class="au-title-item">
              Celular
            <li class="au-item-list-hijos">{{usuariosau.celularNew}}</li>
          </span>
          <span class="au-title-item">
              Titulo Profesional
            <li class="au-item-list-hijos">{{usuariosau.tituloProfesionalNew}}</li>
          </span>
				</ul>
      </div>
  </div>
  <a class="Jardines-Create-Button" href="#/jardinesinfantilesau">Jardines</a>
</div>
>>>>>>> 95984614a666b6f579d2f567583cde638ba130ac
