@font-face
  font-family Animated
  src url("/fonts/Animated.ttf")

@font-face
  font-family MyriadWebPro
  src url('/fonts/MyriadWebPro.ttf')

body
  font-family 'Salsa', cursive
  padding-top 60px
  display flex
  justify-content space-between
  flex-direction column

.navbar-movile
  display none

.nav
  text-shadow 0px 1px 5px #515151

.navbar-header2
  max-width 17em

.navbar-collapse
  padding-right 0!important

.navbar-default
  margin 0
  background #0389AB
  line-height 4.5em
  border-color transparent

.container-fluid
  margin 0
  padding 0

.titulo-logo
  color white
  padding 1.1em
  font-size 20px
  text-decoration none
  font-family Animated
  text-shadow 1px 1px 1px #515150
  transition all .2s ease-out

.titulo-logo:hover
  background #10aad1

.item:hover
  color white
  text-decoration none
  background #499bea
  background -moz-linear-gradient top  #499bea 0% #207ce5 100%
  background -webkit-linear-gradient top  #499bea 0% #207ce5 100%

.items
  color white
  padding 1.4em 1em
  font-size 17px
  transition all .2s ease-out
  &-registrarse
    padding-right 1.5em

.items:hover
  color white
  text-decoration none
  background #10aad1

a:focus, a:hover
  text-decoration none
  color white

.dropdown-menu
  background #499bea

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
    background #10aad1
    color white

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus
    background-color #10aad1

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus
    color white
.nav > li
    font-size 16px

.navbar-default .navbar-nav > li > a
    color white

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover
    background #10aad1
    color white


.nav .open > a, .nav .open > a:hover, .nav .open > a:focus
    background #499bea
    color white

.dropdown-menu > li > a
    text-align center
    color white

.dropdown-menu > li > a:hover
    color white
    background transparent


md-switch
  margin 5px 0 !important


.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
  padding 5px !important

.dropdown-menu
  background #0389ab

.dropdown-menu>li>a:hover
  background #10aad1


@media screen and (min-width:768px)
  .navbar-nav > li > a
    padding-top 22px
    padding-bottom 23px
  .navbar
    border-radius 0!important

@media screen and (max-width: 767px)
  body
    padding-top 50px

  .navbar-movile
    display block
  
  .navbar-Dektop
    display none
  
  .titulo-logo
    padding .8em
  
  .navbar-default
    line-height 3.5em

  .navbar-nav
    margin 0

  .navbar-collapse
    padding-left 0

  .items
    display block
    padding 0
    text-align center

  .navbar-header2
    max-width 100% !important

  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
    background-color #f9f9f9
  
  .navbar-default .navbar-toggle
    border-color #f9f9f9
  
  .close-navbar
    position fixed
    z-index 500
    width 100%
    height 100%
    
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus
    background-color #10aad1
  
  .navbar-default .navbar-nav .open .dropdown-menu > li > a
    color #fff
  
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover
    color #fff
    background-color #10aad1
  
  .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a
    text-align center
    
  .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header
    padding 10px 15px 10px 25px

@media screen and (max-width: 809px) and (min-width: 767px)

  .navbar-header
    margin 0

  .navbar-toggle
    margin 1em 1em 0 0

  .items
    padding .8em

.avatarNavbar
  border medium solid #ffffff
  border-radius 50%
  height 3.5em
  margin 5px
  width 3.5em

.dropdown-toggle-img
  padding 0 .5em !important

@media screen and (max-width: 400px)
  .items
    font-size 14px
/**
.menu_bar
 display none 
 
header
  width 100%
  position fixed
  z-index 1000
  top 0

header nav 
  width 100%
  padding 0
  background #0389AB
  display flex
  justify-content space-between

header nav ul
  margin 0
  padding 0
  display flex
  align-items center
  
header nav ul li
  display inline-block
  vertical-align top
  
header nav ul li a
  text-decoration none
  color #fff
  display block
  padding 1.5em
  transition all .2s ease-out

header nav ul li a:hover
  text-decoration none
  color #fff
  background-color #10aad1

header nav ul li a:focus
  text-decoration none
  color #fff

.items2
  align-self flex-end

@media screen and (max-width:768px)
  body
    padding-top 45px
        
  .logo
    display none
  
  .menu_bar
    display block
    background #0389AB
  
  .menu_bar a
    color #fff
    text-decoration none
    padding 1em
    display inline-block     

  header
    height 100%
  
  header nav 
    width 60%
    height 100%
    left -100%
    flex-direction column-reverse
    justify-content flex-end
  
  header nav ul
    display block

  header nav ul li,
  header nav ul li a
    width 100%
  
  header nav ul li a
    padding 1em
  
  header nav ul li
    border-bottom 2px solid rgba(3, 137, 171, .3)
**/