
<!-- Barra Desktop -->
<nav class="navbar navbar-default navbar-fixed-top navbar-Dektop">

     <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-header navbar-header2">
      <button type="button" class="navbar-toggle collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="titulo-logo" href="#">JardinApp</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
                 <!-- a class="item2" ng-show="vm.isAuthenticated()" href="#">Inicio</a -->


                <a class="items" ng-show="!vm.isAuthenticated()" href="#/quienessomos">Quiénes Somos</a>
                <a class="items" ng-show="!vm.isAuthenticated()" href="#/servicios">Servicios</a>

                <a class="items" ng-show="vm.isAuthenticated()"  ng-if="vm.isAdmin()" href="#/usuarios">Usuarios</a>
                <a class="items" ng-show="vm.isAuthenticated()" href="#/jardinesinfantiles">Jardines Infatiles</a>
                <!-- a class="item2" ng-show="vm.isAuthenticated()" ng-if="vm.isAdmin()"  href="#/hijos/listadmin">Hijos</a -->

                <a class="items" ng-show="vm.isAuthenticated()" ng-if="vm.isEmpresario()"   href="#/empresas">Empresas</a>
                <a class="items" ng-show="vm.isAuthenticated()" ng-if="vm.isUser()"  href="#/hijos/list">Hijos</a>
                <a class="items" href="#/actividades">Recursos Educativos</a>
                <a class="items" ng-show="vm.isAuthenticated()"  ng-if="vm.isAdmin()" href="#/inquietudes">Inquietudes</a>
                <a class="items" ng-show="vm.isAuthenticated()"  ng-if="vm.isAdminJardin()" href="#/inquietudes">Inquietudes</a>
                <a class="items" ng-show="vm.isAuthenticated()"  ng-if="vm.isAdmin()" href="#/anuncios/listadminanuncio">Anuncios</a>
                <a class="items" ng-show="vm.isAuthenticated()"  ng-if="vm.isAdminJardin()" href="#/anuncios/listadminj">Anuncios</a>
                <a class="items" ng-show="vm.isAuthenticated()"  ng-if="vm.isUser()" href="#/anuncios">Anuncios</a>
                <a class="items" ng-show="vm.isAuthenticated()" href="#/servicios">Servicios</a>

                <!-- <a class="items"  ng-show="!vm.isAuthenticated()" href="#/juegos">Juegos</a> -->

          </ul>

      <ul class="nav navbar-nav navbar-right">
          <a class="items"  ng-show="!vm.isAuthenticated()"  href="#/login">Login</a>
          <a class="items items-registrarse" ng-show="!vm.isAuthenticated()" href="#/inicio/cuentas">Registrarse</a>

  </ul>

 <ul class="nav navbar-nav navbar-right"
    ng-show="vm.isAuthenticated()">


      <li  ng-if="vm.isAuthenticated()" class="dropdown" ng-controller= "headerCtrl as headerCtrl">
        <a href="" class="dropdown-toggle dropdown-toggle-img" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <img  class="avatarNavbar" ng-if="headerCtrl.usuario.avatar" ng-src="{{'data:image/png;base64,' + headerCtrl.usuario.avatar }}" alt="Avatar">
            <img  class="avatarNavbar" ng-hide="headerCtrl.usuario.avatar" ng-src="/imagenes/svg/avatar.svg" alt="Avatar">
            {{vm.getCurrentUser()}}
            <span class="caret" ></span>
        </a>

          <ul class="dropdown-menu" ng-show="vm.isAuthenticated()">
            <li><a href="#/usuarios/perfil">Perfil</a></li>
            <li ng-if="vm.isAdminJardin()"><a href="#/jardinesinfantiles/mijardin">Mi jardin</a></li>
            <li ng-if="vm.isAdmin()"><a href="#/jardinesinfantilesau">Auditoria</a></li>
            <li ng-if="vm.isAdminJardin()"><a href="#/hijos/create/admin">Registrar Niño</a></li>
            <li ng-if="vm.isAdmin()"><a href="#/hijosau">HijosAu</a></li>
            <li ng-if="vm.isAdmin()"><a href="#/detallespedidos">Pedidos</a></li>
            <li ng-if="!vm.isAdmin()"><a href="#/mispedidos">Mis Pedidos</a></li>
            <li><a href="#/misinquietudes">Mis Inquietudes</a></li>
            <li ng-if="vm.isAdmin()"><a href="#/jardinesinfantiles/listadmin">Jardines Infatiles</a></li>
            <li ng-if="vm.isEmpresario()"><a href="#/empresas/create">Crear mi empresa</a></li>
            <li ng-if="vm.isAdminJardin()"><a href="#/jardinesinfantiles/create">Crear mi jardin</a></li>

            <li><a ng-show="vm.isAuthenticated()" href="#" ng-click="vm.logout()" >Cerrar session</a></li>
      </ul>
      </li>
</ul>

  </div>
</nav>
<!-- Fin Barra Desktop -->



<!-- Barra Responsive -->
<nav class="navbar navbar-default navbar-fixed-top navbar-movile">

     <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-header navbar-header2">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="titulo-logo" href="#">JardinApp</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse nav-container-ul" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
                 <!-- a class="item2" ng-show="vm.isAuthenticated()" href="#">Inicio</a -->


                <a class="items" ng-show="!vm.isAuthenticated()" href="#/quienessomos" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Quiénes Somos</a>
                <a class="items" ng-show="!vm.isAuthenticated()" href="#/servicios" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Servicios</a>
                <a class="items" ng-show="vm.isAuthenticated()"  ng-if="vm.isAdmin()" href="#/usuarios" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Usuarios</a>
                <a class="items" ng-show="vm.isAuthenticated()" href="#/jardinesinfantiles" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Jardines Infatiles</a>
                <!-- a class="item2" ng-show="vm.isAuthenticated()" ng-if="vm.isAdmin()"  href="#/hijos/listadmin">Hijos</a -->

                <a class="items" ng-show="vm.isAuthenticated()" ng-if="vm.isEmpresario()"   href="#/empresas" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Empresas</a>
                <a class="items" ng-show="vm.isAuthenticated()" ng-if="vm.isUser()"  href="#/hijos/list" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Hijos</a>
                <a class="items" href="#/actividades" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Recursos Educativos</a>
                <a class="items" ng-show="vm.isAuthenticated()"  ng-if="vm.isAdmin()" href="#/inquietudes" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Inquietudes</a>
                <a class="items" ng-show="vm.isAuthenticated()"  ng-if="vm.isAdminJardin()" href="#/inquietudes" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Inquietudes</a>
                <a class="items" ng-show="vm.isAuthenticated()"  ng-if="vm.isAdmin()" href="#/anuncios/listadminanuncio" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Anuncios</a>
                <a class="items" ng-show="vm.isAuthenticated()"  ng-if="vm.isAdminJardin()" href="#/anuncios/listadminj" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Anuncios</a>
                <a class="items" ng-show="vm.isAuthenticated()"  ng-if="vm.isUser()" href="#/anuncios" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Anuncios</a>
                <a class="items" ng-show="vm.isAuthenticated()" href="#/servicios" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Servicios</a>

                <!-- <a class="items"  ng-show="!vm.isAuthenticated()" href="#/juegos">Juegos</a> -->

          </ul>

      <ul class="nav navbar-nav navbar-right">
          <a class="items"  ng-show="!vm.isAuthenticated()"  href="#/login" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Login</a>
          <a class="items items-registrarse" ng-show="!vm.isAuthenticated()" href="#/inicio/cuentas" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Registrarse</a>

  </ul>

 <ul class="nav navbar-nav navbar-right"
    ng-show="vm.isAuthenticated()">

      <li  ng-if="vm.isAuthenticated()" class="dropdown" ng-controller= "headerCtrl as headerCtrl">
        <a href="" class="dropdown-toggle dropdown-toggle-img" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <img  class="avatarNavbar" ng-if="headerCtrl.usuario.avatar" ng-src="{{'data:image/png;base64,' + headerCtrl.usuario.avatar }}" alt="Avatar">
            <img  class="avatarNavbar" ng-hide="headerCtrl.usuario.avatar" ng-src="/imagenes/svg/avatar.svg" alt="Avatar">
            {{vm.getCurrentUser()}}
            <span class="caret" ></span>
        </a>

          <ul class="dropdown-menu" ng-show="vm.isAuthenticated()">
            <li><a href="#/usuarios/perfil" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Perfil</a></li>
            <li ng-if="vm.isAdminJardin()"><a href="#/jardinesinfantiles/mijardin" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Mi jardin</a></li>
            <li ng-if="vm.isAdmin()"><a href="#/jardinesinfantilesau" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Auditoria</a></li>
            <li ng-if="vm.isAdminJardin()"><a href="#/hijos/create" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Registrar Niño</a></li>
            <li ng-if="vm.isAdmin()"><a href="#/hijosau" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">HijosAu</a></li>
            <li ng-if="vm.isAdmin()"><a href="#/detallespedidos" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Pedidos</a></li>
            <li ng-if="!vm.isAdmin()"><a href="#/mispedidos" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Mis Pedidos</a></li>
            <li><a href="#/misinquietudes" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Mis Inquietudes</a></li>
            <li ng-if="vm.isAdmin()"><a href="#/jardinesinfantiles/listadmin" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Jardines Infatiles</a></li>
            <li ng-if="vm.isEmpresario()"><a href="#/empresa/create" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Crear mi empresa</a></li>
            <li ng-if="vm.isAdminJardin()"><a href="#/jardinesinfantiles/create" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Crear mi jardin</a></li>

            <li><a ng-show="vm.isAuthenticated()" href="#" ng-click="vm.logout()" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Cerrar session</a></li>
      </ul>
      </li>
</ul>

  </div>

</nav>

<!-- Fin Barra Responsive -->
