<div class="Contenedor">
<section class="info-quienes4">
    <h2 class="Work-title">Valores Corporativos</h2>

    <div class="cuadro">
      <h3 class="titulo-A">Responsabilidad</h3>
      <img src="/imagenes/svg/Responsabilidad.svg" alt="" class="img-valores" />
    </div>

    <div class="cuadro">
      <h3 class="titulo-A">Honestidad</h3>
      <img src="/imagenes/svg/Honestidad.svg" alt="" class="img-valores" />
    </div>

    <div class="cuadro">
      <h3 class="titulo-A">Respetó</h3>
      <img src="/imagenes/svg/Manos.svg" alt="" class="img-valores" />
    </div>

    <div class="cuadro">
      <h3 class="titulo-A">Cortesía</h3>
      <img src="/imagenes/svg/Cortesia.svg" alt="" class="img-valores" />
    </div>

    <div class="cuadro">
      <h3 class="titulo-A">Lealtad</h3>
      <img src="/imagenes/svg/Lealtad.svg" alt="" class="img-valores" />
    </div>
</section>

<section class="info-quienes2">
    <h2 class="Work-title">Misión</h2>
    <p class="info-description">
      Aprovechar el personal innovador y entregado que dará lo mejor de sí para
      crear productos de alta calidad y excelente servicio en el sector tecnológico,
      que se encargará de la satisfacción de las necesidades de nuestros clientes y nos permitirá
      contribuir con el desarrollo del país.
    </p>
    <figure class="Work-imageContainer">
      <img src="/imagenes/svg/mision.svg" class="info-img"/>
    </figure>
</section>

<section class="info-quienes3">
    <h2 class="Work-title">Visión</h2>

    <figure class="Work-imageContainer">
        <img src="/imagenes/svg/vision.svg" class="info-img" />
    </figure>

    <p class="info-description">
      En el año 2020 JARDINAPP integrará toda la información de los jardines infantiles a nivel nacional, e implementará un seguimiento en procesos y actividades en los jardines infantiles y los niños de primera infancia con el fin de tener un mejor control del desempeño.</p>
</section>

</div>
