.info-quienes2,
.info-quienes3,
.info-quienes4 {
  text-align: center;
  padding: 2%;
}
.info-quienes2 {
  background: #53abc1;
  color: #f9f9f9;
}
.info-quienes3 {
  background: #f9f9f9;
  color: #313131;
}
.info-quienes4 {
  background: #f9f9f9;
  color: #212121;
}
.info-description {
  display: inline-block;
  max-width: 23em;
  font-size: 1.7em;
  padding: 0 3%;
  text-align: justify;
}
.info-img {
  max-width: 30em;
  max-height: 22em;
}
.cuadro {
  padding: 0.5em;
  margin: 1em;
  display: inline-block;
  vertical-align: top;
}
.titulo-A {
  margin: 0.5em;
  font-weight: bold;
  font-size: 25px;
}
.img-valores {
  background: #eee;
  border-radius: 50%;
  border: solid 5px #515151;
  padding: 0.5em;
  height: 13em;
  width: 13em;
}
@media screen and (max-width: 992px) and (max-width: 661px) {
  .cuadro {
    margin: 2em;
  }
}
@media screen and (max-width: 661px) and (min-width: 380px) {
  .cuadro {
    margin: 0.5em;
  }
  .info-description {
    font-size: 1.4em;
  }
}
@media screen and (max-width: 450px) {
  .Work-title {
    font-size: 3em;
  }
  .info-img {
    max-width: 22em;
    max-height: 20em;
  }
}
@media screen and (max-width: 380px) {
  .info-quienes,
  .info-quienes2,
  .info-quienes3,
  .info-quienes4 {
    padding: 0.5em;
  }
  .info-img {
    max-width: 22em;
  }
  .info-quienes4 {
    padding: 0;
  }
  .info-description {
    padding: 1em;
  }
  .cuadro {
    margin: 0;
  }
}
@media screen and (max-width: 336px) {
  .info-img {
    max-width: 19em;
  }
  .info-description {
    font-size: 1.2em;
  }
  .info-quienes4 {
    padding: 1em;
  }
}
@media screen and (max-width: 290px) {
  .info-quienes4 {
    padding: 0.5em;
  }
  .info-img {
    max-width: 12em;
  }
  .Work-title {
    font-size: 2em;
  }
  .info-description {
    font-size: 1.1em;
    padding: 0.5em;
  }
  .titulo-A {
    margin: 0.5em;
    font-weight: bold;
    font-size: 18px;
  }
  .img-valores {
    height: 11em;
    width: 11em;
  }
}
