<div class="container">
  <h1>Calificación</h1>
  <form ng-submit="vm.create()" name="projectForm">

    <md-input-container class="md-block">
      <label>Puntuación</label>
      <input md-maxlength="5" required md-no-asterisk name="Puntuacion" ng-model="vm.calificaciones.puntuacion">
      <div ng-messages="projectForm.Puntuacion.$error">
          <div ng-message="required">Este campo es requerido.</div>
      </div>
    </md-input-container>

    <!--<md-input-container class="md-block">
      <label>Jardin Infantil</label>
      <input required md-no-asterisk name="Descripcion" ng-model="vm.calificaciones.idJardinInfantil.idJardinInfantil">
    </md-input-container>-->

    <button type="submit" class="btn btn-success" name="button">Enviar</button>
  </form>
</div>

</div>
