<div class="container">

    <div class="row">
        <h2>Calificaciones de los servicios</h2>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Calificaciones</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Puntuación</th>
                            <th>Fecha</th>
                            <th>Jardín Infantil</th>
                            <th>Usuario</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  ng-repeat="calificaciones in vm.calificaciones">
                            <td>{{calificaciones.puntuacion}}</td>
                            <td>{{calificaciones.fecha}}</td>
                            <td>{{calificaciones.idJardinInfantil.nombreJardin}}</td>
                            <td>{{calificaciones.idUsuarios.nombres}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
