
<div class="ListInquietud">
  <div class="ListInquietud-transparent2">
    <h2 class="Work-title">Crear una respuesta</h2>
      <div class="container Jardin-container">
        <form ng-submit="projectForm.$valid && vm.create()" name="projectForm">

          <md-input-container class="md-block">
            <label>Respuesta</label>
            <input md-maxlength="180" minlength="10" required md-no-asterisk name="Asunto" ng-model="vm.respuesta.respuesta">
            <div ng-messages="projectForm.Asunto.$error" >
              <div ng-message="required">Este campo es requerido.</div>
              <div ng-message="md-maxlength">El asunto debe contener menos de 180 caracteres.</div>
              <div ng-message="minlength">El asunto debe contener almenos de 10 caracteres.</div>
            </div>
          </md-input-container>


         

          <button type="submit" class="btn btn-success" name="button">Enviar</button>

        </form>
      </div>
  </div>
</div>
