
<div class="ListInquietud">

     <h3 class="Contacto-Title">Respuestas a Inquietudes</h3>

                  <table class="table-bordered table-hover color-t Table-container-Inquietudes">
                            <thead class="thead2">
                       <div class="col-md-3">
                                <tr class="Campo">

				<th  class="Table-container-Inquietudes-elements Encabezados">Respuesta</th>
			
				<th  class="Table-container-Inquietudes-elements Encabezados">Fecha</th>
				
			</tr>
		</thead>
		 <tbody class="Color-resultados">
		    <tr ng-repeat="respuestas in vm.respuestasInquietudes">
				<td class="Table-container-Inquietudes-elements">{{respuestas.respuesta }}</td>
				<td class="Table-container-Inquietudes-elements">{{respuestas.fecha}}</td>
			</tr>
		</tbody>
	</table>
</div>
