<div class="row">
    <h2>Lista de Ciudades</h2>


    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Ciudades</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id Ciudad</th>
                        <th>Nombre</th>
                        <th>Departamento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  ng-repeat="ciudades in vm.ciudades">
                        <td>{{ciudades.ciudadesPK.idCiudad}}</td>
                        <td>{{ciudades.nombreCiudad}}</td>
                        <td>{{ciudades.departamentos.nombreDepartamento}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
