<!--
<div class="ListServicios" ng-show="!isAuthenticated()">
	<h2 class="Work-title">Lista de Servicios</h2>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Servicios</h3>
			</div>
			<div class="panel-body">
				<table class="table table-hover">
					<thead>
						<tr >
							<th>Nombre</th>
							<th>Descripción</th>
							<th>Precio</th>
							<th ng-show="vm.isAuthenticatedAndAdmin" >Acción</th>
						</tr>
					</thead>
		      		<tbody>
		        		<tr ng-repeat="servicio in vm.servicios">
							<td>{{servicio.nombre}}</td>
							<td>{{servicio.descripcion}}</td>
		          			<td>{{servicio.precio}}</td>
							<td ng-show="vm.isAuthenticatedAndAdmin" md-cell><a  href="#/servicios/update/{{servicio.idServicio}}">Editar</a></td>
		        		</tr>
		      		</tbody>
		    	</table>
		    </div>
		</div>
</div>
-->
<section class="ListServicios" ng-repeat="servicio in vm.servicios">
        <h1 class="Work-title">{{servicio.nombre}}</h1>

            <article class="Servicios-item">
                <figure class="Work-imageContainer">
                  <img src="/imagenes/imagen.jpg" class="Work-image"/>
                </figure>
				<div class="content-item-servicios">
	                <p class="Servicios-text">
	                  {{servicio.descripcion}}
	                </p>
	                <h4 class="Servicios-costos">Costo: ${{servicio.precio}}</h4>
					<!--<button class="button-servicios">
      		<a href="#/detallespedidos/create/{{servicio.idServicio}}">Adquirir</a></button>-->
              <button class="button-servicios" ng-click="vm.verificarLogin(servicio.idServicio)">Adquirir</button>
				</div>
          	</article>
</section>
