

<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
  <form class="form-modal">
    <md-toolbar>
      <div class="md-toolbar-tools">

        <span flex></span>

      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">

        <figure class="chico">
         <img src="/imagenes/svg/chico.svg" alt="" style="margin: auto; max-width: 100%;"/>
        </figure>
         <h2 class="text">Si deseas disfrutar de nuestros servicios, debes registrarte e ingresar, para conocer más de los beneficios que te brindaremos</h2>


      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="boton1" ng-click="vm.login()">
         Login
      </md-button>
      <md-button class="boton2" ng-click="vm.registro()">
        Registrarse
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
