.ListServicios:nth-child(odd),
.ListServicios:nth-child(even)
  color #313131
  display flex
  justify-content center
  align-items center
  flex-direction column
  padding 4%

.ListServicios:nth-child(odd)
  background #f9f9f9

.ListServicios:nth-child(even)
  background #ffffff

.ListServicios:nth-child(even) .Servicios-item
  flex-direction row-reverse

.Servicios-item
  width 70%
  display flex
  justify-content space-around
  vertical-align top

.content-item-servicios
  display flex
  flex-direction column
  justify-content center
  align-items center
  width 40%

.Servicios-text
  display block
  text-align justify
  padding 5%
  font-size 22px
  margin 0

.Servicios-costos
  font-weight bold
  padding-bottom 1em
  margin 0

.button-servicios
  background #C83737
  color #fff
  font-family 'Salsa', cursive
  border none
  border-radius 10px
  padding 1em
  font-weight
  display block
  margin 0 auto
  width 8em
  
/**********diseño modal**********************/
 .form-modal
    width 50em 
    
 md-toolbar
    background #15aed2!important
.md-dialog-content
    display flex
    justify-content space-between
    align-items center
    padding 1em
.text
    margin 0
    width 90%
    padding 0.8em
    line-height 1.2em
    text-align left
.chico
    width 40%
    padding 0.5em
.boton1
  background #58a4f2
  border-radius 7px
  padding 0.3em
  font-size 20px

.boton2
  background #7eb407
  border-radius 7px
  padding 0.3em
  font-size 20px
a.md-button.md-default-theme:not([disabled]):hover, a.md-button:not([disabled]):hover, .md-button.md-default-theme:not([disabled]):hover, .md-button:not([disabled]):hover
  background-color: #55c5dc
md-dialog .md-actions .md-button, md-dialog md-dialog-actions .md-button
  margin 1em
md-dialog-actions
  margin-right 2em


/********************fin**********************/
@media screen and (max-width:1000px)
  .Servicios-item
    width 90%

@media screen and (max-width:767px)
  .Servicios-item
    flex-direction column
    align-items center

  .ListServicios:nth-child(even) .Servicios-item
    align-items center
    flex-direction column

  .content-item-servicios
    width 60%

@media screen and (max-width:450px)
  .content-item-servicios
    width 100%

@media screen and (max-width:350px)
  .Servicios-text
    font-size 16px
