<div class="ListServicios">
	<div class="ListServicios-transparent3 padding-bottom">
    <h1 class="Work-title">Actualizar Servicio</h1>
<div class="container Jardin-container">
  <form ng-submit="vm.update()">

    <md-input-container class="md-block">
      <label>Nombre</label>
      <input md-maxlength="45" required md-no-asterisk name="Nombre" ng-model="vm.servicios.nombre">
      <div ng-messages="projectForm.description.$error">
        <div ng-message="required">Este campo es requerido.</div>
        <div ng-message="md-maxlength">El nombre debe contener menos de 50 caracteres.</div>
      </div>
    </md-input-container>

    <md-input-container class="md-block">
      <label>Descripción</label>
      <input md-maxlength="200" required md-no-asterisk name="Descripcion" ng-model="vm.servicios.descripcion">
      <div ng-messages="projectForm.description.$error">
        <div ng-message="required">Este campo es requerido.</div>
        <div ng-message="md-maxlength">La descripción no debe pasar de 200 caracteres.</div>
      </div>
    </md-input-container>

    <md-input-container class="md-block">
      <label>Precio</label>
      <input type="number" required md-no-asterisk name="Precio" ng-model="vm.servicios.precio">
      <div ng-messages="projectForm.description.$error">
        <div ng-message="required">Este campo es requerido.</div>
      </div>
    </md-input-container>

    <md-input-container class="md-block">
      <label>idEmpresa</label>
      <input type="number" required md-no-asterisk name="idEmpresa" ng-model="vm.servicios.idMiEmpresa.idMiEmpresa">
      <div ng-messages="projectForm.description.$error">
        <div ng-message="required">Este campo es requerido.</div>
      </div>
    </md-input-container>

    <button type="submit" class="btn btn-success" name="button">Guardar</button>
    <button type="submit" class="btn btn-success" name="button" ng-href="#/servicios">Cancelar</button>

  </form>
</div>
</div>
</div>
