
<div class="ListInquietud">
  <div class="ListInquietud-transparent2">
    <h2 class="Work-title">Crear Inquietud</h2>
      <div class="container Jardin-container">
        <form ng-submit="projectForm.$valid && vm.create()" name="projectForm">

          <md-input-container class="md-block">
            <label>Asunto *</label>
            <input md-maxlength="50" minlength="10"required md-no-asterisk name="Asunto" ng-model="vm.inquietudes.asunto">
            <div ng-messages="projectForm.Asunto.$error" >
              <div ng-message="required">Este campo es requerido.</div>
              <div ng-message="md-maxlength">El asunto debe contener menos de 50 caracteres.</div>
              <div ng-message="minlength">El asunto debe contener almenos de 10 caracteres.</div>
            </div>
          </md-input-container>


          <md-input-container class="md-block">
            <label>Descripción *</label>
            <input md-maxlength="300" minlength="20" required md-no-asterisk name="descripcion" ng-model="vm.inquietudes.descripcion">
            <div ng-messages="projectForm.descripcion.$error" ng-show="projectForm.descripcion.$dirty" >
              <div ng-message="required">Este campo es requerido.</div>
              <div ng-message="minlength">La descripción debe tener almenos 30 caracteres.</div>
              <div ng-message="md-maxlength">La descripción no debe pasar de 300 caracteres.</div>
            </div>
          </md-input-container>

          <!--<md-input-container class="md-block">
            <label>Fecha</label>
            <input md-maxlength="50" required md-no-asterisk name="Fecha" ng-model="vm.inquietudes.fecha">
            <div ng-messages="projectForm.Fecha.$error">
              <div ng-message="required">Este campo es requerido.</div>
              <div ng-message="md-maxlength">La descripción no debe pasar de 300 carácteres.</div>
            </div>
          </md-input-container>>

          <!--md-input-container class="md-block">
            <label>idJardin</label>
            <input md-maxlength="50" required md-no-asterisk name="idJardin" ng-model="vm.inquietudes.idJardinInfantil.idJardinInfantil">
            <div ng-messages="projectForm.idJardin.$error">
              <div ng-message="required">Este campo es requerido.</div>
              <div ng-message="md-maxlength">La descripción no debe pasar de 300 carácteres.</div>
            </div>
          </md-input-container-->

          <!--<md-input-container class="md-block">
            <label>idUsuario</label>
            <input md-maxlength="50" required md-no-asterisk name="idUsuario" ng-model="vm.inquietudes.idUsuarios.idUsuarios">
            <div ng-messages="projectForm.idUsuario.$error">
              <div ng-message="required">Este campo es requerido.</div>
              <div ng-message="md-maxlength">La descripción no debe pasar de 300 carácteres.</div>
            </div>
          </md-input-container>-->

          <button type="submit" class="btn btn-success" name="button">Guardar</button>

        </form>
      </div>
  </div>
</div>
