.ListInquietud
  text-align center
  min-height 50vh
  display flex 
  justify-content center
  align-items center
  flex-direction column
  color #515151
  padding 2%


 /*************DISEÑO TABLAS RESPONSIVE**************/
 .table-bordered table-hover color-t Table-container-Inquietudes
    width 80% 
    border-collapse separate
    border solid #0389ab 3px!important
    border-radius 15px
    background #f9f9f9!important
    margin 1em
.table-bordered table-hover color-t Table-container-Inquietudes .thead2 .color-campo .Table-container-Inquietudes-elements Encabezados
    padding .5em
    background #0389ab
    color #f9f9f9
    text-align center
    text-transform uppercase
    font-weight lighter
    
.table-bordered table-hover color-t Table-container-Inquietudes .thead2 .color-campo .Table-container-Inquietudes-elements Encabezados:first-child
   border-radius 5px 0 0 0 
   
.table-bordered table-hover color-t Table-container-Inquietudes .thead2 .color-campo .Table-container-Inquietudes-elements Encabezados:last-child
    border-radius 0 5px 0 0  
    
.table-bordered > .thead2 > .color-campo > .Table-container-Inquietudes-elements Encabezados, .table-bordered > .Color-resultados > .color-campo > .Table-container-Inquietudes-elements Encabezados, .table-bordered > tfoot > .color-campo > .Table-container-Inquietudes-elements Encabezados, .table-bordered > .thead2 > .color-campo > .Table-container-Inquietudes-elements, .table-bordered > .Color-resultados > .color-campo > .Table-container-Inquietudes-elements, .table-bordered > tfoot > .color-campo > .Table-container-Inquietudes-elements
    border none 
    
.table-bordered table-hover color-t Table-container-Inquietudes .Color-resultados .color-campo:nth-child(odd) .Table-container-Inquietudes-elements
    background #eee
    
.table-bordered table-hover color-t Table-container-Inquietudes .Color-resultados .color-campo .Table-container-Inquietudes-elements
    padding 0.6em
    border-top 1px solid #027592!important
    border-right 1px solid #027592!important
    
.table-bordered table-hover color-t Table-container-Inquietudes .Color-resultados .color-campo .Table-container-Inquietudes-elements:last-child
    border-right none

.table-bordered table-hover color-t Table-container-Inquietudes .Color-resultados .color-campo:nth-child(odd):last-child
    border-radius 0 0 5px 5px
    
.table-bordered table-hover color-t Table-container-Inquietudes .thead2 .color-campo .Table-container-Inquietudes-elements Encabezados
    padding 0.5em
    background #0389ab
    color #f9f9f9
    text-align center
    text-transform uppercase
    font-weight lighter

.table-bordered table-hover color-t Table-container-Inquietudes .Color-resultados .color-campo:hover
    background #d3d3d3

table .Color-resultados .color-campo:last-child:hover
    border-radius 0 0 5px 5px
    
.color-campo
    background #ff4f00
    color white
    border 1px solid #ff4f00

.Color-resultados
    color black!important
    
.Table-container-Inquietudes
    width 100%
    &-elements
        padding .7em 1em
        text-align center

@media only screen and (max-width: 760px), (min-width: 760px) and (max-width:1024px)
    .table-bordered table-hover color-t Table-container-Inquietudes.Table-container-Inquietudes, .Table-container-Inquietudes .thead2, .Table-container-Inquietudes  .Color-resultados, .Table-container-Inquietudes .Table-container-Inquietudes-elements Encabezados, .Table-container-Inquietudes .Table-container-Inquietudes-elements,.Table-container-Inquietudes .Campo
        display block
        
    .Table-container-Inquietudes .thead2 .Campo
        position absolute
        display none 
        
    .color-t 
        border none
        
    .Table-container-Inquietudes 
        margin-bottom 2em 
        
        
    .Table-container-Inquietudes .Table-container-Inquietudes-elements
        position relative
        padding-left 40%
        font-size 12px
        text-align left
        
    .Table-container-Inquietudes .Table-container-Inquietudes-elements:before
        position absolute
        top 0px; left:-1px 
        width 34%
        white-space nowrap
        display flex
        align-items center
        
        height 100%
        padding 0em 2%
       
        background #0389ab
        color #f9f9f9
       
        font-weight bold
        
     .table-bordered table-hover color-t Table-container-Inquietudes
        border solid #0389ab 2px
     .table-bordered table-hover color-t Table-container-Inquietudes .Color-resultados .Campo .Table-container-Inquietudes-elements
        padding 0
        text-align center
        line-height 2.5
        border-right none
     .table-bordered table-hover color-t Table-container-Inquietudes .Color-resultados .Campo:hover
        background none
     .table-bordered table-hover color-t Table-container-Inquietudes .Color-resultados .Campo .Table-container-Inquietudes-elements:hover
        background #d3d3d3
     .table-bordered table-hover color-t Table-container-Inquietudes .Color-resultados .Campo:first-child
        border-radius 10px 10px 0 0
     .table-bordered table-hover color-t Table-container-Inquietudes .Color-resultados .Campo:first-child .Table-container-Inquietudes-elements:first-child
        border-top none
        border-radius 10px
     .table-bordered table-hover color-t Table-container-Inquietudes .Color-resultados .Campo:first-child .Table-container-Inquietudes-elements:first-child span:first-child
        border-radius 10px 0 0 0
     .table-bordered table-hover color-t Table-container-Inquietudes .Color-resultados .Campo:last-child .Table-container-Inquietudes-elements:last-child span
        border-radius 0 0 0 10px
     .table-bordered table-hover color-t Table-container-Inquietudes .Color-resultados .Campo:last-child
        border-radius 0 0 10px 10px
     .table-bordered table-hover color-t Table-container-Inquietudes > .thead2 > .Campo > .Table-container-Inquietudes-elements Encabezados, .table > .Color-resultados > .Campo > .Table-container-Inquietudes-elements Encabezados, .table > tfoot > .Campo > .Table-container-Inquietudes-elements Encabezados, .table > .thead2 > .Campo > .Table-container-Inquietudes-elements, .table > .Color-resultados > .Campo > .Table-container-Inquietudes-elements, .table > tfoot > .Campo > .Table-container-Inquietudes-elements
        border-top none!important
     .table-bordered table-hover color-t Table-container-Inquietudes-bordered2 .Color-resultados .Campo
        border-bottom 1px solid #ddd!important
     glyphicon-search
        line-height 0 !important
        top -17px   
    
        
    .Table-container-Inquietudes .Table-container-Inquietudes-elements:nth-of-type(1):before {content:"Asunto"} 
    .Table-container-Inquietudes .Table-container-Inquietudes-elements:nth-of-type(2):before {content:"Descripcion"} 
    .Table-container-Inquietudes .Table-container-Inquietudes-elements:nth-of-type(3):before {content:"Fecha "} 
    .Table-container-Inquietudes .Table-container-Inquietudes-elements:nth-of-type(4):before {content:"jardin"} 
    .Table-container-Inquietudes .Table-container-Inquietudes-elements:nth-of-type(5):before {content:"usuario"} 
                    
    /**************************FIN DISEÑO TABLAS****************************/
