
<div class="ListInquietud">

     <h3 class="Contacto-Title">Mis Inquietudes</h3>

                  <table class="table-bordered table-hover color-t Table-container-Inquietudes">
                            <thead class="thead2">
                       <div class="col-md-3">
                                <tr class="Campo">

				<th  class="Table-container-Inquietudes-elements Encabezados">Asunto</th>
				<th  class="Table-container-Inquietudes-elements Encabezados">Descripción</th>
				<th  class="Table-container-Inquietudes-elements Encabezados">Fecha</th>
				<th  class="Table-container-Inquietudes-elements Encabezados">Jardin Infantil</th>
				<th  class="Table-container-Inquietudes-elements Encabezados">Usuario</th>
				<th  class="Table-container-Inquietudes-elements Encabezados">Respuestas</th>
			</tr>
		</thead>
		 <tbody class="Color-resultados">
		    <tr ng-repeat="inquietud in vm.inquietud">
				<td class="Table-container-Inquietudes-elements">{{inquietud.asunto }}</td>
				<td class="Table-container-Inquietudes-elements">{{inquietud.descripcion}}</td>
				<td class="Table-container-Inquietudes-elements">{{inquietud.fecha}}</td>
				<td class="Table-container-Inquietudes-elements">{{inquietud.idJardinInfantil.nombreJardin}}</td>
				<td class="Table-container-Inquietudes-elements">{{inquietud.idUsuarios.nombres}}</td>
				<td>
				<a href="#respuestasinquietudes/view/{{inquietud.idInquietud}}">Ver Respuesta</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
