
/****** DISEÑO SOLO PARA LAS TABLAS DE AUDITORIA******///
.au-content-list
    list-style none
    display inline-block
    padding 0
    font-size 1em
    margin 0
    border-radius 0 0 10px 10px
    border solid 2px #53abc1
    width 20em

.au-title-item
    background #53abc1
    color #fff
    display block
    text-align right
    
.au-item-list,
.au-item-list-hijos
    background #f9f9f9
    color #515151
    padding .5em
    display inline-block
    text-align center
    
.au-item-list
    min-width 75%
    
.au-item-list-hijos
    min-width 55%

.au-container
    display inline-block
    padding 0 0 15px 15px

.title-au
    margin 0
    background #53abc1
    color #fff
    width 100%
    padding .5em
    font-size 1.5em
    border-radius 15px 15px 0 0
    
@media screen and (max-width: 490px)
    .au-container
        padding .5em 0

@media screen and (max-width: 300px)
    .au-container
        width 100%
        
    .au-content-list
        width 100%

@media screen and (max-width: 285px)
    .au-title-item
        text-align center
    
    .au-item-list
        display block
        min-width 100%
    
    .au-item-list-hijos
        display block
/******SE TERMINA EL DISEÑO SOLO PARA TABLAS DE AUDITORIA****/
        




