<div class="ListInquietud">
  <h2 class="Contacto-Title">Auditoria Hijos</h2>
  <div ng-repeat="hijosau in vm.hijosau">

      <div class="au-container">
        <h3 class="title-au">Datos Antiguos</h3>
        <ul class="au-content-list">            
            <span class="au-title-item">
              Primer nombre          
              <li class="au-item-list-hijos">{{hijosau.primerNombreOld}}</li>
            </span>
            <span class="au-title-item">
              Segundo nombre
              <li class="au-item-list-hijos">{{hijosau.segundoNombreOld}}</li>
            </span>
            <span class="au-title-item">
              Apellidos
              <li class="au-item-list-hijos">{{hijosau.apellidosOld}}</li>
            </span>
            <span class="au-title-item">
              Registro civil
              <li class="au-item-list-hijos">{{hijosau.registroCivilOld}}</li>
            </span>
        </ul>
      </div>

      <div class="au-container">
        <h3 class="title-au">Datos Nuevos</h3>
        <ul class="au-content-list"> 
          <span class="au-title-item">
            Primer nombre
            <li class="au-item-list-hijos">{{hijosau.primerNombreNew}}</li>
          </span>
          <span class="au-title-item">
            Segundo Nombre
            <li class="au-item-list-hijos">{{hijosau.segundoNombreNew}}</li>
          </span>
          <span class="au-title-item">
            Apellidos
            <li class="au-item-list-hijos">{{hijosau.apellidosNew}}</li>
          </span>
          <span class="au-title-item">
            Registro civil
            <li class="au-item-list-hijos">{{hijosau.registroCivilNew}}</li>
          </span>
        </ul>
      </div>

  </div>
</div>
