.Cuentas
  display flex
  justify-content center
  align-items center
  flex-direction column
  background #FFFFFF
  color #515151
  padding 1em
  &-Center
    width 100%
    display flex
    justify-content space-around
  &-links
    text-decoration none
    color #313131
    text-align left
  &-links:hover
    color #515151
  &-container
    max-width 32%
    display inline-block
    text-align center
    vertical-align top
    &-list
      display block
      margin-top 5px
      min-height 12em
      text-align center
  &-img
    max-width 100%
    display block
  &-title
    display block
    font-weight bold
    border-left solid 2px #616161
    margin 0
    padding .5em
  &-list
    border-left: solid 2px #616161;
    text-align justify
    padding 5px
    margin-bottom 1em
    list-style square
    > li 
      margin-left 1.5em
.valor
  font-weight bold
  text-align center
  margin 0
.btn
  box-shadow 3px 3px 5px 0px #000
.btn2-registro
  bottom 20em !important
  vertical-align bottom !important
  margin-top 1em
  
@media screen and (max-width: 992px)
  .Cuentas-container
    max-width 21em
    &-list
      min-height 22em
  .Cuentas-img
    max-width 20em
md-input-container label:not(.md-no-float):not(.md-container-ignore), md-input-container .md-placeholder
  color #717171 !important

@media screen and (max-width: 925px)
  .Cuentas-container
      max-width 30%
  .Cuentas-img
      max-width 100%

@media screen and (max-width: 925px)
  .Cuentas-img
      max-width 16em

  .Cuentas-container
      max-width 16em

@media screen and (max-width: 767px)
  .Cuentas-Center
    flex-direction column
    align-items center    
  .Cuentas-container
    max-width 27em
    margin-bottom 4%
    &-list
      min-height auto
  .Cuentas-img
    max-width 25em

@media screen and (max-width: 367px)
  .Cuentas
    padding 0
    &-img
      max-width 100%
    &-container
      max-width 100%
    &-title
      font-size 1.3em
    .valor
      font-size 1.3em