<div class="Cuentas">

    <h2 class="Work-title">Registrate</h2>
		<div class="Cuentas-Center">
		<!-- Padres -->
        <a href="#/usuarios/cuentas/padres" class="Cuentas-links">
			<article class="Cuentas-container">
			    <img class="Cuentas-img" src="/imagenes/familia1.jpg" alt="...">
				    <div class="Cuentas-container-list">
				        <h3 class="Cuentas-title">Cuenta Gratis</h3>
			    	    <ul class="Cuentas-list">
				        	<li>Podras visualizar los jardines infantiles vinculados a la plataforma.</li>
				        	<li>Comunicación constante con el jardín infantil al cual te has vinculado.</li>
				        	<li>Recibe publicidad gratuita de interes para tus hijos.</li>
				        	<li>Califica los jardines y da una opinión sobre ellos.</li>
                  			<li>Registrar un niño al aplicativo.</li>
				        	<li>Generar una inquietud al jardín donde esta vinculados el niño.</li>
				        </ul>
				    </div>
            	<a href="#/usuarios/cuentas/padres" class="btn btn-danger btn2-registro" role="button">Obtener</a>
			</article>
        </a>
		<!-- Jardines -->
        <a href="#/usuarios/cuentas/jardines" class="Cuentas-links">
			<article class="Cuentas-container">
			    <img class="Cuentas-img" src="/imagenes/administrador.jpg" alt="...">
					<div class="Cuentas-container-list">
				        <h3 class="Cuentas-title">Admin Jardín</h3>
				        <ul class="Cuentas-list">
				        	<li class="">Administra un jardín infantil de forma gratuita.</li>
				        	<li class="">Publicar anuncios para los usuarios que estan vinculados con su jardín infantil.</li>
				        	<li class="">Comunicación de forma constante con tus usuarios.</li>
                  			<li class="">Crear anuncios con referencia a las actividades que se esperan realizar en su jardín.</li>
				        	<li class="">Publicar ofertas de cupos.</li>
                  			<li class="">Vincular los niños que estan inscriptos al jardín.</li>
				        </ul>
				    </div>
                <a href="#/usuarios/cuentas/jardines" class="btn btn-danger btn2-registro" role="button">Obtener</a>
			</article>
        </a>
		<!-- Empresas -->
        <a href="#/usuarios/cuentas/empresas" class="Cuentas-links">
			<div class="Cuentas-container" >
			        <img class="Cuentas-img" src="/imagenes/empresario.jpg" alt="...">
				    <div class="Cuentas-container-list">
				     	<h3 class="Cuentas-title">Empresario</h3>
				        <ul class="Cuentas-list">
				        	<li>Publica tus anuncios publicitarios dentro de la plataforma.</li>
				        	<li>Envia información de interez para los usuarios de forma rápida y gratuita.</li>
                			<li>Podran mostrar productos de  interes para los usuarios.</li>
                 			<li>Podran mostrar productos que se encuentren en promoción en el momento.</li>
				        </ul>
				    </div>
            	<a href="#/usuarios/cuentas/empresas" class="btn btn-danger btn2-registro" role="button">Obtener</a>
			</div>
		</a>
		</div>
</div>

</div>
