.Cuentas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  color: #515151;
  padding: 1em;
}
.Cuentas-Center {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.Cuentas-links {
  text-decoration: none;
  color: #313131;
  text-align: left;
}
.Cuentas-links:hover {
  color: #515151;
}
.Cuentas-container {
  max-width: 32%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.Cuentas-container-list {
  display: block;
  margin-top: 5px;
  min-height: 12em;
  text-align: center;
}
.Cuentas-img {
  max-width: 100%;
  display: block;
}
.Cuentas-title {
  display: block;
  font-weight: bold;
  border-left: solid 2px #616161;
  margin: 0;
  padding: 0.5em;
}
.Cuentas-list {
  border-left: solid 2px #616161;
  text-align: justify;
  padding: 5px;
  margin-bottom: 1em;
  list-style: square;
}
.Cuentas-list > li {
  margin-left: 1.5em;
}
.valor {
  font-weight: bold;
  text-align: center;
  margin: 0;
}
.btn {
  box-shadow: 3px 3px 5px 0px #000;
}
.btn2-registro {
  bottom: 20em !important;
  vertical-align: bottom !important;
  margin-top: 1em;
}
@media screen and (max-width: 992px) {
  .Cuentas-container {
    max-width: 21em;
  }
  .Cuentas-container-list {
    min-height: 22em;
  }
  .Cuentas-img {
    max-width: 20em;
  }
}
md-input-container label:not(.md-no-float):not(.md-container-ignore),
md-input-container .md-placeholder {
  color: #717171 !important;
}
@media screen and (max-width: 925px) {
  .Cuentas-container {
    max-width: 30%;
  }
  .Cuentas-img {
    max-width: 100%;
  }
}
@media screen and (max-width: 925px) {
  .Cuentas-img {
    max-width: 16em;
  }
  .Cuentas-container {
    max-width: 16em;
  }
}
@media screen and (max-width: 767px) {
  .Cuentas-Center {
    flex-direction: column;
    align-items: center;
  }
  .Cuentas-container {
    max-width: 27em;
    margin-bottom: 4%;
  }
  .Cuentas-container-list {
    min-height: auto;
  }
  .Cuentas-img {
    max-width: 25em;
  }
}
@media screen and (max-width: 367px) {
  .Cuentas {
    padding: 0;
  }
  .Cuentas-img {
    max-width: 100%;
  }
  .Cuentas-container {
    max-width: 100%;
  }
  .Cuentas-title {
    font-size: 1.3em;
  }
  .Cuentas .valor {
    font-size: 1.3em;
  }
}
