@import 'nib';

.navbar
    margin-bottom: 0
.parraf
    font-size 18px
.text-j
    font-size 30px
    font-weight bold
.trans-div
    backgound grey

.nube
  position absolute
  margin 0
  z-index 1
  &1
    left 7em
    top 8em
    width 16%
  &2
    right 23em
    top 8em
    width 9%
  &3
    right 10em
    bottom 12em
    width 12%

.Work,
.Work2,
.Work3,
.Contacto
  text-align center

.Work2,
.Work3
  display flex
  justify-content center
  align-items center

.Work
  background url(/imagenes/Inicio.jpg) center no-repeat
  color #fff
  position relative
  text-shadow 1px 1px 5px #515151

.Work2
  color  #515151
  background url(/imagenes/Fondo2.jpg) no-repeat
  padding 2em

.Work3
  background #53ABC1
  padding 2em
  color #f9f9f9

.Work-title
  z-index 3
  padding 2%
  font-size 4em
  font-weight bold
  margin 0 0 1% 0

.Work2-title
  font-size 2.5em
  font-weight bold
  margin 0
  padding-bottom .5em

.Work-item
  display inline-block
  padding 10em 0 8% 0
  vertical-align top

.Work2-item
  display flex
  justify-content center
  align-items center
  padding 4% 0 4% 0

.Work2-list-text
  display inline-block;
  text-align justify
  padding .5em
  font-size 1.7em
  list-style none

.Work2-list-list
  font-family 'Salsa', cursive !important

.Work-item
  display inline-block
  padding 0 0 8% 0
  vertical-align top

.Work-text
  display inline-block
  max-width 18em
  padding 1.8em
  text-align left
  font-size 2em
  text-shadow 1px 1px 5px #515151

.Work-text3
  padding 1em
.Work-imageContainer,
.Work2-imageContainer
    margin 0
    display inline-block
    vertical-align top

.Work-imageContainer-movile
  display none

.Work-image
  width 23em
  display inline-block

.Work-image2
  margin-right 3em
  vertical-align top

.glyphicon-list-alt
  font-size 3em
.textoJardin
    width 55em
.jardinTexto
    padding 2em
.Contacto
  background url(/imagenes/Fondo4.jpg) no-repeat
  background-size cover
  background-position center center
  color #515151
  padding 3em
  display flex
  justify-content center
  align-items center
  &-Text-left
    display inline-block
    vertical-align top
    padding 1em 1em 5em 2em
    max-width 24em
    &-movile
      display none
  &-Title
    font-size 50px
    padding-bottom .5em
    margin 0
    font-weight bold
  &-description
    text-align left
    font-size 20px
    margin 0 auto
  &-form
    display inline-block
    vertical-align top
    padding 2em
    width 26em
    text-align center
  &-formInput,
  &-textArea
    display block
    margin 0 auto
    padding 1em
    width 22em
  &-formInput2
    border solid 1px #919191
    border-radius 15px 15px 0 0
  &-formInput:focus,
  &-textArea:focus
    outline 0px
  &-textArea
    min-height 8em
    position relative
  &-Bottom
    margin 0
    padding 1em
    border none
    border-radius 0 0 15px 15px
    color #eeeeee
    background #717171
    width 22em
    font-weight bold



/******************** Estilos para SlideShow o Carousel **********************/

.carousel-indicators .active
  background-color #515151

.carousel-indicators li
  border 1px solid #515151

.carousel-control
  color #515151

.carousel-img-jardin
  width 50%
  height auto
  display inline-block
  vertical-align top
  padding-top 3%

.carousel-caption
    right 0
    left 0
    padding-bottom 30px
    top 0em

.carousel .carousel-inner .item .container .carousel-caption h1
  color #515151
  margin 0 0 .5em 0

.carousel-control-left,
.carousel-control-right
  display flex
  justify-content center
  align-items center

/****** Inicio - Diseño para Primer imagen del Slideshow *********/
.carousel .carousel-inner .item .img-slider
  width 100%

.carousel .carousel-inner .item .container .carousel-caption  p
  font-size 2.5em
  text-shadow 1px 1px 5px #515151

/****** Fin - Diseño para Primer imagen del Slideshow *********/

/****** Inicio - Diseño para Segunda imagen del Slideshow *********/

.carousel .carousel-inner .item .container .carousel-caption .carousel-caption-content2
  width 100%

.carousel .carousel-inner .item .container .carousel-caption .carousel-caption-content2 .Slide-img1,
.carousel .carousel-inner .item .container .carousel-caption .carousel-caption-content2 .Slide-img2
  display inline-block
  margin 0
  padding 0 3em
  vertical-align top

.carousel .carousel-inner .item .container .carousel-caption .carousel-caption-content2 .Slide-img1
  width 18%
.carousel .carousel-inner .item .container .carousel-caption .carousel-caption-content2 .Slide-img2
  width 21%

.carousel .carousel-inner .item .container .carousel-caption .carousel-caption-content2 .Slide-recursos
  display inline-block
  width 25%
  
.carousel .carousel-inner .item .container .carousel-caption .carousel-caption-content2 .Slide-recursos .Slide-recursos-content
  display flex
  justify-content center
  align-items center
  flex-direction column
  height 30em

.carousel .carousel-inner .item .container .carousel-caption .carousel-caption-content2 .Slide-recursos .Slide-recursos-content p
  font-size 1.5em
  color #515151

/****** Inicio - Diseño para Segunda imagen del Slideshow *********/
.carousel .carousel-inner .item .container .carousel-caption .carousel-caption-content p
  font-size 2em !important
  padding-bottom 1em !important
  width 70%
  display block
  margin 0 auto
/****** Fin - Diseño para Segunda imagen del Slideshow *********/  

/******************** Inicio - Diseño para remplazar Slideshow en movil **************/

.jardinapp
  display none
/******************** Fin - Diseño para remplazar Slideshow en movil **************/

/******************** Inicio de Media Querys *********************************/

@media screen and (max-width: 1350px)
  .carousel .carousel-inner .item .container .carousel-caption .carousel-caption-content2 .Slide-recursos .Slide-recursos-content
    height 24em

@media screen and (max-width: 1300px)
  .carousel-img-jardin
    padding-top 0

@media screen and (max-width: 1250px)
  .carousel .carousel-inner .item .container .carousel-caption .carousel-caption-content2 .Slide-recursos .Slide-recursos-content
    height 19em 

@media screen and (max-width: 1100px)
  .carousel .carousel-inner .item .container .carousel-caption .carousel-caption-content2 .Slide-recursos .Slide-recursos-content
    height 12em
    
@media screen and (max-width: 1050px)
  .carousel .carousel-inner .item .container .carousel-caption .carousel-caption-content2 .Slide-recursos .Slide-recursos-content p
    font-size 1.2em
    text-shadow 0 0 0

@media screen and (max-width: 1000px)
  .carousel .carousel-inner .item .container .carousel-caption p
    font-size 1.5em
    
  .carousel .carousel-inner .item .container .carousel-caption .carousel-caption-content2 .Slide-recursos .Slide-recursos-content .inicio-Create-Button
    padding .7em
    width 7em
  
  .carousel .carousel-inner .item .container .carousel-caption .titulo-slide
    font-size 2em
    
  .carousel .carousel-inner .item .container .carousel-caption .carousel-caption-content2 .Slide-img1
    width 21%
  
  .carousel .carousel-inner .item .container .carousel-caption .carousel-caption-content2 .Slide-img2
    width 25%
    

  
@media screen and (max-width: 900px)
  .carousel .carousel-inner .item .container .carousel-caption .carousel-caption-content2 .Slide-recursos .Slide-recursos-content
    height 10em
    
  .carousel .carousel-inner .item .container .carousel-caption .carousel-caption-content2 .Slide-recursos .Slide-recursos-content .inicio-Create-Button
    padding 0.7em
    width 6em
    font-size 0.8em
    
@media screen and (max-width: 885px)
  .Work2,
  .Work3
    padding 0
  .Contacto
    padding 1em
    &-Text-left
      display none
      padding 1em 1em 0em 2em
      &-movile
        display initial
  .Work-title
    font-size 4em
  .Work2-title
    font-size 2em
  .Work-text3
    padding 0
  .Work-text
    max-width 16em
    padding 1em
    font-size 1.8em
  .Work2-imageContainer
    display none
  .Work-imageContainer-movile
    display initial
  .nube
    display none
    
@media screen and (max-width: 800px)
  .carousel .carousel-inner .item .container .carousel-caption .titulo-slide
    font-size 1.5em
  
  .carousel .carousel-inner .item .container .carousel-caption .carousel-caption-content2 .Slide-recursos .Slide-recursos-content p
    font-size 1em
  
  .carousel .carousel-inner .item .container .carousel-caption .carousel-caption-content2 .Slide-recursos .Slide-recursos-content
    height 8em

@media screen and (max-width: 767px)
  .Contacto
    flex-direction column
  .Work2-item
    flex-direction column
  .Work-image2
    margin-right 0

@media screen and (max-width: 750px)
  .carousel .carousel-inner .item .container .carousel-caption p
    font-size 1.2em
    
@media screen and (max-width: 700px)
  .carousel .carousel-inner .item .container .carousel-caption .carousel-caption-content2 .Slide-img2
    width 30%
  
  .carousel .carousel-inner .item .container .carousel-caption .carousel-caption-content2 .Slide-img1
    width 25%
    
  .carousel .carousel-inner .item .container .carousel-caption .carousel-caption-content2 .Slide-recursos
    width 29%

@media screen and (max-width: 650px)
  .carousel-img-jardin
    width 45%
  .carousel .carousel-inner .item .container .carousel-caption p
    font-size 1em
    
  .carousel .carousel-inner .item .container .carousel-caption .titulo-slide
    font-size 1em
  
  .carousel .carousel-inner .item .container .carousel-caption .carousel-caption-content2 .Slide-recursos .Slide-recursos-content p
    font-size .8em
  

@media screen and (max-width: 600px)
  .carousel .carousel-inner .item .container .carousel-caption .carousel-caption-content2 .Slide-recursos .Slide-recursos-content .inicio-Create-Button
    margin 0
    
@media screen and (max-width: 550px)
  .carousel-indicators li
    display none    

  .carousel .carousel-inner .item .container .carousel-caption .carousel-caption-content2 .Slide-recursos .Slide-recursos-content
    height 6em
    
  .carousel .carousel-inner .item .container .carousel-caption .carousel-caption-content2 .Slide-recursos .Slide-recursos-content .inicio-Create-Button
    margin 0

@media screen and (max-width: 500px)
  .carousel .carousel-inner .item .container .carousel-caption .carousel-caption-content2 .Slide-img2
    width 35%
  
  .carousel .carousel-inner .item .container .carousel-caption .carousel-caption-content2 .Slide-img1
    width 30%
    
@media screen and (max-width: 450px)
  .Work2-title
    text-align center

  .Work2-list-text
    max-width 16em
    font-size 1.4em

  .Work-text
    font-size 1.4em
    text-align justify

  .Work-image
      width 20em

  .Work-image2
    max-width 18em

  .Contacto-description
    text-align justify
    font-size 1.3em

  .Contacto
      padding 1em

  .Contacto-form
      padding 0
      
  .slide-inicio
    display none
  
  .jardinapp
    display block
    background url(/imagenes/svg/Slide1.svg) no-repeat
    background-size cover
    background-position center center
    text-align center
    &-img
      width 100%
      padding 1.5%
    &-description
      color #FFF
      text-shadow 1px 1px 1px #515151
      padding-bottom 5%


@media screen and (max-width: 380px)
  .Work-title
    font-size 3em

  .Contacto-formInput,
  .Contacto-textArea
    width 17em

  .Contacto-Bottom
    width 17em

  .Contacto-form
    display block
    width auto

  .Work2-title
    font-size 1.8em

  .Contacto-Title
    font-size 2.4em

@media screen and (max-width: 295px)
  .Work-image
    width 16em

  .Work-image2
    max-width 15em

@media screen and (max-width: 255px)
  .Contacto-formInput,
  .Contacto-textArea
      width 14em

  .Contacto-Bottom
      width 14em

@media screen and (max-width: 241px)
  .Work-image
    width 13em

  .Work-image2
    max-width 9em

  .Work-title
    font-size: 1.7em

  .Work2-title
    font-size 1.4em

  .Contacto-Title
    font-size 2em

@media screen and (max-width: 212px)
  .Work-title
      font-size 1.4em

  .Work-text
    font-size 1em

  .Work2-title
      font-size 1.2em

  .Work2-list-text
      font-size 1.1em

  .Contacto-Title
      font-size 1.4em

  .Contacto-description
    font-size 1em

  .Contacto-Text-left
    padding .5em

  .Contacto-formInput,
  .Contacto-textArea
      width 12em

  .Contacto-Bottom
      width 12em
