<!-- SlideShow o Carousel -->

<div id="carousel-id" class="carousel slide slide-inicio" data-ride="carousel">

    <!-- Botones inferiores -->
	<ol class="carousel-indicators">
		<li data-target="#carousel-id" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-id" data-slide-to="1" class=""></li>
	<!-- comentado provicionalmente mientras se crea la tercer imagen
		<li data-target="#carousel-id" data-slide-to="2" class=""></li>
	-->
	</ol>

    <!-- Contenedor de las Secciones -->
	<div class="carousel-inner">

        <!-- Contenedor de Imagen 1 -->
		<div class="item active">
			<img class="img-slider" data-src="/imagenes/svg/Slide1.svg" src="/imagenes/svg/Slide1.svg" />
			<div class="container">
				<div class="carousel-caption">
            <img src="/imagenes/svg/jardin.svg" class="carousel-img-jardin animated rubberBand" />
					  <p>Los mejores jardines infantiles de tú ciudad</p>
				</div>
			</div>
		</div>

        <!-- Contenedor de Imagen 2 -->
		<div class="item">
			<img class="img-slider" data-src="/imagenes/svg/Slide2.svg" src="/imagenes/svg/Slide2.svg" />
			<div class="container">
				<div class="carousel-caption">
                <h1 class="titulo-slide">Aprende jugando con Plimplin y Tortugin</h1>
                    <div class="carousel-caption-content2">
                        <img src="/imagenes/svg/plinplin.svg" class="Slide-img1 animated bounceInLeft" />
                        <div class="Slide-recursos">
							<div class="Slide-recursos-content">
	                            <p>Descarga recursos didácticos para tus hijos.</p>
	                            <a href="#/actividades" class="Jardines-Create-Button inicio-Create-Button">Acceder</a>
							</div>
                        </div>
                        <img src="/imagenes/svg/tortugin.svg" class="Slide-img2 animated bounceInRight" />
                    </div>
				</div>
			</div>
		</div>

        <!-- Contenedor de Imagen 3 -->
<!--
		<div class="item">
			<img class="img-slider" data-src="/imagenes/svg/Slide3.svg" src="/imagenes/svg/Slide3.svg" />
			<div class="container">
				<div class="carousel-caption">
				</div>
			</div>
		</div>
-->
	</div>

    <!-- Flecha Izquierda -->
	<a class="left carousel-control carousel-control-left" href="#carousel-id" data-slide="prev"><span class="glyphicon icon-circle-left"></span></a>

    <!-- Flecha Derecha -->
	<a class="right carousel-control carousel-control-right" href="#carousel-id" data-slide="next"><span class="glyphicon icon-circle-right"></span></a>
</div>
<!-- Fin SlideShow o carousel -->


<!-- este div es para reemplazar el slideshow en resoluciones de 450px -->
<div class="jardinapp">
    <img src="/imagenes/svg/jardin.svg" alt="" class="jardinapp-img">
    <p class="jardinapp-description">Los mejores jardines infantiles de tú ciudad</p>
</div>


            <section class="Work2">
                    <article class="Work2-item">

                        <figure class="Work2-imageContainer">
                            <img src="/imagenes/svg/doc.svg" class="Work-image Work-image2"/>
                        </figure>

                        <ul class="Work2-list-text">
                            <h2 class="Work2-title">Infórmate de:</h2>
                            <li class="Work2-list-list"><span class="icon-checkmark"></span>La ubicación del jardín infantil.</li>
                            <li class="Work2-list-list"><span class="icon-checkmark"></span>Sus normas de seguridad y salubridad.</li>
                            <li class="Work2-list-list"><span class="icon-checkmark"></span>Las actividades que realiza.</li>
                            <li class="Work2-list-list"><span class="icon-checkmark"></span>Eventos.</li>
                            <li class="Work2-list-list"><span class="icon-checkmark"></span>Y mucho más.</li>
                        </ul>

                        <figure class="Work-imageContainer Work-imageContainer-movile">
                            <img src="/imagenes/svg/doc.svg" class="Work-image Work-image2"/>
                        </figure>
                    </article>
            </section>

            <section class="Work3">
                    <article class="Work2-item">
                        <p class="Work-text Work-text3">
                            Encontrarás recursos educativos, para que tus hijos aprendan y refuercen
                            sus conocimientos de una manera divertida y agradable.
                        </p>

                        <figure class="Work-imageContainer">
                            <img src="/imagenes/svg/mac.svg" class="Work-image"/>
                        </figure>
                    </article>
            </section>

<section class="Contacto">

        <div class="Contacto-Text-left Contacto-Text-left-movile">
            <h2 class="Contacto-Title">Contáctanos</h2>
             <p class="Contacto-description">Es muy importante para nosotros saber tú opinión,
                                      queremos mejorar y tú puedes ayudarnos.</p>
        </div>


        <form name="projectForm" ng-submit="vm.contactar()"  class="Contacto-form Contacto-formInput2">
            <!--input type="text" placeholder="Nombre" ng-model="vm.contacto.nombre" class="Contacto-formInput Contacto-formInput2"/ -->
						<!--form  -->


						<md-input-container class="md-block" >
							<label>nombre *</label>
							<input md-maxlength="50" minlength="3" required md-no-asterisk name="nombre" ng-pattern="/^[a-zA-Z ñáéíóú \s]*$/" ng-model="vm.contacto.nombre" >
							<div ng-messages="projectForm.nombre.$error" >

								<div ng-message="required">Este campo es requerido.</div>
								<div ng-message="md-maxlength">El nombre debe contener maximo 50 caracteres</div>
								<div ng-message="minlength">El nombre debe contener almenos de 3 caràcteres.</div>
								<div ng-message="pattern">Debe contener solo letras</div>
							</div>
						</md-input-container>





						<!--md-input-container class="md-block" >
							<label>nombre *</label>
							<input md-maxlength="50" minlength="5" required md-no-asterisk name="email" ng-model="vm.contacto.email" >
							<div ng-messages="projectForm.email.$error" >
								<div ng-message="email">Debe ser un email valido.</div>
								<div ng-message="required">Este campo es requerido.</div>
								<div ng-message="md-maxlength">El asunto debe contener menos de 50 caracteres.</div>
								<div ng-message="minlength">El asunto debe contener almenos de 10 caracteres.</div>
>>>>>>> e8071a55c5cd260d04216b054308545c09b99325
							</div>
						</md-input-container -->

				<md-input-container class="md-block">
		                <label>Email *</label>
		                <input type="email"  required md-no-asterisk minlength="10"  md-maxlength="100" ng-pattern="/^.+@.+\..+$/" name="email" ng-model="vm.contacto.email">
		                <div ng-messages="projectForm.email.$error">
		                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">Este campo es requerido, debe tener minimo 10 y máximo 100 carácteres, arroba(@) y punto(.) sin espacios.</div>
		                </div>

		            </md-input-container>

						<md-input-container class="md-block">
							<label>Mensaje *</label>
							<input md-maxlength="300"  minlength="15" required md-no-asterisk name="mensaje"  ng-pattern="/^[a-zA-Z ñáéíóú ; . , 0-9 \s]*$/" ng-model="vm.contacto.mensaje">
							<div ng-messages="projectForm.mensaje.$error" ng-show="projectForm.mensaje.$dirty" >

								<div ng-message="required">Este campo es requerido.</div>
								<div ng-message="minlength">La descripción debe tener almenos 15 carácteres.</div>
								<div ng-message="md-maxlength">La descripción no debe pasar de 300 carácteres.</div>
								<div ng-message="pattern">No se permiten caracteres especiales</div>
							</div>
						</md-input-container>


            <button type="submit" class="btn btn-success">Enviar</button>
       </form>

        <div class="Contacto-Text-left">
            <h2 class="Contacto-Title">Contáctanos</h2>
             <p class="Contacto-description">Es muy importante para nosotros saber tu opinión,
                                      queremos mejorar y tu puedes ayudarnos.</p>
        </div>

</section>
