<div class="detallespedidos-create">
  <h2 class="Work-title">Crea Pedido</h2>
  <div class="Jardines-Create-Container">
    <form ng-submit="projectForm.$valid && vm.create()" name="projectForm" novalidate>

      </md-input-container>
      <md-input-container class="md-block">
        <label>Nombre del Servicio</label>
        <input required md-no-asterisk name="pedidos" ng-model="vm.banner.nombre" readonly>
      </md-input-container>

        <md-input-container class="md-block">
          <label>Precio</label>
          <input  required md-no-asterisk name="pedidos" ng-model="vm.banner.precio" readonly>
        </md-input-container>

        <!--md-input-container class="md-block">
            <label>Cantidad *</label>
            <input required md-no-asterisk name="cantidad" ng-model="vm.detalle.cantidad" ng-change="vm.calcular()">
        </md-input-container-->
        <md-input-container  class="md-block">
          <label>Duración del Servicio</label>
          <md-select required md-no-asterisk ng-model="vm.detalle.duracionMeses" ng-change="vm.calcular()" name="Cantidad">
            <md-option value="1">1 mes</md-option>
            <md-option value="2">2 meses</md-option>
            <md-option value="3">3 meses</md-option>
            <md-option value="4">4 meses</md-option>
            <md-option value="6">6 meses</md-option>
            <md-option value="7">7 meses</md-option>
            <md-option value="8">8 meses</md-option>
            <md-option value="9">9 meses</md-option>
            <md-option value="10">10 meses</md-option>
            <md-option value="11">11 meses</md-option>
            <md-option value="12">12 meses</md-option>
          </md-select>
          <div class="errors" ng-messages="projectForm.Cantidad.$error">
            <div ng-message="required">Este campo es obligatorio.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
            <label ng-show="vm.detalle.fechaFin">Fecha Fín</label>
            <input  required md-no-asterisk name="cantidad" value="{{vm.detalle.fechaFin | date:'fullDate'}}" readonly>
        </md-input-container>

         <md-input-container class="md-block">
         <label ng-show="vm.resultado">Total</label>
            <input  required md-no-asterisk name="pedidos" value="{{vm.resultado}}" readonly>
         </md-input-container>

    <button type="submit" class="Jardines-Create-Button" name="button">Guardar</button>
  </form>
</div>
</div>
