.detallespedidos-create {
  background-image: url("/imagenes/Fondo4.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 2%;
  color: #515151;
}
.detalles-content-list .detalles-title-item label,
.detalles-content-list .detalles-title-item md-select {
  display: inline-block;
  color: #515151;
  padding: 1em;
  width: 65%;
  margin: 0;
  height: 3em;
  text-align: center;
  border-bottom: 1px solid #53abc1;
}
.detalles-content-list .detalles-title-item label {
  background: #eee;
}
.detalles-content-list .detalles-title-item md-select {
  background: #fff;
}
.detalles-content-list .detalles-title-item md-select md-select-value span {
  text-align: center;
}
.detalles-content-list {
  border: 2px solid #53abc1;
  border-radius: 4px;
  padding: 0;
}
.detalles-container {
  max-width: 40em;
  margin: 0 auto;
}
.detalles-title-item {
  background: #53abc1;
  color: #fff;
  display: block;
  text-align: right;
  font-weight: bold;
  font-size: 1.2em;
  border-bottom: 1px solid;
}
.content-datapicker {
  display: block;
  padding: 1em;
}
.Work-title2 {
  padding-bottom: 2%;
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 50px;
  text-shadow: 1px 1px 2px #0288d1;
}
.lista-detalles-pedidos {
  background-image: url("/imagenes/vale.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.lista-detalles-trans {
  padding: 4em 0 8em 0;
  background-color: rgba(53,181,2,0.27);
}
/******************responsive tablas **********************/
.detallespedidos-create {
  background-image: url("/imagenes/Fondo4.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 2%;
  color: #515151;
}
.detallespedidos-create-Campo-transparent {
  padding: 4em 0 8em 0;
  background-color: rgba(2,181,80,0.51);
}
.detallespedidos-create-transparent2 {
  padding: 3em 0 9em 0;
  background-color: rgba(0,200,200,0.7);
}
.content-datapicker {
  display: block;
  padding: 1em;
}
.Work-title2 {
  padding-bottom: 2%;
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 50px;
  text-shadow: 1px 1px 2px #0288d1;
}
.lista-detalles-pedidos {
  background-image: url("/imagenes/vale.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.lista-detalles-trans {
  padding: 4em 0 8em 0;
  background-color: rgba(53,181,2,0.27);
}
/******************responsive tablas **********************/
.table-bordered table-hover color-t Table-container-Detalles {
  width: 80%;
  border-collapse: separate;
  border: solid #0389ab 3px !important;
  border-radius: 15px;
  background: #f9f9f9 !important;
  margin: 1em;
}
.table-bordered table-hover color-t Table-container-Detalles .thead2 Campo .Table-container-Detalles-elements Encabezados {
  padding: 0.5em;
  background: #0389ab;
  color: #f9f9f9;
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
}
.table-bordered table-hover color-t Table-container-Detalles .thead2 Campo .Table-container-Detalles-elements Encabezados:first-child {
  border-radius: 5px 0 0 0;
}
.table-bordered table-hover color-t Table-container-Detalles .thead2 Campo .Table-container-Detalles-elements Encabezados:last-child {
  border-radius: 0 5px 0 0;
}
.table-bordered > .thead2 > Campo > .Table-container-Detalles-elements Encabezados,
.table-bordered > .Color-resultados > Campo > .Table-container-Detalles-elements Encabezados,
.table-bordered > tfoot > Campo > .Table-container-Detalles-elements Encabezados,
.table-bordered > .thead2 > Campo > .Table-container-Detalles-elements,
.table-bordered > .Color-resultados > Campo > .Table-container-Detalles-elements,
.table-bordered > tfoot > Campo > .Table-container-Detalles-elements {
  border: none;
}
.table-bordered table-hover color-t Table-container-Detalles .Color-resultados Campo:nth-child(odd) .Table-container-Detalles-elements {
  background: #eee;
}
.table-bordered table-hover color-t Table-container-Detalles .Color-resultados Campo .Table-container-Detalles-elements {
  padding: 0.6em;
  border-top: 1px solid #027592 !important;
  border-right: 1px solid #027592 !important;
}
.table-bordered table-hover color-t Table-container-Detalles .Color-resultados Campo .Table-container-Detalles-elements:last-child {
  border-right: none;
}
.table-bordered table-hover color-t Table-container-Detalles .Color-resultados Campo:nth-child(odd):last-child {
  border-radius: 0 0 5px 5px;
}
.table-bordered table-hover color-t Table-container-Detalles .thead2 Campo .Table-container-Detalles-elements Encabezados {
  padding: 0.5em;
  background: #0389ab;
  color: #f9f9f9;
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
}
.table-bordered table-hover color-t Table-container-Detalles .Color-resultados Campo:hover {
  background: #d3d3d3;
}
table .Color-resultados Campo:last-child:hover {
  border-radius: 0 0 5px 5px;
}
Campo {
  background: #ff4f00;
  color: #fff;
  border: 1px solid #ff4f00;
}
.Color-resultados {
  color: #000 !important;
}
.Table-container-Detalles {
  width: 100%;
}
.Table-container-Detalles-elements {
  padding: 0.7em 1em;
  text-align: center;
}
@media only screen and (max-width: 760px), (min-width: 760px) and (max-width: 1024px) {
  .table-bordered table-hover color-t Table-container-Detalles.Table-container-Detalles,
  .Table-container-Detalles .thead2,
  .Table-container-Detalles .Color-resultados,
  .Table-container-Detalles .Table-container-Detalles-elements Encabezados,
  .Table-container-Detalles .Table-container-Detalles-elements,
  .Table-container-Detalles .Campo {
    display: block;
  }
  .Table-container-Detalles .thead2 .Campo {
    position: absolute;
    display: none;
  }
  .color-t {
    border: none;
  }
  .Table-container-Detalles {
    margin-bottom: 2em;
  }
  .Table-container-Detalles .Table-container-Detalles-elements {
    position: relative;
    padding-left: 40%;
    font-size: 12px;
    text-align: left;
  }
  .Table-container-Detalles .Table-container-Detalles-elements:before {
    position: absolute;
    top: 0px;
    left: -1px;
    width: 34%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0em 2%;
    background: #0389ab;
    color: #f9f9f9;
    font-weight: bold;
  }
  .table-bordered table-hover color-t Table-container-Detalles {
    border: solid #0389ab 2px;
  }
  .table-bordered table-hover color-t Table-container-Detalles .Color-resultados .Campo .Table-container-Detalles-elements {
    padding: 0;
    text-align: center;
    line-height: 2.5;
    border-right: none;
  }
  .table-bordered table-hover color-t Table-container-Detalles .Color-resultados .Campo:hover {
    background: none;
  }
  .table-bordered table-hover color-t Table-container-Detalles .Color-resultados .Campo .Table-container-Detalles-elements:hover {
    background: #d3d3d3;
  }
  .table-bordered table-hover color-t Table-container-Detalles .Color-resultados .Campo:first-child {
    border-radius: 10px 10px 0 0;
  }
  .table-bordered table-hover color-t Table-container-Detalles .Color-resultados .Campo:first-child .Table-container-Detalles-elements:first-child {
    border-top: none;
    border-radius: 10px;
  }
  .table-bordered table-hover color-t Table-container-Detalles .Color-resultados .Campo:first-child .Table-container-Detalles-elements:first-child span:first-child {
    border-radius: 10px 0 0 0;
  }
  .table-bordered table-hover color-t Table-container-Detalles .Color-resultados .Campo:last-child .Table-container-Detalles-elements:last-child span {
    border-radius: 0 0 0 10px;
  }
  .table-bordered table-hover color-t Table-container-Detalles .Color-resultados .Campo:last-child {
    border-radius: 0 0 10px 10px;
  }
  .table-bordered table-hover color-t Table-container-Detalles > .thead2 > .Campo > .Table-container-Detalles-elements Encabezados,
  .table > .Color-resultados > .Campo > .Table-container-Detalles-elements Encabezados,
  .table > tfoot > .Campo > .Table-container-Detalles-elements Encabezados,
  .table > .thead2 > .Campo > .Table-container-Detalles-elements,
  .table > .Color-resultados > .Campo > .Table-container-Detalles-elements,
  .table > tfoot > .Campo > .Table-container-Detalles-elements {
    border-top: none !important;
  }
  .table-bordered table-hover color-t Table-container-Detalles-bordered2 .Color-resultados .Campo {
    border-bottom: 1px solid #ddd !important;
  }
  glyphicon-search {
    line-height: 0 !important;
    top: -17px;
  }
  .Table-container-Detalles .Table-container-Detalles-elements:nth-of-type(1):before {
    content: "Usuarios";
  }
  .Table-container-Detalles .Table-container-Detalles-elements:nth-of-type(2):before {
    content: "Nombre servicio";
  }
  .Table-container-Detalles .Table-container-Detalles-elements:nth-of-type(3):before {
    content: "precio";
  }
  .Table-container-Detalles .Table-container-Detalles-elements:nth-of-type(4):before {
    content: "duracion";
  }
  .Table-container-Detalles .Table-container-Detalles-elements:nth-of-type(5):before {
    content: "Cantidad";
  }
  .Table-container-Detalles .Table-container-Detalles-elements:nth-of-type(6):before {
    content: "Fecha inicio";
  }
  .Table-container-Detalles .Table-container-Detalles-elements:nth-of-type(7):before {
    content: "Fecha fin";
  }
}
