
<div class="ListInquietud">
		<h3 class="Contacto-Title">Mis Pedidos</h3>

    <table class="table-bordered table-hover color-t Table-container-Detalles">
        <thead class="thead2">
            <div class="col-md-3">
                <tr class="Campo">
                <th class="Table-container-Detalles-elements Encabezados">Usuarios</th>
                <th class="Table-container-Detalles-elements Encabezados">Nombre Servicio</th>
                <th class="Table-container-Detalles-elements Encabezados">Precio</th>
                <th class="Table-container-Detalles-elements Encabezados">Duracion Meses</th>
                <th class="Table-container-Detalles-elements Encabezados">Fecha Inicio</th>
                <th class="Table-container-Detalles-elements Encabezados">Fecha Fin</th>
								<th class="Table-container-Detalles-elements Encabezados">Deshabilitar</th>
            </tr>
        </thead>
                  <tbody class="Color-resultados">
            <tr ng-repeat="detallespedidos in vm.detallespedidos">
                <td class="Table-container-Detalles-elements">{{detallespedidos.pedidos.idUsuarios.nombres}}</td>
                <td class="Table-container-Detalles-elements">{{detallespedidos.servicios.nombre}}</td>
                <td class="Table-container-Detalles-elements">{{detallespedidos.servicios.precio}}</td>
                <td class="Table-container-Detalles-elements">{{detallespedidos.duracionMeses}}</td>
                <td class="Table-container-Detalles-elements">{{detallespedidos.fechaInicio | date:'mediumDate'}}</td>
                <td class="Table-container-Detalles-elements">{{detallespedidos.fechaFin | date:'mediumDate'}}</td>
								<td><md-switch ng-model="detallespedidos.pedidos.estado" aria-label="Switch 6" ng-change="vm.onChange(detallespedidos.pedidos.idPedido)">
								</md-switch></td>
            </tr>
        </tbody>
    </table>
</div>
</div>
