@font-face
  font-family hand
  src url('/fonts/hand.ttf')
.error-messages
    color: #C83737
.Login
    background-size cover
    background-position center center
    color #FFF
    font-weight bold
    min-height 91vh
    display flex
    justify-content flex-start
    align-items center
    flex-direction column
    background-image url(/imagenes/svg/LoginDesk.svg)
    overflow-y hidden
.Email
    font-size 15px
    color #fff
    text-shadow 1px 0px 4px #000
    font-weight lighter

.Work-title-login
    width 100%
    padding 3%
    font-size 3em
    margin 0
    font-weight bold
    color #f9f9f9
    //font-family  'Raleway', hand
    background #9D450D
    border-radius 6px 6px
    box-shadow 4px 6px #652F0A
    position relative

.Work-title-login:after
    content: url('/imagenes/svg/tornillos.svg')
    position absolute
    left 5px
    top 0

.Work-title-login:before
    content: url('/imagenes/svg/tornillos.svg')
    position absolute
    right 5px
    top 0

.navbar-form
    width 25em
    display inline-block
    color #f9f9f9
    text-align center
    background-image url(/imagenes/svg/imagenCuerda.svg)
    background-repeat no-repeat
    background-position center
    margin 0

.form-control-login
    padding: 5%
    width 20em
    margin 1em
    opacity 1
    background #9D450D
    border-radius 6px 6px
    box-shadow 5px 5px #652F0A
    border-color #7A421D
    border none

.botonLogin
    color #FFF
    background #9D450D
    border-radius 6px 6px
    box-shadow 4px 4px #652F0A
    border-color #A76031
    padding 5%
    font-size 1.5em
    font-weight bold
    font-family 'Salsa', cursive
    letter-spacing 2px
    text-transform uppercase
    text-align center
    cursor pointer
    width 14em
    line-height 1.5em

.botonLogin:hover
    background #A7480B

.content-botonLogin
    position relative
    padding 0
    margin 0

.content-botonLogin:after
    content: url('/imagenes/svg/tornillos2.svg')
    position absolute
    left 20px
    top 0

.content-botonLogin:before
    content: url('/imagenes/svg/tornillos2.svg')
    position absolute
    right 20px
    top 0
    z-index 1

.Cuerda
    padding-top 55%

.buho
    position absolute
    right 5%
    top 26%

.buho:hover
    content: url(/imagenes/svg/buho2.svg)

.manzana1,
.manzana2,
.manzana3
    position absolute
    display inline-block

.manzana1
    top 9%
    left 26%

.manzana2
    top 14%
    right 34%

.manzana3
    top 12%
    right 3%

.transition
    width 100%
    height 2em
    position absolute
    background-image url(/imagenes/svg/transition.svg)
    background-position center center

@media screen and (max-width: 1950px)
    .Login
        min-height 79vh
    .Cuerda
        padding-top 68%
    .navbar-form
        padding 0px 15px
    .buho
        top 29%
    .Cuerda
        padding-top 18%
@media screen and (max-width: 1700px)
    .buho
        right 4.5%
    .Cuerda
        padding-top 33%
@media screen and (max-width: 1650px)
    .buho
        right 3%
@media screen and (max-width: 1600px)
    .buho
        right 2.5%
    .manzana1
        top 12%
        left 23%

@media screen and (max-width: 1570px)
    .buho
        right 1.5%

@media screen and (max-width: 1540px)
    .buho
        right .5%

@media screen and (max-width: 1400px)
    .Login
        min-height 78vh
    .Cuerda
        padding-top 32%
    .buho
        top 20%
        right 9%
@media screen and (max-width: 1366px)
    .buho
        top 28%
        right 4%
    .Cuerda
        padding-top 16%

@media screen and (max-width: 1200px)
    .manzana3
        right none
        left 5%


@media screen and (max-width: 900px)
    .Cuerda
        padding-top 25%
    .navbar-form
        padding 0px 15px
    .Login
        background-image url(/imagenes/svg/loginMovil.svg)

@media screen and (max-width: 885px)
    .Cuerda
        padding-top 45%

@media screen and (max-width: 650px)
    .Cuerda
        padding-top 53%

@media screen and (max-width: 600px)
    .Cuerda
        padding-top 3%
    .buho
        display none

    .manzana1,
    .manzana2,
    .manzana3
        display none

@media screen and (max-width: 367px)
    .Cuerda
      padding-top 18%
    .buho
      top 29%
      right 39%
@media screen and (max-width: 365px)
    .buho
        top 31%
        right: 33%;
    .Cuerda
        padding-top 22%

@media screen and (min-width: 200px) and (max-width: 370px)
    .navbar-form
        width 15em
    .form-control-login
        margin 1em 2em 1em 0
        width 12em
    .botonLogin
        width 8.5em
