<div class="Login">

    <img src="/imagenes/svg/manzana.svg" class="manzana1 animated hinge hvr-wobble-bottom"/>
    <img src="/imagenes/svg/manzana.svg" class="manzana2 animated swing hvr-wobble-bottom"/>
    <img src="/imagenes/svg/manzana.svg" class="manzana3 animated swing hvr-wobble-bottom"/>

    <figure class="LoginCuerda">
      <img src="/imagenes/svg/imagenCuerda2.svg" class="Cuerda"/>
    </figure>

    <form class="navbar-form navbar" ng-submit="vm.signIn()" novalidate name="loginForm">


      <div class="form-group">

      <h3 class="Work-title-login hvr-wobble-horizontal">LOGIN</h3>

        <input type="email" name="email" autocomplete="off" class="form-control-login hvr-wobble-horizontal" placeholder="Email" required ng-model="vm.user.email">
        <div ng-messages="loginForm.email.$error" role="alert">
          <div ng-message="email" class="Email">Ingrese un email valido con @ y punto</div>
        </div>

        <input type="password" class="form-control-login hvr-wobble-horizontal" placeholder="Password" required ng-model="vm.user.password">
        <div class="content-botonLogin hvr-wobble-horizontal">
          <input ng-disabled="loginForm.$invalid" type="submit" class="botonLogin hvr-wobble-horizontal " value="Enviar">
        </div>
      </div>

    </form>

      <img src="/imagenes/svg/buho.svg" class="buho animated zoomInRight"/>

</div>
<div class="transition"></div>
