<div class="Jardines-Create">
    <h2 class="Work-title">Registrar Niño</h2>
      <div class="Jardines-Create-Container">
        <form ng-submit="vm.create()" name="projectForm">


                    <md-input-container class="md-block"  flex-gt-sm>
                        <label>Primer Nombre</label>
                        <input
                        name="Pnombre"
                        ng-model="vm.hijos.primerNombre"
                        minlength="3"
                        md-maxlength="10"
                        required md-no-asterisk
                        ng-pattern="/^[a-zA-ZñáéíóúÑÁÉÍÓÚ]*$/">
                        <div ng-messages="projectForm.Pnombre.$error" ng-show="projectForm.Pnombre.$dirty"  role="alert">
                          <div ng-message="minlength">Este campo no admite menos de 3 caracteres. </div>
                          <div ng-message="md-maxlength">Este campo no admite más de 10 caracteres. </div>
                          <div ng-message="pattern">Ingrese solo letras sin espacios. </div>
                          <div ng-message="required">Este campo es requerido.</div>
                        </div>
                      </md-input-container>


                    <md-input-container class="md-block"  flex-gt-sm>
                        <label>Segundo Nombre </label>
                        <input
                         name="Snombre"
                         ng-model="vm.hijos.segundoNombre"
                         minlength="3"
                         md-maxlength="10"
                         ng-maxlength="10"
                         ng-pattern="/^[a-zA-ZñáéíóúÑÁÉÍÓÚ]*$/">
                         <div ng-messages="projectForm.Snombre.$error" ng-show="projectForm.Snombre.$dirty"  role="alert">
                           <div ng-message="minlength">Este campo no admite menos de 3 caracteres. </div>
                           <div ng-message="md-maxlength">Este campo no admite más de 10 caracteres. </div>
                           <div ng-message="pattern">Ingrese solo letras sin espacios. </div>
                           <div ng-message="required">Este campo es requerido.</div>
                         </div>
                      </md-input-container>


                      <md-input-container class="md-block"  flex-gt-sm>
                        <label>Apellidos </label>
                        <input
                         name="apellido"
                         ng-model="vm.hijos.apellidos"
                         required md-no-asterisk
                         minlength="3"
                         md-maxlength="35"
                         type="text"
                         ng-pattern="/^[a-zA-ZñáéíóúÑÁÉÍÓÚ \s]*$/">
                         <div ng-messages="projectForm.apellido.$error" ng-show="projectForm.apellido.$dirty"  role="alert">
                           <div ng-message="minlength">Este campo no admite menos de 2 caracteres. </div>
                           <div ng-message="md-maxlength">Este campo no admite más de 35 caracteres. </div>
                           <div ng-message="pattern">Ingrese solo letras. </div>
                           <div ng-message="required">Este campo es requerido.</div>
                         </div>
                      </md-input-container>



                      <md-input-container class="md-block"  flex-gt-sm>
                      <label>Registro</label>
                        <input
                        name="registro"
                        required md-no-asterisk
                        minlength="6"
                        autocomplete="off"
                        md-maxlength="15"
                        ng-model="vm.hijos.registroCivil"
                        ng-blur="vm.validaRegistro()"
                        ng-pattern="/^[0-9]*$/">
                        <div ng-messages="projectForm.registro.$error" ng-show="projectForm.registro.$dirty"  role="alert">
                          <div ng-message="minlength">Este campo no admite menos de 6 caracteres. </div>
                          <div ng-message="md-maxlength">Este campo no admite más de 15 caracteres. </div>
                          <div ng-message="pattern">Ingrese solo letras. </div>
                          <div ng-message="required">Este campo es requerido.</div>
                        </div>
                        <p style=" color: rgb(221,44,0); font-size: 11px;" ng-show="vm.valRegistro">Este número de registro ya existe</p>
                      </md-input-container>


          <!--<md-input-container class="md-block">
            <label>Tipo de Documento</label>
            <input md-maxlength="11" required md-no-asterisk name="documento" ng-model="vm.hijos.idTipoDocumento.idTipoDocumento">
            <div ng-messages="projectForm.documento.$error">
              <div ng-message="required">Este campo es requerido.</div>
              <div ng-message="md-maxlength">La descripción no debe pasar de 11 carácteres.</div>
            </div>
          </md-input-container> -->
          <button type="submit" class="Jardines-Create-Button" name="button">Guardar</button>
        </form>
      </div>
</div>
