.label {
  display: none;
}
.Paginador position relative >md-select {
  position: absolute;
  left: 50%;
  top: 25px;
  transform: translateX(-66%);
}
.Paginador position relative >md-select >md-select-value {
  color: #f00 !important;
}
.Paginador >.md-icon-button.md-button.md-ink-ripple {
  margin-left: 0;
  padding: 0;
  text-align: left;
}
.md-table-pagination {
  border-top: none;
}
.md-table-pagination > .buttons:not(:first-child),
.md-table-pagination > .limit-select:not(:first-child) {
  margin-left: 0;
}
.md-table-pagination > .buttons > .label + .md-button.md-icon-button {
  margin-left: 0;
  right: 6em;
}
.md-table-pagination > .buttons > .md-button.md-icon-button {
  right: 2em;
}
/*************** fin Paginador ***************/
/*************** Buscador  ******************/
.filters {
  width: 52%;
  padding: 0.5em;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 5px 0 #515151;
  margin-bottom: 0 !important;
}
.glyphicon-search {
  position: relative;
  top: -31px;
  display: inline-block;
  line-height: 1;
  margin-left: 49%;
}
/************* fin Buscador *****************/
/***********************DISEÑO TABLAS***********************/
.table-bordered table-hover color-t Table-container-Hijos {
  width: 80%;
  border-collapse: separate;
  border: solid #0389ab 3px !important;
  border-radius: 15px;
  background: #f9f9f9 !important;
  margin: 1em;
}
.table-bordered table-hover color-t Table-container-Hijos .thead2 Campo .Table-container-Hijos-elements Encabezados {
  padding: 0.5em;
  background: #0389ab;
  color: #f9f9f9;
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
}
.table-bordered table-hover color-t Table-container-Hijos .thead2 Campo .Table-container-Hijos-elements Encabezados:first-child {
  border-radius: 5px 0 0 0;
}
.table-bordered table-hover color-t Table-container-Hijos .thead2 Campo .Table-container-Hijos-elements Encabezados:last-child {
  border-radius: 0 5px 0 0;
}
.table-bordered > .thead2 > Campo > .Table-container-Hijos-elements Encabezados,
.table-bordered > .Color-resultados > Campo > .Table-container-Hijos-elements Encabezados,
.table-bordered > tfoot > Campo > .Table-container-Hijos-elements Encabezados,
.table-bordered > .thead2 > Campo > .Table-container-Hijos-elements,
.table-bordered > .Color-resultados > Campo > .Table-container-Hijos-elements,
.table-bordered > tfoot > Campo > .Table-container-Hijos-elements {
  border: none;
}
.table-bordered table-hover color-t Table-container-Hijos .Color-resultados Campo:nth-child(odd) .Table-container-Hijos-elements {
  background: #eee;
}
.table-bordered table-hover color-t Table-container-Hijos .Color-resultados Campo .Table-container-Hijos-elements {
  padding: 0.6em;
  border-top: 1px solid #027592 !important;
  border-right: 1px solid #027592 !important;
}
.table-bordered table-hover color-t Table-container-Hijos .Color-resultados Campo .Table-container-Hijos-elements:last-child {
  border-right: none;
}
.table-bordered table-hover color-t Table-container-Hijos .Color-resultados Campo:nth-child(odd):last-child {
  border-radius: 0 0 5px 5px;
}
.table-bordered table-hover color-t Table-container-Hijos .thead2 Campo .Table-container-Hijos-elements Encabezados {
  padding: 0.5em;
  background: #0389ab;
  color: #f9f9f9;
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
}
.table-bordered table-hover color-t Table-container-Hijos .Color-resultados Campo:hover {
  background: #d3d3d3;
}
table .Color-resultados Campo:last-child:hover {
  border-radius: 0 0 5px 5px;
}
Campo {
  background: #ff4f00;
  color: #fff;
  border: 1px solid #ff4f00;
}
.Color-resultados {
  color: #000 !important;
}
.Table-container-Hijos {
  width: 100%;
}
.Table-container-Hijos-elements {
  padding: 0.7em 1em;
  text-align: center;
}
@media only screen and (max-width: 760px), (min-width: 760px) and (max-width: 1024px) {
  .table-bordered table-hover color-t Table-container-Hijos.Table-container-Hijos,
  .Table-container-Hijos .thead2,
  .Table-container-Hijos .Color-resultados,
  .Table-container-Hijos .Table-container-Hijos-elements Encabezados,
  .Table-container-Hijos .Table-container-Hijos-elements,
  .Table-container-Hijos .Campo {
    display: block;
  }
  .Table-container-Hijos .thead2 .Campo {
    position: absolute;
    display: none;
  }
  .color-t {
    border: none;
  }
  .Table-container-Hijos {
    margin-bottom: 2em;
  }
  .Table-container-Hijos .Table-container-Hijos-elements {
    position: relative;
    padding-left: 40%;
    font-size: 12px;
    text-align: left;
  }
  .Table-container-Hijos .Table-container-Hijos-elements:before {
    position: absolute;
    top: 0px;
    left: -1px;
    width: 34%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0em 2%;
    background: #0389ab;
    color: #f9f9f9;
    font-weight: bold;
  }
  .table-bordered table-hover color-t Table-container-Hijos {
    border: solid #0389ab 2px;
  }
  .table-bordered table-hover color-t Table-container-Hijos .Color-resultados .Campo .Table-container-Hijos-elements {
    padding: 0;
    text-align: center;
    line-height: 2.5;
    border-right: none;
  }
  .table-bordered table-hover color-t Table-container-Hijos .Color-resultados .Campo:hover {
    background: none;
  }
  .table-bordered table-hover color-t Table-container-Hijos .Color-resultados .Campo .Table-container-Hijos-elements:hover {
    background: #d3d3d3;
  }
  .table-bordered table-hover color-t Table-container-Hijos .Color-resultados .Campo:first-child {
    border-radius: 10px 10px 0 0;
  }
  .table-bordered table-hover color-t Table-container-Hijos .Color-resultados .Campo:first-child .Table-container-Hijos-elements:first-child {
    border-top: none;
    border-radius: 10px;
  }
  .table-bordered table-hover color-t Table-container-Hijos .Color-resultados .Campo:first-child .Table-container-Hijos-elements:first-child span:first-child {
    border-radius: 10px 0 0 0;
  }
  .table-bordered table-hover color-t Table-container-Hijos .Color-resultados .Campo:last-child .Table-container-Hijos-elements:last-child span {
    border-radius: 0 0 0 10px;
  }
  .table-bordered table-hover color-t Table-container-Hijos .Color-resultados .Campo:last-child {
    border-radius: 0 0 10px 10px;
  }
  .table-bordered table-hover color-t Table-container-Hijos > .thead2 > .Campo > .Table-container-Hijos-elements Encabezados,
  .table > .Color-resultados > .Campo > .Table-container-Hijos-elements Encabezados,
  .table > tfoot > .Campo > .Table-container-Hijos-elements Encabezados,
  .table > .thead2 > .Campo > .Table-container-Hijos-elements,
  .table > .Color-resultados > .Campo > .Table-container-Hijos-elements,
  .table > tfoot > .Campo > .Table-container-Hijos-elements {
    border-top: none !important;
  }
  .table-bordered table-hover color-t Table-container-Hijos-bordered2 .Color-resultados .Campo {
    border-bottom: 1px solid #ddd !important;
  }
  glyphicon-search {
    line-height: 0 !important;
    top: -17px;
  }
  .Table-container-Hijos .Table-container-Hijos-elements:nth-of-type(1):before {
    content: "Primer Nombre";
  }
  .Table-container-Hijos .Table-container-Hijos-elements:nth-of-type(2):before {
    content: "segundo Nombre";
  }
  .Table-container-Hijos .Table-container-Hijos-elements:nth-of-type(3):before {
    content: "Apellidos";
  }
  .Table-container-Hijos .Table-container-Hijos-elements:nth-of-type(4):before {
    content: "Registro civil";
  }
  .Table-container-Hijos .Table-container-Hijos-elements:nth-of-type(5):before {
    content: "Tipo documento";
  }
  .Table-container-Hijos .Table-container-Hijos-elements:nth-of-type(6):before {
    content: "jardin";
  }
  .Table-container-Hijos .Table-container-Hijos-elements:nth-of-type(7):before {
    content: "Padre";
  }
}
.Table-container-Hijos .Table-container-Hijos-elements:nth-of-type(8):before {
  content: "Editar";
}
@media screen and (max-width: 800px) {
  .glyphicon-search {
    margin-left: 48%;
  }
}
/****************** Fin Responsive Table Movile *********************/
@media screen and (max-width: 382px) {
  .ui-column-responsive {
    float: none;
    width: 100%;
  }
  Table .Color-resultados .color-campo:first-child .Table-container-Hijos-elements Encabezados:first-child span:first-child {
    border-radius: 10px 10px 0 0;
  }
  .table-bordered table-hover color-t Table-container-Hijos .Color-resultados .color-campo:last-child .Table-container-Hijos-elements Encabezados:last-child span {
    border-radius: 0;
  }
}
/****************** Fin Responsive Table Movile *********************/
@media screen and (max-width: 650px) {
  .glyphicon-search {
    margin-left: 46%;
  }
}
@media screen and (max-width: 450px) {
  .filters {
    width: 80%;
  }
  .glyphicon-search {
    margin-left: 72%;
  }
}
@media screen and (max-width: 300px) {
  .glyphicon-search {
    margin-left: 68%;
  }
}
