
<div class="ListInquietud">
           <h2 class="Contacto-Title">Lista de Niños</h2>
     <table class="table-bordered table-hover color-t Table-container-Hijos">
            <input type="text" style="margin-bottom:2em" ng-model="vm.busqueda" class="filters" placeholder="Buscar" />
            		<span class="glyphicon glyphicon-search"></span>
                       <thead class="thead2">
						 <div class="col-md-3">
                                <tr class="Campo">
									<th  class="Table-container-Hijos-elements Encabezados">Primer Nombre</th>
									<th  class="Table-container-Hijos-elements Encabezados">Segúndo Nombre</th>
									<th  class="Table-container-Hijos-elements Encabezados">apellidos</th>
									<th  class="Table-container-Hijos-elements Encabezados">Registro Civil</th>
									<th  class="Table-container-Hijos-elements Encabezados">Tipo de Documento</th>
									<th  class="Table-container-Hijos-elements Encabezados">Jardin Infantil</th>
									<th  class="Table-container-Hijos-elements Encabezados">Padre</th>
                                    <th  class="Table-container-Hijos-elements Encabezados">Editar</th>
								</tr>
							</thead>
				      		 <tbody class="Color-resultados">
						        <tr ng-repeat="hijo in vm.hijos | limitTo: vm.query.limit: (vm.query.page - 1) * vm.query.limit | filter:vm.busqueda">
											<td class="Table-container-Hijos-elements">{{hijo.primerNombre}}</td>
											<td class="Table-container-Hijos-elements">{{hijo.segundoNombre}}</td>
											<td class="Table-container-Hijos-elements">{{hijo.apellidos}}</td>
											<td class="Table-container-Hijos-elements">{{hijo.registroCivil}}</td>
											<td class="Table-container-Hijos-elements">{{hijo.idTipoDocumento.nombreTipoDocumento}}</td>
											<td class="Table-container-Hijos-elements">{{hijo.idJardinInfantil.nombreJardin}}</td>
											<td class="Table-container-Hijos-elements">{{hijo.idUsuarios.nombres}}</td>
											<td class="Table-container-Hijos-elements"><a href="#/hijos/update/{{hijo.idHijo}}"><span class="glyphicon glyphicon-pencil" ></span></a></td>
						        </tr>
				      		</tbody>
			    		</table>

			    		<md-table-pagination
							class="Paginador"
							md-limit="vm.query.limit"
							md-limit-options="[5,10,15]"
							md-page="vm.query.page"
							md-total="{{vm.hijos.length}}">
						</md-table-pagination>

			<a class="Jardines-Create-Button" ng-href="#/hijos/create">Registrar Niño</a>

	</div>
