<div class="row">
<h2>Lista Paises</h2>


<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Paises</h3>
	</div>
	<div class="panel-body">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Id</th>
          <th>Nombre</th>
				</tr>
			</thead>
      <tbody>
        <tr  ng-repeat="paises in vm.paises">
          <td>{{ paises.idPais }}</td>
          <td>{{paises.nombrePais}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</div>
