<div class="ListInquietud">
  <h2 class="Contacto-Title">Auditoria de Jardines Infantiles</h2>
  <div ng-repeat="jardinesinfantilesau in vm.jardinesinfantilesau">

    <div class="au-container" >
      <h3 class="title-au">Datos Antiguos</h3>
        <ul class="au-content-list">
          <span class="au-title-item">
              Nombre
            <li class="au-item-list">{{jardinesinfantilesau.nombreJardinOld}}</li>
          </span>
          <span class="au-title-item">
              Dirección
            <li class="au-item-list">{{jardinesinfantilesau.direccionOld}}</li>
          </span>
          <span class="au-title-item">
              Celular
            <li class="au-item-list">{{jardinesinfantilesau.celularOld}}</li>
          </span>
          <span class="au-title-item">
              Teléfono
            <li class="au-item-list">{{jardinesinfantilesau.telefonoOld}}</li>
          </span>
          <span class="au-title-item">
              Email
            <li class="au-item-list">{{jardinesinfantilesau.emailOld}}</li>
          </span>
          <span class="au-title-item">
              Sitio Web
            <li class="au-item-list">{{jardinesinfantilesau.sitiowebOld}}</li>
          </span>
          <span class="au-title-item">
              Estado
            <li class="au-item-list">{{jardinesinfantilesau.estadoOld}}</li>
          </span>
          <span class="au-title-item">
              Imagen
            <li class="au-item-list"><img ng-src="{{'data:image/png;base64,' + jardinesinfantilesau.foto}}"></li>
          </span>
        </ul>
    </div>

    <div class="au-container">
      <h3 class="title-au">Datos Nuevos</h3>
        <ul class="au-content-list">
          <span class="au-title-item">
            Nombre
            <li class="au-item-list">{{jardinesinfantilesau.nombreJardinNew}}</li>
          </span>
          <span class="au-title-item">
            Dirección
            <li class="au-item-list">{{jardinesinfantilesau.direccionNew}}</li>
          </span>
          <span class="au-title-item">
            Celular
            <li class="au-item-list">{{jardinesinfantilesau.celularNew}}</li>
          </span>
          <span class="au-title-item">
            Teléfono
            <li class="au-item-list">{{jardinesinfantilesau.telefonoNew}}</li>
          </span>
          <span class="au-title-item">
            Email
            <li class="au-item-list">{{jardinesinfantilesau.emailNew}}</li>
          </span>
          <span class="au-title-item">
            Sitio Web
            <li class="au-item-list">{{jardinesinfantilesau.sitiowebNew}}</li>
          </span>
          <span class="au-title-item">
            Estado
            <li class="au-item-list">{{jardinesinfantilesau.estadoNew}}</li>
          </span>
          <span class="au-title-item">
            Imagen
            <li class="au-item-list"><img ng-src="{{'data:image/png;base64,' + jardinesinfantilesau.foto}}"></li>
          </span>
        </ul>
    </div>

</div>
<a class="Jardines-Create-Button" href="#/usuariosau">Usuarios</a>
</div>
