<footer class="Footer">
      <div class="Footer-Social-Links">
        <h3 class="Footer-Social-Title" id="Footer-color">Siguenos en:</h3>
          <a target="_blank"  href="https://www.facebook.com/?_rdr=p" class="Footer-link-icons icon-facebook hvr-pulse-grow">
          </a>
          <a target="_blank"  href="https://twitter.com/?lang=es" class="Footer-link-icons icon-twitter hvr-pulse-grow"></a>
          <a target="_blank"  href="https://twitter.com/?lang=es" class="Footer-link-icons icon-google-plus hvr-pulse-grow"></a>
      </div>
     <div class="Footer-List">
          <a href="#" class="Footer-link">Contáctenos</a>
          <a href="#" class="Footer-link">Términos y Condiciones</a>
          <a href="#" class="Footer-link">Jardines afiliados</a>
      </div>

</footer>
