@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot?pctvmd");
  src: url("/fonts/icomoon.eot?pctvmd#iefix") format('embedded-opentype'), url("/fonts/icomoon.ttf?pctvmd") format('truetype'), url("/fonts/icomoon.woff?pctvmd") format('woff'), url("/fonts/icomoon.svg?pctvmd#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
/* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-google-plus:before,
.icon-facebook:before,
.icon-twitter:before {
  padding-left: 0.5em;
  color: #fff;
  font-size: 2em;
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-envelop:before {
  content: "\e945";
  color: #39a9a4;
  font-size: 1em;
}
.icon-checkmark:before {
  content: "\ea10";
  color: #515151;
  font-size: 0.8em;
  margin-right: 7px;
}
.icon-circle-right:before {
  content: "\ea42";
  font-size: 2em;
}
.icon-circle-left:before {
  content: "\ea44";
  font-size: 2em;
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
padding-left
}
.Footer {
  background: #0288d1;
  color: #fff;
}
.Footer-Social-Links {
  padding: 1.5em;
  background: #c83737;
  text-align: center;
}
.Footer-Social-Title {
  font-size: 25px;
  text-align: center;
  margin: 0;
  padding-bottom: 0.5em;
}
.Footer-link-icons {
  text-decoration: none;
  text-align: center;
}
.Footer-List {
  display: block;
  margin: 0;
  padding: 0;
  background: #b73333;
  text-align: center;
}
.Footer-link {
  display: inline-block;
  text-decoration: none;
  padding: 0.5em;
  color: #fff;
  font-size: 17px;
}
.Footer-link:hover {
  color: #f9f9f9;
}
.Footer-color {
  background: #c83737 !important;
}
@media screen and (min-width: 760px) and (max-width: 950px) {
  .Footer-Title {
    font-size: 30px;
    padding: 0.5em;
  }
  .Footer-form {
    max-width: 45%;
  }
  .Footer-description {
    max-width: 45%;
  }
  .icon-circle-right:before {
    font-size: 1.7em;
  }
  .icon-circle-left:before {
    font-size: 1.7em;
  }
}
@media screen and (min-width: 350px) and (max-width: 759px) {
  .Footer-Title {
    font-size: 30px;
    padding: 0.5em;
  }
  .Footer-form {
    max-width: 70%;
  }
  .Footer-description {
    width: 90%;
  }
}
@media screen and (max-width: 750px) {
  .icon-circle-right:before {
    font-size: 1.5em;
  }
  .icon-circle-left:before {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 650px) {
  .icon-circle-right:before {
    font-size: 1.2em;
  }
  .icon-circle-left:before {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 550px) {
  .icon-circle-right:before {
    font-size: 1em;
  }
  .icon-circle-left:before {
    font-size: 1em;
  }
}
