.Anuncios-title {
  font-weight: bold;
}
.Jardines-List-Content {
  margin-bottom: 1em;
}
.ui-column-responsive descripcion {
  padding-bottom: 8em;
}
.panel-title {
  text-align: center;
  margin: 0 auto;
}
.fecha {
  display: block;
  text-align: center;
  padding: 0.5em;
}
.md-datepicker-input {
  min-width: 200px;
}
.Anuncios-Create-Container {
  max-width: 100%;
  margin: 0 auto;
  background: rgba(255,255,255,0.5);
  box-shadow: 1px 1px 5px 0 #515151;
  padding: 3em;
  border-radius: 15px;
}
/********DISEÑO PARA TABLAS************/
.Campo {
  color: #fff;
  border: 1px solid #0389ab;
}
.thead2 {
  background: #0389ab;
  margin: 0 !important;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #027592;
  border-right: 1px solid #027592;
  padding: 0.6em;
}
.table-bordered table-hover color-t Table-container-AnunciosAdmin {
  width: 80%;
  border-collapse: separate;
  border: solid #0389ab 3px !important;
  border-radius: 15px;
  background: #f9f9f9 !important;
  margin: 1em;
}
.table-bordered table-hover color-t Table-container-AnunciosAdmin .thead2 Campo .Table-container-AnunciosAdmin-elements Encabezados {
  padding: 0.5em;
  background: #0389ab;
  color: #f9f9f9;
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
}
.table-bordered table-hover color-t Table-container-AnunciosAdmin .thead2 Campo .Table-container-AnunciosAdmin-elements Encabezados:first-child {
  border-radius: 5px 0 0 0;
}
.table-bordered table-hover color-t Table-container-AnunciosAdmin .thead2 Campo .Table-container-AnunciosAdmin-elements Encabezados:last-child {
  border-radius: 0 5px 0 0;
}
.table-bordered > .thead2 > Campo > .Table-container-AnunciosAdmin-elements Encabezados,
.table-bordered > .Color-resultados > Campo > .Table-container-AnunciosAdmin-elements Encabezados,
.table-bordered > tfoot > Campo > .Table-container-AnunciosAdmin-elements Encabezados,
.table-bordered > .thead2 > Campo > .Table-container-AnunciosAdmin-elements,
.table-bordered > .Color-resultados > Campo > .Table-container-AnunciosAdmin-elements,
.table-bordered > tfoot > Campo > .Table-container-AnunciosAdmin-elements {
  border: none;
}
.table-bordered table-hover color-t Table-container-AnunciosAdmin .Color-resultados Campo:nth-child(odd) .Table-container-AnunciosAdmin-elements {
  background: #eee;
}
.table-bordered table-hover color-t Table-container-AnunciosAdmin .Color-resultados Campo .Table-container-AnunciosAdmin-elements {
  padding: 0.6em;
  border-top: 1px solid #027592 !important;
  border-right: 1px solid #027592 !important;
}
.table-bordered table-hover color-t Table-container-AnunciosAdmin .Color-resultados Campo .Table-container-AnunciosAdmin-elements:last-child {
  border-right: none;
}
.table-bordered table-hover color-t Table-container-AnunciosAdmin .Color-resultados Campo:nth-child(odd):last-child {
  border-radius: 0 0 5px 5px;
}
.table-bordered table-hover color-t Table-container-AnunciosAdmin .thead2 Campo .Table-container-AnunciosAdmin-elements Encabezados {
  padding: 0.5em;
  background: #0389ab;
  color: #f9f9f9;
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
}
.table-bordered table-hover color-t Table-container-AnunciosAdmin .Color-resultados Campo:hover {
  background: #d3d3d3;
}
table .Color-resultados Campo:last-child:hover {
  border-radius: 0 0 5px 5px;
}
Campo {
  background: #ff4f00;
  color: #fff;
  border: 1px solid #ff4f00;
}
.Color-resultados {
  color: #000 !important;
}
.Table-container-AnunciosAdmin {
  width: 100%;
}
.Table-container-AnunciosAdmin-elements {
  padding: 0.7em 1em;
  text-align: center;
}
@media only screen and (max-width: 760px), (min-width: 760px) and (max-width: 1024px) {
  .table-bordered table-hover color-t Table-container-AnunciosAdmin.Table-container-AnunciosAdmin,
  .Table-container-AnunciosAdmin .thead2,
  .Table-container-AnunciosAdmin .Color-resultados,
  .Table-container-AnunciosAdmin .Table-container-AnunciosAdmin-elements Encabezados,
  .Table-container-AnunciosAdmin .Table-container-AnunciosAdmin-elements,
  .Table-container-AnunciosAdmin .Campo {
    display: block;
  }
  .Table-container-AnunciosAdmin .thead2 .Campo {
    position: absolute;
    display: none;
  }
  .color-t {
    border: none;
  }
  .Table-container-AnunciosAdmin {
    margin-bottom: 2em;
  }
  .Table-container-AnunciosAdmin .Table-container-AnunciosAdmin-elements {
    position: relative;
    padding-left: 40%;
    font-size: 12px;
    text-align: left;
  }
  .Table-container-AnunciosAdmin .Table-container-AnunciosAdmin-elements:before {
    position: absolute;
    top: 0px;
    left: -1px;
    width: 34%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0em 2%;
    background: #0389ab;
    color: #f9f9f9;
    font-weight: bold;
  }
  .table-bordered table-hover color-t Table-container-AnunciosAdmin {
    border: solid #0389ab 2px;
  }
  .table-bordered table-hover color-t Table-container-AnunciosAdmin .Color-resultados .Campo .Table-container-AnunciosAdmin-elements {
    padding: 0;
    text-align: center;
    line-height: 2.5;
    border-right: none;
  }
  .table-bordered table-hover color-t Table-container-AnunciosAdmin .Color-resultados .Campo:hover {
    background: none;
  }
  .table-bordered table-hover color-t Table-container-AnunciosAdmin .Color-resultados .Campo .Table-container-AnunciosAdmin-elements:hover {
    background: #d3d3d3;
  }
  .table-bordered table-hover color-t Table-container-AnunciosAdmin .Color-resultados .Campo:first-child {
    border-radius: 10px 10px 0 0;
  }
  .table-bordered table-hover color-t Table-container-AnunciosAdmin .Color-resultados .Campo:first-child .Table-container-AnunciosAdmin-elements:first-child {
    border-top: none;
    border-radius: 10px;
  }
  .table-bordered table-hover color-t Table-container-AnunciosAdmin .Color-resultados .Campo:first-child .Table-container-AnunciosAdmin-elements:first-child span:first-child {
    border-radius: 10px 0 0 0;
  }
  .table-bordered table-hover color-t Table-container-AnunciosAdmin .Color-resultados .Campo:last-child .Table-container-AnunciosAdmin-elements:last-child span {
    border-radius: 0 0 0 10px;
  }
  .table-bordered table-hover color-t Table-container-AnunciosAdmin .Color-resultados .Campo:last-child {
    border-radius: 0 0 10px 10px;
  }
  .table-bordered table-hover color-t Table-container-AnunciosAdmin > .thead2 > .Campo > .Table-container-AnunciosAdmin-elements Encabezados,
  .table > .Color-resultados > .Campo > .Table-container-AnunciosAdmin-elements Encabezados,
  .table > tfoot > .Campo > .Table-container-AnunciosAdmin-elements Encabezados,
  .table > .thead2 > .Campo > .Table-container-AnunciosAdmin-elements,
  .table > .Color-resultados > .Campo > .Table-container-AnunciosAdmin-elements,
  .table > tfoot > .Campo > .Table-container-AnunciosAdmin-elements {
    border-top: none !important;
  }
  .table-bordered table-hover color-t Table-container-AnunciosAdmin-bordered2 .Color-resultados .Campo {
    border-bottom: 1px solid #ddd !important;
  }
  glyphicon-search {
    line-height: 0 !important;
    top: -17px;
  }
  .Table-container-AnunciosAdmin .Table-container-AnunciosAdmin-elements:nth-of-type(1):before {
    content: "Titulo";
  }
  .Table-container-AnunciosAdmin .Table-container-AnunciosAdmin-elements:nth-of-type(2):before {
    content: "Descripcion";
  }
  .Table-container-AnunciosAdmin .Table-container-AnunciosAdmin-elements:nth-of-type(3):before {
    content: "Fecha inicio";
  }
  .Table-container-AnunciosAdmin .Table-container-AnunciosAdmin-elements:nth-of-type(4):before {
    content: "Fecha fin";
  }
  .Table-container-AnunciosAdmin .Table-container-AnunciosAdmin-elements:nth-of-type(5):before {
    content: "estado";
  }
  .Table-container-AnunciosAdmin .Table-container-AnunciosAdmin-elements:nth-of-type(6):before {
    content: "jardin";
  }
  .Table-container-AnunciosAdmin .Table-container-AnunciosAdmin-elements:nth-of-type(7):before {
    content: "editar";
  }
}
