<div class="ListInquietud">

      <h3 class="Work-title">Crea tu Anuncio</h3>
<div class="Anuncios-Create-Container">


    <form class="" ng-submit ="vm.create()" name="projectForm">

           <md-input-container class="md-block">
            <label>Título *</label>
            <input minlength="5" md-maxlength="60" required md-no-asterisk name="Titulo" ng-model="vm.anuncios.titulo" ng-pattern="/^[a-zA-Z ñáéíóú \s]*$/">
            <div ng-messages="projectForm.Titulo.$error">
                  <div ng-message-exp="['required','pattern', 'minlength','md-maxlength']">El Titulo debe contener menos de 60 caracteres.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Descripción *</label>
            <input minlength="10" md-maxlength="300" required md-no-asterisk name="Descripcion" ng-model="vm.anuncios.descripcion" ng-pattern="/^[a-zA-Z ñáéíóú \s 0-9 . ; ,]*$/">
            <div ng-messages="projectForm.Descripcion.$error">
                  <div ng-message-exp="['required','pattern', 'minlength','md-maxlength']">La descripción debe contener más de 10 caracteres y menos de 300.</div>
            </div>
          </md-input-container>

         <div class="fecha">
          <label >Fecha Inició</label>
          <md-datepicker ng-model="vm.anuncios.fechaInicio" md-placeholder="fecha"
           md-open-on-focus></md-datepicker>
          </div>

          <div class="fecha">
          <label>Fecha Fín</label>
          <md-datepicker type="date" ng-model="vm.anuncios.fechaFin" md-placeholder="fecha"></md-datepicker>
        </div>

          <md-input-container class="md-block">
            <label>Jardín Infantil</label>
            <md-select ng-model="vm.anuncios.idJardinInfantil.idJardinInfantil">
                <md-option ng-repeat="jardin in vm.jardines" value="{{jardin.idJardinInfantil}}">{{jardin.nombreJardin}}</md-option>
                </md-select>
          </md-input-container>



          </md-input-container>
         <button type="submit" class="Jardines-Create-Button" name="button">Guardar</button>

    </form>
  </div>


</div>
