
<div class="ListInquietud">
    <h2 class="Contacto-Title">Lista de Anuncios</h2>
    <table class="table-bordered table-hover color-t Table-container-AnunciosAdmin">
                            <thead class="thead2">
                          <div class="col-md-3">
                                <tr class="Campo">
                <th class="Table-container-AnunciosAdmin-elements Encabezados" >Titulo</th>
                <th class="Table-container-AnunciosAdmin-elements Encabezados">Descripcion</th>
                <th class="Table-container-AnunciosAdmin-elements Encabezados">Fecha inicio</th>
                <th class="Table-container-AnunciosAdmin-elements Encabezados">Fecha fin</th>
                <th class="Table-container-AnunciosAdmin-elements Encabezados">Estado</th>
                <th class="Table-container-AnunciosAdmin-elements Encabezados">Jardin Infantil</th>
                <th class="Table-container-AnunciosAdmin-elements Encabezados">Editar</th>


            </tr>
        </thead>
       <tbody class="Color-resultados">
            <tr  ng-repeat="anuncios in vm.anuncios">
               <tr  ng-repeat="anuncios in vm.anuncios">
                        <td class="Table-container-AnunciosAdmin-elements">{{anuncios.titulo}}</td>
                        <td class="Table-container-AnunciosAdmin-elements">{{anuncios.descripcion}}</td>
                        <td class="Table-container-AnunciosAdmin-elements">{{anuncios.fechaInicio | date:'mediumDate'}}</td>
                        <td class="Table-container-AnunciosAdmin-elements">{{anuncios.fechaFin | date:'mediumDate'}}</td>
                        <td class="Table-container-AnunciosAdmin-elements">{{anuncios.estado}}</td>
                        <td class="Table-container-AnunciosAdmin-elements">{{anuncios.idJardinInfantil.nombreJardin}}</td>
                        <td class="Table-container-AnunciosAdmin-elements"><a href="#/anuncios/update/{{anuncios.idAnuncio}}"><span class="glyphicon glyphicon-pencil" ></span></a></td>


            </tr>
        </tbody>
    </table>

    <a class="Jardines-Create-Button" href="#/anuncios/create">Crear Anuncio</a>


</div>
