
<div class="ListInquietud">

     <h3 class="Contacto-Title">Anuncios</h3>

     <!--Nuevo codigo -->
     <div class="Jardines-List" ng-repeat="anuncios in vm.anuncios">
     <!--Fin Nuevo codigo -->

     <div class="Jardines-List-Content">

       <div class="Jardines-List-Content-Text">
         <h3 class="Anuncios-title">{{anuncios.titulo}}</h3>

         <p class="Jardines-List-Description Title-items">{{anuncios.descripcion}}</p>
         <h4 class="Title-items">Fecha Publicacion: {{anuncios.fechaInicio | date:'mediumDate'}}</h4>
         <div class="Pie">
         <h4 class="Title-items">Jardin: {{anuncios.idJardinInfantil.nombreJardin}}</h4>
         </div>
       </div>
     </div>
<!--
                  <table class="table-bordered table-hover color-t Table-container-AnunciosAdmin">
                            <thead class="thead2">
                       <div class="col-md-3">
                                <tr class="color-campo">

                        <th class="Table-container-AnunciosAdmin-elements Encabezados">Titulo</th>
                        <th class="Table-container-AnunciosAdmin-elements Encabezados">Descripcion</th>
                        <th class="Table-container-AnunciosAdmin-elements Encabezados">Fecha inicio</th>
                        <th class="Table-container-AnunciosAdmin-elements Encabezados">Fecha fin</th>
                        <th class="Table-container-AnunciosAdmin-elements Encabezados">Estado</th>
                        <th class="Table-container-AnunciosAdmin-elements Encabezados">Jardin Infantil</th>



                                </tr>
                            </thead>
                    <tbody class="Color-resultados">
                        <tr ng-repeat="anuncios in vm.anuncios">
                        <td class="Table-container-AnunciosAdmin-elements">{{anuncios.titulo}}</td>
                        <td class="Table-container-AnunciosAdmin-elements">{{anuncios.descripcion}}</td>
                        <td class="Table-container-AnunciosAdmin-elements">{{anuncios.fechaInicio | date:'mediumDate'}}</td>
                        <td class="Table-container-AnunciosAdmin-elements">{{anuncios.fechaFin | date:'mediumDate'}}</td>
                        <td class="Table-container-AnunciosAdmin-elements">{{anuncios.estado}}</td>
                        <td class="Table-container-AnunciosAdmin-elements">{{anuncios.idJardinInfantil.nombreJardin}}</td>

                        <!--td md-cell><a href="#/anuncios/update/{{anuncios.idAnuncio}}">Editar</a></td-->

					<!--							</tr>
                    </tbody>
                  </table>   -->

               </div>
