<div class="ListInquietud">
  <div class="ListInquietud-transparent2 padding-bottom">
      <h3 class="Work-title">Actualizar Anunció</h3>
<div class="container Jardin-container">
  <div class="">

  </div>
  <div class="">
    <form class="" ng-submit ="vm.update()" name="projectForm">
          <md-input-container class="md-block">
            <label>Título *</label>
            <input minlength="5" md-maxlength="60" required md-no-asterisk name="Titulo" ng-model="vm.anuncios.titulo" ng-pattern="/^[a-zA-Z ñáéíóú \s]*$/">
            <div ng-messages="projectForm.Titulo.$error">
                  <div ng-message-exp="['required','pattern', 'minlength','md-maxlength']">El Título debe contener menos de 60 caracteres.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Descripción *</label>
            <input minlength="10" md-maxlength="300" required md-no-asterisk name="Descripcion" ng-model="vm.anuncios.descripcion" ng-pattern="/^[a-zA-Z ñáéíóú \s 0-9 . ; ,]*$/">
            <div ng-messages="projectForm.Descripcion.$error">
                  <div ng-message-exp="['required','pattern', 'minlength','md-maxlength']">La descripción debe contener más de 10 caracteres y menos de 300.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Estado</label>
            <md-switch ng-model="vm.anuncios.estado"  aria-label="Switch 6" ng-change="vm.onChange(vm.anuncios.idAnuncio)">
                 </md-switch>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Jardín Infantil</label>

            <md-select ng-model="vm.anuncios.idJardinInfantil.idJardinInfantil">
                <md-option ng-repeat="jardin in vm.jardines" value="{{jardin.idJardinInfantil}}">{{jardin.nombreJardin}}</md-option>
                </md-select>
          </md-input-container>


         <button type="submit" class="btn btn-success" name="button">Guardar</button>

    </form>
  </div>
</div>
  </div>
</div>
