<div class="Actividades">

      <h1 class="Work-title">Aprende jugando juntó jardinApp</h1>




      <figure class="actividad">
            <h3>COLOREAR</h3>
            <a href="#/colorear">
                  <img src="/recursos_educativos/aprender.svg" class="imagenActividad" />
            </a>
      </figure>


      <figure class="actividad">
            <h3>GEOMÉTRICAS</h3>
            <a href="#/geometricas">

                  <img src="/recursos_educativos/geometricas.svg" class="imagenActividad" />
            </a>

      </figure>


      <figure class="actividad">
            <h3>NÚMEROS</h3>
            <a href="#/numeros">
                  <img src="/recursos_educativos/numerosG.svg" class="imagenActividad" />
            </a>
      </figure>

            <figure class="actividad">
                  <h3>VOCALES</h3>
                  <a href="#/vocales">
                        <img src="/recursos_educativos/vocales.svg" class="imagenActividad" />
                  </a>

            </figure>
      <figure class="actividad">
              <h3>RECICLEMOS</h3>
              <a href="#/reciclaje">
                  <img src="/recursos_educativos/reciclaje.svg" class="imagenActividad" />
              </a>

       </figure>



</div>
