.Actividades {
  background-image: url("/imagenes/svg/actividades.svg");
  padding: 1em;
  text-align: center;
}
.actividad {
  display: inline-block;
}
.imagenActividad {
  width: 18em;
  background: #fff;
  box-shadow: 1px 1px 5px 0 #515151;
  margin: 1em 1em 1em 5em;
}
