<div class="Actividades">

        <h1 class="Work-title">Aprende jugando juntó jardinApp</h1>


           <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/colorear/aprender.pdf">
            <img src="/imagenes/colorear/aprender.svg" class="imagenActividad"/>
          </a>
         </figure>

           <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/colorear/CAMINO.pdf">
            <img src="/imagenes/colorear/camino.svg" class="imagenActividad"/>
          </a>
         </figure>

         <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/colorear/cuadrado.pdf">
            <img src="/imagenes/colorear/cuadrado.svg" class="imagenActividad"/>
          </a>
         </figure>

         <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/colorear/DIVIERTETE.pdf">
            <img src="/imagenes/colorear/diviertete.svg" class="imagenActividad"/>
          </a>
         </figure>

            <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/colorear/espiral.pdf">
            <img src="/imagenes/colorear/espiral.svg" class="imagenActividad"/>
          </a>
         </figure>

            <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/colorear/estrellagrandespequeños.pdf">
            <img src="/imagenes/colorear/estrellaGP.svg" class="imagenActividad"/>
          </a>
         </figure>

          <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/colorear/estrellas.pdf">
            <img src="/imagenes/colorear/estrellas.svg" class="imagenActividad"/>
          </a>
         </figure>

            <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/colorear/laberito.pdf">
            <img src="/imagenes/colorear/laberito.svg" class="imagenActividad"/>
          </a>
         </figure>

            <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/colorear/mejorabolitas.pdf">
            <img src="/imagenes/colorear/bolitas.svg" class="imagenActividad"/>
          </a>
         </figure>

            <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/colorear/mitad.pdf">
            <img src="/imagenes/colorear/mitad.svg" class="imagenActividad"/>
          </a>
         </figure>

            <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/colorear/numeros.pdf">
            <img src="/imagenes/colorear/numeros.svg" class="imagenActividad"/>
          </a>
         </figure>

            <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/colorear/pentágono.pdf">
            <img src="/imagenes/colorear/pentagono.svg" class="imagenActividad"/>
          </a>
         </figure>

            <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/colorear/plimplin.pdf">
            <img src="/imagenes/colorear/plimplin.svg" class="imagenActividad"/>
          </a>
         </figure>

             <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/colorear/puntos.pdf">
            <img src="/imagenes/colorear/puntos.svg" class="imagenActividad"/>
          </a>
         </figure>

             <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/colorear/tortuguin.pdf">
            <img src="/imagenes/colorear/tortuguin.svg" class="imagenActividad"/>
          </a>
         </figure>

             <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/colorear/triangulos.pdf">
            <img src="/imagenes/colorear/triangulos.svg" class="imagenActividad"/>
          </a>
         </figure>




  </div>
