<div class="Actividades">

        <h1 class="Work-title">Aprende jugando juntó jardinApp</h1>

           
           <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/geometricas/circuloGP.pdf">
            <img src="/imagenes/geometricas/circuloGP.svg" class="imagenActividad"/>
          </a>
         </figure>

           <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/geometricas/cuadrosGP.pdf">
            <img src="/imagenes/geometricas/cuadrosGP.svg" class="imagenActividad"/>
          </a>
         </figure>

         <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/geometricas/geometricas.pdf">
            <img src="/imagenes/geometricas/geometricas.svg" class="imagenActividad"/>
          </a>
         </figure>

         <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/geometricas/pentagonoGP.pdf">
            <img src="/imagenes/geometricas/pentagonoGP.svg" class="imagenActividad"/>
          </a>
         </figure>

            <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/geometricas/trianguloGP.pdf">
            <img src="/imagenes/geometricas/trianguloGP.svg" class="imagenActividad"/>
          </a>
         </figure>







  </div>
