<div class="Actividades">

        <h1 class="Work-title">Aprende jugando juntó jardinApp</h1>


           <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/numero/cero.pdf">
            <img src="/imagenes/numeros/cero.svg" class="imagenActividad"/>
          </a>
         </figure>

           <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/numero/uno.pdf">
            <img src="/imagenes/numeros/uno.svg" class="imagenActividad"/>
          </a>
         </figure>

         <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/numero/dos.pdf">
            <img src="/imagenes/numeros/dos.svg" class="imagenActividad"/>
          </a>
         </figure>

         <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/numero/tres.pdf">
            <img src="/imagenes/numeros/tres.svg" class="imagenActividad"/>
          </a>
         </figure>

            <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/numero/cuatro.pdf">
            <img src="/imagenes/numeros/cuatro.svg" class="imagenActividad"/>
          </a>
         </figure>

            <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/numeros/cinco.pdf">
            <img src="/imagenes/numeros/cinco.svg" class="imagenActividad"/>
          </a>
         </figure>

            <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/numero/seis.pdf">
            <img src="/imagenes/numeros/seis.svg" class="imagenActividad"/>
          </a>
         </figure>

            <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/numero/siete.pdf">
            <img src="/imagenes/numeros/siete.svg" class="imagenActividad"/>
          </a>
         </figure>

            <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/numero/ocho.pdf">
            <img src="/imagenes/numeros/ocho.svg" class="imagenActividad"/>
          </a>
         </figure>

            <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/numero/nueve.pdf">
            <img src="/imagenes/numeros/nueve.svg" class="imagenActividad"/>
          </a>
         </figure>

            <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/numero/numerosG.pdf">
            <img src="/imagenes/numeros/numerosG.svg" class="imagenActividad"/>
          </a>
         </figure>







  </div>
