<div class="Actividades">

        <h1 class="Work-title">Aprende a reciclar junto jardinApp.</h1>

        <figure class="actividad">
        <a target="_blank" href="/recursos_educativos/reciclaje/reciclaje.pdf">
        <img src="/imagenes/reciclaje/reciclaje.svg" class="imagenActividad"/>
        </a>
       </figure>


        <figure class="actividad">
        <a target="_blank" href="/recursos_educativos/reciclaje/guia1.pdf">
        <img src="/imagenes/reciclaje/guia1.svg" class="imagenActividad"/>
         </a>
        </figure


        <figure class="actividad">
        <a target="_blank" href="/recursos_educativos/reciclaje/na.pdf">
        <img src="/imagenes/reciclaje/na.svg" class="imagenActividad"/>
        </a>
        </figure>


        <figure class="actividad">
        <a target="_blank" href="/recursos_educativos/reciclaje/olvido.pdf">
        <img src="/imagenes/reciclaje/olvido.svg" class="imagenActividad"/>
        </a>
        </figure>

        <figure class="actividad">
        <a target="_blank" href="/recursos_educativos/reciclaje/olvido2.pdf">
        <img src="/imagenes/reciclaje/olvido2.svg" class="imagenActividad"/>
        </a>
        </figure>



       <figure class="actividad">
       <a target="_blank" href="/recursos_educativos/reciclaje/señala1.pdf">
       <img src="/imagenes/reciclaje/señala1.svg" class="imagenActividad"/>
       </a>
       </figure>

       <figure class="actividad">
        <a target="_blank" href="/recursos_educativos/reciclaje/m1.pdf">
        <img src="/imagenes/reciclaje/m1.svg" class="imagenActividad"/>
        </a>
        </figure>


        <figure class="actividad">
        <a target="_blank" href="/recursos_educativos/reciclaje/v1.pdf">
        <img src="/imagenes/reciclaje/v1.svg" class="imagenActividad"/>
        </a>
        </figure>


         <figure class="actividad">
         <a target="_blank" href="/recursos_educativos/reciclaje/cp1.pdf">
         <img src="/imagenes/reciclaje/cp1.svg" class="imagenActividad"/>
         </a>
         </figure>


         <figure class="actividad">
         <a target="_blank" href="/recursos_educativos/reciclaje/p1.pdf">
         <img src="/imagenes/reciclaje/p1.svg" class="imagenActividad"/>
         </a>
        </figure>


        <figure class="actividad">
        <a target="_blank" href="/recursos_educativos/reciclaje/o1.pdf">
        <img src="/imagenes/reciclaje/o1.svg" class="imagenActividad"/>
        </a>
        </figure>


        <figure class="actividad">
        <a target="_blank" href="/recursos_educativos/reciclaje/pe1.pdf">
        <img src="/imagenes/reciclaje/pe1.svg" class="imagenActividad"/>
        </a>
         </figure>


        <figure class="actividad">
        <a target="_blank" href="/recursos_educativos/reciclaje/g1.pdf">
        <img src="/imagenes/reciclaje/g1.svg" class="imagenActividad"/>
        </a>
        </figure>


</div>
