<div class="Actividades">

        <h1 class="Work-title">Aprende jugando juntó jardinApp</h1>


           <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/vocales/0.pdf">
            <img src="/imagenes/vocales/0.svg" class="imagenActividad"/>
          </a>
         </figure>

           <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/vocales/a.pdf">
            <img src="/imagenes/vocales/a.svg" class="imagenActividad"/>
          </a>
         </figure>

         <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/vocales/e.pdf">
            <img src="/imagenes/vocales/e.svg" class="imagenActividad"/>
          </a>
         </figure>

         <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/vocales/i.pdf">
            <img src="/imagenes/vocales/i.svg" class="imagenActividad"/>
          </a>
         </figure>

            <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/vocales/0.pdf">
            <img src="/imagenes/vocales/0.svg" class="imagenActividad"/>
          </a>
         </figure>

            <figure class="actividad">
           <a target="_blank" href="/recursos_educativos/vocales/u.pdf">
            <img src="/imagenes/vocales/u.svg" class="imagenActividad"/>
          </a>
         </figure>








  </div>
