<div class="ListPedidos">
  <div class="ListPedidos-transparent2">
    <h3 class="Work-title">Crear Pedido</h3>
    <div class="container Jardin-container">
        <form class="form-group" ng-submit="vm.create()">

          <md-input-container class="md-block">
            <label>Total Pedido *</label>
            <input md-maxlength="50" required md-no-asterisk name="Asunto" ng-model="vm.pedidos.total">
            <div ng-messages="projectForm.Asunto.$error" role="alert">
              <div ng-message="required">Este campo es requerido.</div>
              <div ng-message="md-maxlength">El asunto debe contener menos de 50 caracteres.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Usuario*</label>
            <input md-maxlength="50" required md-no-asterisk name="Asunto" ng-model="vm.pedidos.idUsuarios.idUsuarios">
            <div ng-messages="projectForm.Asunto.$error" role="alert">
              <div ng-message="required">Este campo es requerido.</div>
              <div ng-message="md-maxlength">El asunto debe contener menos de 50 caracteres.</div>
            </div>
          </md-input-container>
          <button type="submit" class="btn btn-success" name="button">Guardar</button>
        </form>
    </div>
</div>
</div>
