<div class="ListInquietud">
    <h2 class="Contacto-Title">Pedidos</h2> 
    <table class="table-bordered table-hover color-t Table-container-Pedidos">
                            <thead class="thead2">
                          <div class="col-md-3">      
                                <tr class="Campo">
		        <th class="Table-container-Pedidos-elements Encabezados">Fecha Pedido</th>
		        <th class="Table-container-Pedidos-elements Encabezados">Total Pedido</th>
		        <th class="Table-container-Pedidos-elements Encabezados">Usuario</th>
		        <th class="Table-container-Pedidos-elements Encabezados">Editar</th>
			</tr>
		</thead>
        <tbody class="Color-resultados"> 
        	<tr ng-repeat="pedidos in vm.pedidos">
		        <td class="Table-container-Pedidos-elements">{{pedidos.fecha | date:'mediumDate'}}</td>
		        <td class="Table-container-Pedidos-elements">{{pedidos.total}}</td>
		        <td class="Table-container-Pedidos-elements">{{pedidos.idUsuarios.nombres}}</td>
				<td class="Table-container-Pedidos-elements"><a href="#/pedidos/update/{{pedidos.idPedido}}">Editar</a></td>
        	</tr>
      	</tbody>
    </table>
	<a ng-show="vm.isAdmin()" class="Jardines-Create-Button" href="#/pedidos/create">Crear Pedido</a>
	<a ng-show="vm.isAdmin()" class="Jardines-Create-Button" href="#/detallespedidos">Ver más</a>
</div> 