
.ListPedidos
  background-image url("/imagenes/hogar.jpg")
  background-attachment fixed
  background-position center center
  background-repeat no-repeat
  background-size cover
  text-align:center;

.ListPedidos-transparent
  padding: 9em 0 10em 0
  background-color rgba(212, 96, 165, 0.62)

.ListPedidos-transparent2
  padding: 2em 0 10em 0
  background-color: rgba(77, 198, 130, 0.7)

.Pedidos-container
  background #fff
  border-radius 15px
  padding 5em
  max-width 45em




/***********DISEÑO TABLAS RESPONSIVE************************/
.table-bordered table-hover color-t Table-container-Pedidos
    width 80%
    border-collapse separate
    border solid #0389ab 3px!important
    border-radius 15px
    background #f9f9f9!important
    margin 1em
.table-bordered table-hover color-t Table-container-Pedidos .thead2 Campo .Table-container-Pedidos-elements Encabezados
    padding .5em
    background #0389ab
    color #f9f9f9
    text-align center
    text-transform uppercase
    font-weight lighter

.table-bordered table-hover color-t Table-container-Pedidos .thead2 Campo .Table-container-Pedidos-elements Encabezados:first-child
   border-radius 5px 0 0 0

.table-bordered table-hover color-t Table-container-Pedidos .thead2 Campo .Table-container-Pedidos-elements Encabezados:last-child
    border-radius 0 5px 0 0

.table-bordered > .thead2 > Campo > .Table-container-Pedidos-elements Encabezados, .table-bordered > .Color-resultados > Campo > .Table-container-Pedidos-elements Encabezados, .table-bordered > tfoot > Campo > .Table-container-Pedidos-elements Encabezados, .table-bordered > .thead2 > Campo > .Table-container-Pedidos-elements, .table-bordered > .Color-resultados > Campo > .Table-container-Pedidos-elements, .table-bordered > tfoot > Campo > .Table-container-Pedidos-elements
    border none

.table-bordered table-hover color-t Table-container-Pedidos .Color-resultados Campo:nth-child(odd) .Table-container-Pedidos-elements
    background #eee

.table-bordered table-hover color-t Table-container-Pedidos .Color-resultados Campo .Table-container-Pedidos-elements
    padding 0.6em
    border-top 1px solid #027592!important
    border-right 1px solid #027592!important

.table-bordered table-hover color-t Table-container-Pedidos .Color-resultados Campo .Table-container-Pedidos-elements:last-child
    border-right none

.table-bordered table-hover color-t Table-container-Pedidos .Color-resultados Campo:nth-child(odd):last-child
    border-radius 0 0 5px 5px

.table-bordered table-hover color-t Table-container-Pedidos .thead2 Campo .Table-container-Pedidos-elements Encabezados
    padding 0.5em
    background #0389ab
    color #f9f9f9
    text-align center
    text-transform uppercase
    font-weight lighter

.table-bordered table-hover color-t Table-container-Pedidos .Color-resultados Campo:hover
    background #d3d3d3

.table-bordered table-hover color-t Table-container-Pedidos .Color-resultados Campo:last-child:hover
    border-radius 0 0 5px 5px

Campo
    background #ff4f00
    color white
    border 1px solid #ff4f00

.Color-resultados
    color black!important

.Table-container-Pedidos
    width 100%
    &-elements
        padding .7em 1em
        text-align center

@media only screen and (max-width: 760px), (min-width: 760px) and (max-width:1024px)
    table.Table-container-Pedidos, .Table-container-Pedidos .thead2, .Table-container-Pedidos  .Color-resultados, .Table-container-Pedidos .Table-container-Pedidos-elements Encabezados, .Table-container-Pedidos .Table-container-Pedidos-elements,.Table-container-Pedidos Campo
        display block

    .Table-container-Pedidos .thead2 Campo
        position absolute
        display none

    .color-t
        border none

    .Table-container-Pedidos
        margin-bottom 2em


    .Table-container-Pedidos .Table-container-Pedidos-elements
        position relative
        padding-left 40%
        font-size 12px
        text-align left

    .Table-container-Pedidos .Table-container-Pedidos-elements:before
        position absolute
        top 0px; left:-1px
        width 34%
        white-space nowrap
        display flex
        align-items center

        height 100%
        padding 0em 2%

        background #0389ab
        color #f9f9f9

        font-weight bold

     .table-bordered table-hover color-t Table-container-Pedidos
        border solid #0389ab 2px
     .table-bordered table-hover color-t Table-container-Pedidos .Color-resultados Campo .Table-container-Pedidos-elements
        padding 0
        text-align center
        line-height 2.5
        border-right none
     .table-bordered table-hover color-t Table-container-Pedidos .Color-resultados Campo:hover
        background none
     .table-bordered table-hover color-t Table-container-Pedidos .Color-resultados Campo .Table-container-Pedidos-elements:hover
        background #d3d3d3
     .table-bordered table-hover color-t Table-container-Pedidos .Color-resultados Campo:first-child
        border-radius 10px 10px 0 0
     .table-bordered table-hover color-t Table-container-Pedidos .Color-resultados Campo:first-child .Table-container-Pedidos-elements:first-child
        border-top none
        border-radius 10px
     .table-bordered table-hover color-t Table-container-Pedidos .Color-resultados Campo:first-child .Table-container-Pedidos-elements:first-child span:first-child
        border-radius 10px 0 0 0
     .table-bordered table-hover color-t Table-container-Pedidos .Color-resultados Campo:last-child .Table-container-Pedidos-elements:last-child span
        border-radius 0 0 0 10px
     .table-bordered table-hover color-t Table-container-Pedidos .Color-resultados Campo:last-child
        border-radius 0 0 10px 10px
     .table-bordered table-hover color-t Table-container-Pedidos > .thead2 > Campo > .Table-container-Pedidos-elements Encabezados, .table-bordered table-hover color-t Table-container-Pedidos > .Color-resultados > Campo > .Table-container-Pedidos-elements Encabezados, .table > tfoot > Campo > .Table-container-Pedidos-elements Encabezados, .table > .thead2 > Campo > .Table-container-Pedidos-elements, .table > .Color-resultados > Campo > .Table-container-Pedidos-elements, .table > tfoot > Campo > .Table-container-Pedidos-elements
        border-top none!important
     .table-bordered table-hover color-t Table-container-Pedidos-bordered2 .Color-resultados Campo
        border-bottom 1px solid #ddd!important
     glyphicon-search
        line-height 0 !important

        top -17px   
    
        
    .Table-container-Pedidos .Table-container-Pedidos-elements:nth-of-type(1):before {content:"Fecha Pedido";} 
    .Table-container-Pedidos .Table-container-Pedidos-elements:nth-of-type(2):before {content:"Total Pedido";} 
    .Table-container-Pedidos .Table-container-Pedidos-elements:nth-of-type(3):before {content:"Usuario";} 
    .Table-container-Pedidos .Table-container-Pedidos-elements:nth-of-type(4):before {content:"Editar";} 
/********************* FIN DISEÑO DE LAS TABLAS***************************/
  

