<div class="ListPedidos">
    <div class="ListPedidos-transparent2">
      <h3 class="Work-title">Actualizar un Pedido</h3>
      <div class="container Pedidos-container">
    <form class=""  ng-submit="vm.update()">

      <md-input-container class="md-block">
           <label for="Total">Total Pedido</label>

           <input required md-no-asterisk md-maxlength="50" name="Nombre" ng-model="vm.pedidos.total">
           <div ng-messages="projectForm.Nombre.$error" role="alert">
             <div ng-message="required">Éste campo es requerido.</div>
             <div ng-message="md-maxlength">El asunto no debe pasar de 50 caracteres</div>
           </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Usuario*</label>
        <input md-maxlength="50" required md-no-asterisk name="Asunto" ng-model="vm.pedidos.idUsuarios.idUsuarios">
          <div ng-messages="projectForm.Asunto.$error">
            <div ng-message="required">Este campo es requerido.</div>
            <div ng-message="md-maxlength">El asunto debe contener menos de 50 caracteres.</div>
          </div>
      </md-input-container>

         <button type="submit" class="btn btn-success" name="button">Actualizar</button>
        <button type="submit" class="btn btn-success" name="button" ng-href="#/pedidos">Cancelar</button>
    </form>
    </div>
  </div>
</div>
