<div class="Inhabilit">
  <div class="Inhabilit-transparent padding-bottom">
    <div class="container Inhabilit-container">
      <h2>Configuración de la cuenta</h2>
        <p>Hola, <b>{{vm.getCurrentUser()}}</b>:</p>
          <p>Lamentamos que quieras desactivar tú cuenta.
          Al desactivarla ya no podrás acceder a nuestra plataforma, si quieres recuperarla deberás contactarte con nosotros para volver
          a contar con nuestros servicios.</p>
          <p>Si pulsas el siguiente botón se desactivará tú cuenta y se cerrará tu sesión.</p>

        <button class="btn btn-inhabilit" ng-click="vm.deshabilitar()">Deshabilitar</button>
        <!-- <md-button class="md-raised md-primary" ng-model="estado.data" data-ng-value="" ng-change="vm.onChange(estado,vm.idUsuario)">Guardar</md-button> -->

      <!-- <md-switch ng-model="estado.data" aria-label="Switch 6" ng-change="vm.onChange(estado,vm.idUsuario)">
        Estado
        {{estado.data}} -->
      </md-switch>
    </div>
  </div>
</div>
