
<div class="Forms-Registro Background-Registro2">

    <h1 class="Work-title">Administrador de Jardín</h1>
    <div class="container formulario">
        <form ng-submit="projectForm.$valid && vm.createJardin()" name="projectForm" class="form-acount" novalidate>

          <md-input-container  class="md-block md-block-select">
                <label>Tipo Documento *</label>
                <md-select name="TipoDocumento" ng-model="vm.usuario.idTipoDocumento.idTipoDocumento" required>
                    <md-option ng-repeat="tipoDocumento in vm.queryTipoDocumento" value="{{tipoDocumento.idTipoDocumento}}">{{tipoDocumento.nombreTipoDocumento}}</md-option>
                </md-select>
                <div class="errors" ng-messages="projectForm.TipoDocumento.$error">
                    <div ng-message="required">Este campo es Requerido</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Documento *</label>
                <input  type="text" required md-no-asterisk name="Documento" minlength="7" maxlength="15" md-maxlength="15"
                ng-model="vm.usuario.documento" ng-blur="vm.validaDocumento()" ng-pattern="/^[0-9]*$/">
                <div ng-messages="projectForm.Documento.$error" ng-show="projectForm.Documento.$dirty">
                  <div ng-message="required">Este campo es requerido.</div>
                  <div ng-message="pattern">Ingresar números enteros sin espacios.</div>
                  <div ng-message="minlength">El documento debe tener como mínimo 7 caracteres.</div>
                  <div ng-message="maxlength">El documento no debe pasar de 15 caracteres.</div>
                  <div ng-message="md-maxlength">El documento no debe pasar de 15 caracteres.</div>
                </div>
                <p ng-show="vm.validaDoc" class="validaError">
                  El documento ya se encuentra registrado
                </p>
            </md-input-container>


            <md-input-container class="md-block">
                <label>Nombres *</label>
                <input minlength="3" maxlength="30" md-maxlength="30" required md-no-asterisk name="Nombres"
                ng-model="vm.usuario.nombres" ng-pattern="/^[a-zA-Z ñáéíóú \s]*$/">
                <div ng-messages="projectForm.Nombres.$error" ng-show="projectForm.Nombres.$dirty">
                  <div ng-message="required">Este campo es requerido.</div>
                  <div ng-message="pattern">Ingrese solo Letras.</div>
                  <div ng-message="minlength">El nombre debe tener como mínimo 3 caracteres.</div>
                  <div ng-message="maxlength">El nombre no debe pasar de 30 caracteres.</div>
                  <div ng-message="md-maxlength">El nombre no debe pasar de 30 caracteres.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Apellidos *</label>
                <input minlength="3" maxlength="30" md-maxlength="30" required md-no-asterisk name="Apellidos"
                ng-model="vm.usuario.apellidos" ng-pattern="/^[a-zA-Z ñáéíóú \s]*$/">
                <div ng-messages="projectForm.Apellidos.$error" ng-show="projectForm.Apellidos.$dirty">
                  <div ng-message="required">Este campo es requerido.</div>
                  <div ng-message="pattern">Ingrese solo Letras.</div>
                  <div ng-message="minlength">Los apellidos debe tener como mínimo 3 caracteres.</div>
                  <div ng-message="maxlength">Los apellidos no debe pasar de 30 caracteres.</div>
                  <div ng-message="md-maxlength">Los apellidos no debe pasar de 30 caracteres.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Email *</label>
                <input type="email" ng-blur="vm.validaEmail()" required md-no-asterisk minlength="10"  value="data" maxlength="100"
                md-maxlength="100" ng-pattern="/^.+@.+\..+$/" name="Email" ng-model="vm.usuario.email">
                <div ng-messages="projectForm.Email.$error" ng-show="projectForm.Email.$dirty">
                    <div ng-message="required">Este campo es requerido.</div>
                    <div ng-message="pattern">Ingrese un email valido que contenga arroba(@) y punto(.) sin espacios.</div>
                    <div ng-message="minlength">El correo debe tener como mínimo 10 caracteres.</div>
                    <div ng-message="maxlength">El correo no debe pasar de 100 caracteres.</div>
                    <div ng-message="md-maxlength">El correo no debe pasar de 100 caracteres.</div>
                </div>
                <p ng-show="vm.validaEm" class="validaError">
                  El Email ya se encuentra registrado
                </p>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Contraseña *</label>
                <input type="password" required md-no-asterisk name="Password"
                minlength="8" maxlength="100" md-maxlength="100" ng-model="vm.usuario.password">
                <div ng-messages="projectForm.Password.$error" ng-show="projectForm.Password.$dirty">
                    <div ng-message="required">Este campo es requerido.</div>
                    <div ng-message="minlength">La contraseña debe tener como mínimo 8 caracteres.</div>
                    <div ng-message="maxlength">La contraseña no debe pasar de 100 caracteres.</div>
                    <div ng-message="md-maxlength">La contraseña no debe pasar de 100 caracteres.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Dirección *</label>
                <input required md-no-asterisk name="Direccion"
                minlength="8" maxlength="50" md-maxlength="50" ng-model="vm.usuario.direccion" ng-pattern="/^[a-zA-Z ñáéíóú 0-9 . # ° \s -]*$/">
                <div ng-messages="projectForm.Direccion.$error" ng-show="projectForm.Direccion.$dirty">
                    <div ng-message="required">Este campo es requerido.</div>
                    <div ng-message="pattern">Ingrese letras y números.</div>
                    <div ng-message="minlength">la dirección debe tener como mínimo 8 caracteres.</div>
                    <div ng-message="maxlength">La dirección no debe pasar de 50 caracteres.</div>
                    <div ng-message="md-maxlength">La dirección no debe pasar de 50 caracteres.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Teléfono</label>
                <input name="telefono" ng-model="vm.usuario.telefono"
                minlength="7" maxlength="12" md-maxlength="12" ng-pattern="/^[0-9]*$/">
                <div ng-messages="projectForm.telefono.$error" ng-show="projectForm.telefono.$dirty">
                    <div ng-message="pattern">Ingrese solo números sin espacios.</div>
                    <div ng-message="minlength">El telefono debe tener como mínimo 7 caracteres.</div>
                    <div ng-message="maxlength">El telefono no debe pasar de 12 caracteres.</div>
                    <div ng-message="md-maxlength">El telefono no debe pasar de 12 caracteres.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Celular</label>
                <input name="celular"ng-model="vm.usuario.celular"
                minlength="7" maxlength="15" md-maxlength="15" ng-pattern="/^[0-9]*$/">
                <div ng-messages="projectForm.celular.$error" ng-show="projectForm.celular.$dirty">
                    <div ng-message="pattern">Ingrese solo números sin espacios.</div>
                    <div ng-message="minlength">El celular debe tener como mínimo 7 caracteres.</div>
                    <div ng-message="maxlength">El celular no debe pasar de 15 caracteres.</div>
                    <div ng-message="md-maxlength">El celular no debe pasar de 15 caracteres.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Título Profesional</label>
                <input name="titulo" minlength="7" maxlength="50" md-maxlength="50"
                ng-model="vm.usuario.tituloProfesional" ng-pattern="/^[a-zA-Z ñáéíóú \s]*$/">
                <div ng-messages="projectForm.titulo.$error" ng-show="projectForm.titulo.$dirty">
                    <div ng-message="pattern">Ingrese solo Letras.</div>
                    <div ng-message="minlength">El título debe tener como mínimo 7 caracteres.</div>
                    <div ng-message="maxlength">El título no debe pasar de 50 caracteres.</div>
                    <div ng-message="md-maxlength">El título no debe pasar de 50 caracteres.</div>
                </div>
            </md-input-container>

            <md-autocomplete  md-selected-item="vm.usuario.ciudades"
                              md-search-text="vm.searchTextCiudades"
                              md-items="item in vm.queryCiudades(vm.searchTextCiudades)"
                              md-item-text="item.nombreCiudad + ' - ' + item.departamentos.nombreDepartamento"
                              md-input-name="autocompleteCiudades"
                              md-floating-label="Ciudad de Domicilio *"
                              md-input-name="TiposDocumentos"
                              required >
                <md-item-template>
                    <span md-highlight-text="vm.searchTextCiudades" md-highlight-flags="^i">
                         {{item.nombreCiudad}} - {{item.departamentos.nombreDepartamento}}</span>
                </md-item-template>
                <md-not-found>
                    La ciudad "{{vm.searchTextCiudades}}" no fue encontrada.
                </md-not-found>
                <div ng-messages="projectForm.autocompleteCiudades.$error" ng-if="projectForm.autocompleteCiudades.$touched">
                    <div ng-message="required">Este campo es Requerido.</div>
                    <!--
                    <div ng-message="minlength">Your entry is not long enough.</div>
                    <div ng-message="maxlength">Your entry is too long.</div>
                    -->
              </div>
            </md-autocomplete>

            <p ng-if="vm.validaDoc || vm.validaEm" class="validaError">
              {{vm.errorValida}}
            </p>


            <md-input>
                <label for="avatar" class="Jardines-Create-addimg">Añadir imagen</label>
            </md-input>
            <input type="file" id="avatar" accept="image/*" style="display: none;" on-read-img="vm.loadAvatar($fileContent)" />

            <img ng-if="vm.usuario.avatar" ng-src="{{'data:image/png;base64,' + vm.usuario.avatar }}" width="150px" height="150px">

            <p ng-show="vm.imagen()" class="validaError">{{vm.mensaje()}}</p>

            <button type="submit" class="Jardines-Create-Button" name="button">Guardar</button>

        </form>
    </div>
</div>
