
<div class="ListInquietud">

    <h3 class="Contacto-Title">Usuarios</h3>

    <table class="table-bordered table-hover color-t Table-container-Usuarios">
        <thead class="thead2">
            <div class="col-md-3">
                <tr class="Campo">
                    <th class="Table-container-Usuarios-elements Encabezados">Nombres</th>
                    <th class="Table-container-Usuarios-elements Encabezados">Apellidos</th>
                    <th class="Table-container-Usuarios-elements Encabezados">Celular</th>
                    <th class="Table-container-Usuarios-elements Encabezados">Teléfono</th>
                    <th class="Table-container-Usuarios-elements Encabezados">Dirección</th>
                    <th class="Table-container-Usuarios-elements Encabezados">Ciudad</th>
                    <th class="Table-container-Usuarios-elements Encabezados">Departamento</th>
                    <th class="Table-container-Usuarios-elements Encabezados">Email</th>
                    <th class="Table-container-Usuarios-elements Encabezados">Estado</th>

                </tr>
        </thead>
        <tbody class="Color-resultados">
            <tbody>
                <tr ng-repeat="usuarios in vm.usuarios">
                    <td  class="Table-container-Usuarios-elements">{{ usuarios.nombres }}</td>
                    <td  class="Table-container-Usuarios-elements">{{usuarios.apellidos}}</td>
                    <td  class="Table-container-Usuarios-elements">{{usuarios.celular}}</td>
                    <td  class="Table-container-Usuarios-elements">{{usuarios.telefono}}</td>
                    <td  class="Table-container-Usuarios-elements">{{usuarios.direccion}}</td>
                    <td  class="Table-container-Usuarios-elements">{{usuarios.ciudades.nombreCiudad}}</td>
                    <td  class="Table-container-Usuarios-elements">{{usuarios.ciudades.departamentos.nombreDepartamento}}</td>
                    <td  class="Table-container-Usuarios-elements">{{usuarios.email}}</td>

                    <td  class="Table-container-Usuarios-elements">
                        <md-switch ng-model="usuarios.estado" aria-label="Switch 6" ng-change="vm.onChange(usuarios.idUsuarios)">
                            Estado {{usuarios.estado}}
                        </md-switch>
                    </td>
            </tbody>

    </table>
    </div>
