<div class="perfil">
        <h2 class="Work-title">Perfil</h2>
        <div class="perfil-container">
        <figure class="perfil-container-img">
          <img class="avatar" ng-if="vm.usuario.avatar" ng-src="{{'data:image/png;base64,' + vm.usuario.avatar }}" alt="Avatar">
          <img class="avatar" ng-hide="vm.usuario.avatar" ng-src="/imagenes/svg/avatar.svg" alt="Avatar">
          <figcaption class="perfil-container-img-description">{{vm.usuario.nombres}} {{vm.usuario.apellidos}}</figcaption>
        </figure>
            <div class="perfil-container-description">
              <ul class="perfil-container-list list2">
                <li class="perfil-container-item">Documento:</li>
                <li class="perfil-container-item">Dirección:</li>
                <li class="perfil-container-item">Email:</li>
                <li class="perfil-container-item">Ciudad:</li>
                <li class="perfil-container-item">Departamento:</li>
              </ul>
              <ul class="perfil-container-list">
                <li class="perfil-container-item">{{vm.usuario.documento}}</li>
                <li class="perfil-container-item">{{vm.usuario.direccion}}</li>
                <li class="perfil-container-item">{{vm.usuario.email}}</li>
                <li class="perfil-container-item">{{vm.usuario.ciudades.nombreCiudad}}</li>
                <li class="perfil-container-item">{{vm.usuario.ciudades.departamentos.nombreDepartamento}}</li>
              </ul>
            <div class="perfil-container-button">
                 <a class="perfil-btn marginnone" href="#/usuarios/perfil/update/password">Cambiar contraseña</a>
                 <a class="perfil-btn" href="#/usuarios/perfil/update">Editar perfil</a>
                <a class="perfil-btn perfil-btn-rojo" href="#/usuarios/perfil/deshabilitarcuenta">Deshabilitar cuenta</a>
            </div>
          </div>
        </div>
        </div>
