<div class="contra">
<div class="contra-trans padding-bottom">
<h3 class="Work-title">Cambiar Contraseña</h3>
<div class="container formulario-pass">
  <form name="formUpdatePass" ng-submit="formUpdatePass.$valid && vm.updatepass()" novalidate>

<md-input-container class="md-block">
  <label>Contraseña Actual</label>
  <input required md-no-asterisk type="password" minlength="3" maxlength="100" md-maxlength="100" name="password" ng-model="vm.passwordNow" />
  <div ng-messages="formUpdatePass.password.$error" ng-show="formUpdatePass.$dirty" role="alert">
    <div ng-message="required">Este campo no puede estar vacío</div>
    <div ng-message="minlength">La contraseña debe llevar mínimo 3 Carácteres.</div>
    <div ng-message="maxlength">La contraseña no debe pasar de 100 Carácteres.</div>
    <div ng-message="md-maxlength">La contraseña no debe pasar de 100 Carácteres.</div>
  </div>
</md-input-container>

<md-input-container class="md-block">
  <label>Contraseña Nueva</label>
  <input required type="password" name="passwordNew" ng-model="vm.passwordNew" minlength="8" md-maxlength="100" maxlength="100">
  <div ng-messages="formUpdatePass.passwordNew.$error" ng-show="formUpdatePass.passwordNew.$dirty" role="alert">
    <div ng-message="required">Este campo no puede estar vacío</div>
    <div ng-message="minlength">La contraseña debe llevar mínimo 8 Carácteres.</div>
    <div ng-message="maxlength">La contraseña no debe pasar de 100 Carácteres.</div>
    <div ng-message="md-maxlength">La contraseña no debe pasar de 100 Carácteres.</div>  </div>
</md-input-container>

<md-input-container class="md-block">
  <label>Ingrese de nuevo la contraseña</label>
  <input type="password" name="passwordRepeat" ng-model="vm.passwordNewRepeat" minlength="8" md-maxlength="100" maxlength="100" required>
  <div ng-if="vm.passwordNew !== vm.passwordNewRepeat && vm.passwordNewRepeat !== null">
    <p class="validaError">Las contraseñas no coinciden</p></div>
  <div ng-messages="formUpdatePass.passwordRepeat.$error" ng-show="formUpdatePass.passwordRepeat.$dirty" role="alert">
    <div ng-message="required">Este campo no puede estar vacío</div>
    <div ng-message="minlength">La contraseña debe llevar mínimo 8 Carácteres.</div>
    <div ng-message="maxlength">La contraseña no debe pasar de 100 Carácteres.</div>
    <div ng-message="md-maxlength">La contraseña no debe pasar de 100 Carácteres.</div>
  </div>
</md-input-container>

<button type="submit" class="btn btn-success" ng-disabled="vm.passwordNow === undefined || vm.passwordNew !== vm.passwordNewRepeat || vm.passwordNewRepeat === undefined">Actualizar</button>
<button class="btn btn-success"><a class="colorletra" ng-href="#/usuarios/perfil">Cancelar</a></button>

</form>
</div>
</div>
</div>
