.Forms-Registro
  display flex
  justify-content center
  align-items center
  flex-direction column
  padding 2em 0
  background #f9f9f9
  color #515151
.Background-Registro1
  background-image url("/imagenes/svg/tapiz.svg")
.Background-Registro2
  background-image url("/imagenes/svg/buhos.svg")
  background-position center center
  background-size cover
  background-repeat no-repeat
.Background-Registro3
  background-image url("/imagenes/svg/Empresas.svg")
  background-size cover
  background-position center

.Inhabilit
  background-image url("/imagenes/hermanos.jpg")
  background-attachment fixed
  background-position center center
  background-repeat no-repeat
  background-size cover
  text-align center

.Inhabilit-transparent
  padding: 9em 0 10em 0
  background-color rgba(0, 132, 137, 0.8)

.Inhabilit-container
  background #fff
  border-radius 15px
  padding 5em
  max-width 65em
  text-align justify

.avatar
  border medium solid #f9f9f9
  border-radius 50%
  height 10em
  margin 5px
  width 10em
  box-shadow 0 0 8px 3px #0389ab

.formulario
    max-width 55em
    background rgba(255,255,255,0.9)
    padding 5em
    border-radius 15px
    box-shadow 4px 4px 10px 1px #000
    text-align center

.table-responsive
  @-moz-document url-prefix()
    fieldset  display table-cell

.lista-usuarios

    background-position center
    background-repeat no-repeat
    background-size cover
    text-align center
    background-image url("/imagenes/Fondo2.jpg")

.perfil-lista
    background-attachment fixed
    background-position center
    background-repeat no-repeat
    background-size cover
    text-align center
    background-image url("/imagenes/perfil.jpg")

.perfil-trans-lista
    padding 6em 0 6em 0
    background-color rgba(30, 166, 247, 0.25)

.perfil-update
    background-attachment fixed
    background-position center
    background-repeat no-repeat
    background-size cover
    text-align center
    background-image url("/imagenes/jk.jpg")

.btn-success-cs
    margin 2em
    color #FFF
    background #0BF
    border none
    padding 1.5em

    font-size 14px
    font-weight bold
    letter-spacing 1px
    text-transform uppercase
    text-align center
    cursor pointer
    width 12em

.per
    padding 4em

.colorletra
  color white

.contra
    background-attachment fixed
    background-position center
    background-repeat no-repeat
    background-size cover
    text-align center
    background-image url("/imagenes/imagen.jpg")

.contra-trans
    padding 2em 0 6em 0
    background-color rgba(20, 9, 160, 0.21)

.formulario-pass
    background #fff
    border-radius 15px
    padding 4em
    max-width 40em
.form-acount
    font-weight lighter !important

.Forms-Registro .container .md-block-select
  margin-bottom 2.2em

.md-select-value *:first-child
  text-align left

md-select.md-default-theme .md-select-value.md-select-placeholder, md-select .md-select-value.md-select-placeholder
  color #717171
  font-weight bold
  text-align left

md-autocomplete[md-floating-label] md-input-container
    padding-bottom 0
.validaError
  color red





/********************  DISEÑO TABLAS RESPONSIVE*****************/
.table-bordered table-hover color-t Table-container-Usuarios
    width 80%
    border-collapse separate
    border solid #0389ab 3px!important
    border-radius 15px
    background #f9f9f9!important
    margin 1em
.table-bordered table-hover color-t Table-container-Usuarios .thead2 Campo .Table-container-Usuarios-elements Encabezados
    padding .5em
    background #0389ab
    color #f9f9f9
    text-align center
    text-transform uppercase
    font-weight lighter

.table-bordered table-hover color-t Table-container-Usuarios .thead2 Campo .Table-container-Usuarios-elements Encabezados:first-child
   border-radius 5px 0 0 0

.table-bordered table-hover color-t Table-container-Usuarios .thead2 Campo .Table-container-Usuarios-elements Encabezados:last-child
    border-radius 0 5px 0 0

.table-bordered > .thead2 > Campo > .Table-container-Usuarios-elements Encabezados, .table-bordered > .Color-resultados > Campo > .Table-container-Usuarios-elements Encabezados, .table-bordered > tfoot > Campo > .Table-container-Usuarios-elements Encabezados, .table-bordered > .thead2 > Campo > .Table-container-Usuarios-elements, .table-bordered > .Color-resultados > Campo > .Table-container-Usuarios-elements, .table-bordered > tfoot > Campo > .Table-container-Usuarios-elements
    border none

.table-bordered table-hover color-t Table-container-Usuarios .Color-resultados Campo:nth-child(odd) .Table-container-Usuarios-elements
    background #eee

.table-bordered table-hover color-t Table-container-Usuarios .Color-resultados Campo .Table-container-Usuarios-elements
    padding 0.6em
    border-top 1px solid #027592!important
    border-right 1px solid #027592!important

.table-bordered table-hover color-t Table-container-Usuarios .Color-resultados Campo .Table-container-Usuarios-elements:last-child
    border-right none

.table-bordered table-hover color-t Table-container-Usuarios .Color-resultados Campo:nth-child(odd):last-child
    border-radius 0 0 5px 5px

.table-bordered table-hover color-t Table-container-Usuarios .thead2 Campo .Table-container-Usuarios-elements Encabezados
    padding 0.5em
    background #0389ab
    color #f9f9f9
    text-align center
    text-transform uppercase
    font-weight lighter

.table-bordered table-hover color-t Table-container-Usuarios .Color-resultados Campo:hover
    background #d3d3d3

table .Color-resultados Campo:last-child:hover
    border-radius 0 0 5px 5px

Campo
    background #ff4f00
    color white
    border 1px solid #ff4f00

.Color-resultados
    color black!important

.Table-container-Usuarios
    width 100%
    &-elements
        padding .7em 1em
        text-align center

@media only screen and (max-width: 760px), (min-width: 760px) and (max-width:1024px)
    .table-bordered table-hover color-t Table-container-Usuarios.Table-container-Usuarios, .Table-container-Usuarios .thead2, .Table-container-Usuarios  .Color-resultados, .Table-container-Usuarios .Table-container-Usuarios-elements Encabezados, .Table-container-Usuarios .Table-container-Usuarios-elements,.Table-container-Usuarios .Campo
        display block

    .Table-container-Usuarios .thead2 .Campo
        position absolute
        display none

    .color-t
        border none

    .Table-container-Usuarios
        margin-bottom 2em


    .Table-container-Usuarios .Table-container-Usuarios-elements
        position relative
        padding-left 40%
        font-size 12px
        text-align left

    .Table-container-Usuarios .Table-container-Usuarios-elements:before
        position absolute
        top 0px; left:-1px
        width 34%
        white-space nowrap
        display flex
        align-items center

        height 100%
        padding 0em 2%

        background #0389ab
        color #f9f9f9

        font-weight bold

     .table-bordered table-hover color-t Table-container-Usuarios
        border solid #0389ab 2px
     .table-bordered table-hover color-t Table-container-Usuarios .Color-resultados .Campo .Table-container-Usuarios-elements
        padding 0
        text-align center
        line-height 2.5
        border-right none
     .table-bordered table-hover color-t Table-container-Usuarios .Color-resultados .Campo:hover
        background none
     .table-bordered table-hover color-t Table-container-Usuarios .Color-resultados .Campo .Table-container-Usuarios-elements:hover
        background #d3d3d3
     .table-bordered table-hover color-t Table-container-Usuarios .Color-resultados .Campo:first-child
        border-radius 10px 10px 0 0
     .table-bordered table-hover color-t Table-container-Usuarios .Color-resultados .Campo:first-child .Table-container-Usuarios-elements:first-child
        border-top none
        border-radius 10px
     .table-bordered table-hover color-t Table-container-Usuarios .Color-resultados .Campo:first-child .Table-container-Usuarios-elements:first-child span:first-child
        border-radius 10px 0 0 0
     .table-bordered table-hover color-t Table-container-Usuarios .Color-resultados .Campo:last-child .Table-container-Usuarios-elements:last-child span
        border-radius 0 0 0 10px
     .table-bordered table-hover color-t Table-container-Usuarios .Color-resultados .Campo:last-child
        border-radius 0 0 10px 10px
     .table-bordered table-hover color-t Table-container-Usuarios > .thead2 > .Campo > .Table-container-Usuarios-elements Encabezados, .table > .Color-resultados > .Campo > .Table-container-Usuarios-elements Encabezados, .table > tfoot > .Campo > .Table-container-Usuarios-elements Encabezados, .table > .thead2 > .Campo > .Table-container-Usuarios-elements, .table > .Color-resultados > .Campo > .Table-container-Usuarios-elements, .table > tfoot > .Campo > .Table-container-Usuarios-elements
        border-top none!important
     .table-bordered table-hover color-t Table-container-Usuarios-bordered2 .Color-resultados .Campo
        border-bottom 1px solid #ddd!important
     glyphicon-search
        line-height 0 !important
        top -17px


    .Table-container-Usuarios .Table-container-Usuarios-elements:nth-of-type(1):before {content:"Nombre"}
    .Table-container-Usuarios .Table-container-Usuarios-elements:nth-of-type(2):before {content:"Apellido"}
    .Table-container-Usuarios .Table-container-Usuarios-elements:nth-of-type(3):before {content:"Celular"}
    .Table-container-Usuarios .Table-container-Usuarios-elements:nth-of-type(4):before {content:"Telefono"}
    .Table-container-Usuarios .Table-container-Usuarios-elements:nth-of-type(5):before {content:"Direccion"}
    .Table-container-Usuarios .Table-container-Usuarios-elements:nth-of-type(6):before {content:"Ciudad"}
    .Table-container-Usuarios .Table-container-Usuarios-elements:nth-of-type(7):before {content:"Departamento"}
    .Table-container-Usuarios .Table-container-Usuarios-elements:nth-of-type(7):before {content:"Email"}
    .Table-container-Usuarios .Table-container-Usuarios-elements:nth-of-type(7):before {content:"Estado"}

/*******************FIN DISEÑO TABLAS**********/

/***********************Perfil*******************/
.perfil
  display flex
  justify-content center
  align-items center
  flex-direction column
  background-color #f9f9f9
  min-height 80vh
  &-container-img
    display inline-block
    vertical-align top
    text-align center
    &-description
      font-size 18px
      font-weight bold
  &-container-description
    display inline-block
    vertical-align top
    padding 3em 3em
  &-container-list
    display inline-block
    list-style none
    padding 0
    margin 0
  &-container-button
    display inline-block
    vertical-align top
  &-btn
    display block
    padding .5em
    background #0389AB
    color white
    margin 1em
    border-radius 5px
    text-align center
    &-rojo
      background #C83737
  &-container-item
    padding .2em
    text-transform lowercase
.list2
  font-weight bold
.marginnone
  margin-top 0

/************Media screen para perfil*************/
@media screen and (max-width: 493px)
  .perfil-container
    text-align center
  .perfil-container-description
    padding 1em 3em
  .marginnone
    margin-top 1em
/**************Aquí termina****************/
