<div class="Jardines-Create">
    <h2 class="Work-title">Crear Mi Empresa</h2>
    <div class="Jardines-Create-Container">
        <form class=""  ng-submit="vm.create()" name="projectForm">

            <md-input-container class="md-block">
              <label>Nombre Empresa*</label>
              <input required md-no-asterisk minlength="7" md-maxlength="50" name="Nombre" ng-model="vm.empresa.nombreEmpresa" ng-pattern="/^[a-zA-Z ñáéíóú \s]*$/">    <div ng-messages="projectForm.Nombre.$error">
                    <div ng-message-exp="['required','pattern', 'minlength','md-maxlength']">El Nombre empresa debe contener menos de 50 caracteres, y sólo letras.</div>
                  </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>NIT *</label>
              <input required md-no-asterisk minlength="7" md-maxlength="300" name="nit" ng-model="vm.empresa.nit" ng-pattern="/^[0-9 -]*$/">
              <div ng-messages="projectForm.nit.$error" ng-show="projectForm.nit.$dirty" >
                <div ng-message="required">Este campo es requerido.</div>
                <div ng-message="minlength">Este campo debe tener almenos 7 caracteres.</div>
                <div ng-message="md-maxlength">Este campo no debe pasar de 300 carácteres.</div>
                <div ng-message="pattern">Ingrese solo números</div>
              </div>
            </md-input-container >
            <md-input-container class="md-block">
              <label>Representante Legal *</label>
              <input required md-no-asterisk minlength="3" md-maxlength="50" name="representante" ng-model="vm.empresa.representanteLegal" ng-pattern="/^[a-zA-Z ñáéíóú \s]*$/">
              <div ng-messages="projectForm.representante.$error" ng-show="projectForm.representante.$dirty">
                <div ng-message="required">Este campo es requerido.</div>
                <div ng-message="md-maxlength">El nombre del representante legal, no debe de pasar de 50 caracteres</div>
                <div ng-message="minlength">El nombre del representante legal, debe contener más de 3 caracteres</div>
                <div ng-message="pattern">Ingrese sólo letras</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Dirección *</label>
              <input required md-no-asterisk minlength="10" maxlength="80" md-maxlength="80" name="direccion"
              ng-model="vm.empresa.direccion" ng-pattern="/^[a-zA-Z ñáéíóú 0-9 . # ° \s -]*$/">
              <div ng-messages="projectForm.direccion.$error" role="alert">
                <div ng-message-exp="['required','pattern','maxlength','md-maxlength','minlength']">Este campo es requerido. Caracteres de mínimo 10 y máximo 80.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Actividad Económica *</label>
              <input required md-no-asterisk minlength="3" md-maxlength="300" name="actividad" ng-model="vm.empresa.actividadEconomica" ng-pattern="/^[a-zA-Z ñáéíóú \s]*$/">
              <div ng-messages="projectForm.actividad.$error" ng-show="projectForm.actividad.$dirty">
                <div ng-message="required">Este campo es requerido.</div>
                <div ng-message="md-maxlength">Este campo no debe pasar de 50 caracteres</div>
                <div ng-message="minlength">Este campo debe contener más de 3 caracteres</div>
                <div ng-message="pattern">Ingrese sólo letras</div>
              </div>
            </md-input-container >

            <md-input-container class="md-block">
              <label>Telefono</label>
              <input type="text" required md-no-asterisk min-lenght="1" md-maxlength="7" name="telefono"
              ng-model="vm.empresa.telefono" ng-pattern="/^[0-9]*$/">
              <div ng-messages="projectForm.telefono.$error" ng-show="projectForm.telefono.$dirty">
                <div ng-message="required">Este campo es requerido.</div>
                <div ng-message="md-maxlength">Este campo no debe pasar de 7 caracteres</div>
                <div ng-message="minlength">Este campo debe contener más de 1 caracter</div>
                <div ng-message="pattern">Ingrese sólo números</div>
              </div>
            </md-input-container>

            <md-input-container class="md-block">
              <label>Celular </label>
              <input type="number" md-no-asterisk minlength="1" md-maxlength="12" name="celular" ng-model="vm.empresa.celular" ng-pattern="/^[0-9]*$/">
              <div ng-messages="projectForm.celular.$error" ng-show="projectForm.celular.$dirty">
                <div ng-message="required">Este campo es requerido.</div>
                <div ng-message="md-maxlength">Este campo no debe pasar de 12 caracteres</div>
                <div ng-message="minlength">Este campo debe contener mas de 1 caracter</div>
                <div ng-message="pattern">Ingrese sólo números</div>
              </div>
            </md-input-container>


            <md-input-container class="md-block">
              <label>Correo Electrónico *</label>
              <input required md-no-asterisk type="email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" name="email" ng-model="vm.empresa.email">
              <div ng-messages="projectForm.email.$error" role="alert">
                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">Este campo es requerido, debe tener minimo 10 y máximo 100 carácteres, arroba(@) y punto(.)</div>
              </div>
            </md-input-container>




          <md-autocomplete  md-selected-item="vm.empresa.ciudades"
                                          required md-search-text="vm.searchTextCiudades"
                                          md-items="item in vm.queryCiudades(vm.searchTextCiudades)"
                                          md-item-text="item.nombreCiudad + ' - ' + item.departamentos.nombreDepartamento"
                                          md-min-length="1" md-floating-label="Ciudad de Domicilio" md-input-name="TiposDocumentos" required>
                            <md-item-template>
                                <span md-highlight-text="vm.searchTextCiudades" md-highlight-flags="^i">
                                     {{item.nombreCiudad}} - {{item.departamentos.nombreDepartamento}}</span>
                            </md-item-template>
                            <md-not-found>
                                La ciudad "{{vm.searchTextCiudades}}" no fue encontrada.
                            </md-not-found>
                        </md-autocomplete>
                        <p ng-if="vm.validaDoc || vm.validaEm" class="validaError">
                          {{vm.errorValida}}
                        </p>


             <button type="submit" class="Jardines-Create-Button" name="button" >Guardar</button>

        </form>
      </div>
  </div>
