<div class="ListInquietud">
           <h2 class="Contacto-Title">Lista Empresas</h2>
						<table style="width:80%" class="Table">
							<thead class="Thead">
			<thead>
				<tr>
					<th>Nombre Empresa</th>
          <th>NIT</th>
          <th>Representante Legal</th>
          <th>Dirección</th>
          <th>Actividad económica</th>
          <th>Teléfono</th>
          <th>Celular</th>
          <th>Email</th>
          <th>Usuario</th>
          <th>Ciudad</th>
          <th>Deshabilitar</th>
          <th>Departamento</th>
          <th>Editar</th>
				</tr>
			</thead>
      <tbody>
        <tr ng-repeat="empresa in vm.empresa">

          <td>{{empresa.nombreEmpresa}}</td>
          <td>{{empresa.nit}}</td>
          <td>{{empresa.representanteLegal}}</td>
          <td>{{empresa.direccion}}</td>
          <td>{{empresa.actividadEconomica}}</td>
          <td>{{empresa.telefono}}</td>
          <td>{{empresa.celular}}</td>
          <td>{{empresa.email}}</td>
          <td>{{empresa.idUsuarios.nombres}}</td>
          <td>{{empresa.ciudades.nombreCiudad}}</td>
          <td><md-switch ng-model="empresa.estado" aria-label="Switch 6" ng-change="vm.onChange(empresa.idempresa)">
              
          </md-switch></td>
          <td>{{empresa.ciudades.departamentos.nombreDepartamento}}</td>
          <td><a href="#/empresas/update/{{empresa.idempresa}}"><span class="glyphicon glyphicon-pencil" ></span></a></td>
        </tr>
      </tbody>
    </table>

    <a class="btn btn-lg btn-primary" ng-href="#/empresas/create">Registra tú Empresa</a>

  </div>
