<div class="Jardines-Create">
    <h2 class="Work-title">Actualiza tú Empresas</h2>
    <div class="Jardines-Create-Container">
        <form class=""  ng-submit="vm.update()" name="projectForm">

            <md-input-container class="md-block">
              <label>Nombre Empresa*</label>
              <input required md-no-asterisk md-maxlength="50" name="Nombre" ng-model="vm.empresa.nombreEmpresa">
              <div ng-messages="projectForm.Nombre.$error" role="alert">
                <div ng-message="required">Este campo es requerido.</div>
                <div ng-message="md-maxlength">El nombre de la empresa, no debe de pasar de 50 caracteres</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>NIT *</label>
              <input required md-no-asterisk md-maxlength="300" name="nit" ng-model="vm.empresa.nit">
              <div ng-messages="projectForm.nit.$error" role="alert">
                <div ng-message="required">Este campo es requerido.</div>
                <div ng-message="md-maxlength">Este campo no debe pasar de 15 caracteres</div>
              </div>
            </md-input-container >
            <md-input-container class="md-block">
              <label>Representante Legal*</label>
              <input required md-no-asterisk md-maxlength="50" name="representante" ng-model="vm.empresa.representanteLegal">
              <div ng-messages="projectForm.representate.$error" role="alert">
                <div ng-message="required">Este campo es requerido.</div>
                <div ng-message="md-maxlength">El nombre del representante legal, no debe de pasar de 50 caracteres</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Dirección *</label>
              <input required md-no-asterisk md-maxlength="50" name="direccion" ng-model="vm.empresa.direccion">
              <div ng-messages="projectForm.direccion.$error" role="alert">
                <div ng-message="required">Este campo es requerido.</div>
                <div ng-message="md-maxlength">Este campo no debe pasar de 50 caracteres</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Actividad Económica *</label>
              <input required md-no-asterisk md-maxlength="300" name="actividad" ng-model="vm.empresa.actividadEconomica">
              <div ng-messages="projectForm.actividad.$error" role="alert">
                <div ng-message="required">Este campo es requerido.</div>
                <div ng-message="md-maxlength">Este campo no debe pasar de 50 caracteres</div>
              </div>
            </md-input-container >

            <md-input-container class="md-block">
              <label>Telefono</label>
              <input type="number" md-no-asterisk maxlength="8" name="telefono" ng-model="vm.empresa.telefono">
              <div ng-messages="projectForm.telefono.$error" role="alert">
                <div ng-message="maxlength">Este campo no debe pasar de 9 caracteres</div>
              </div>
            </md-input-container>

            <md-input-container class="md-block">
              <label>Celular </label>
              <input type="number" md-no-asterisk maxlength="12" name="celular" ng-model="vm.empresa.celular">
              <div ng-messages="projectForm.celular.$error" role="alert">

                <div ng-message="maxlength">Este campo no debe pasar de 12 caracteres</div>
              </div>
            </md-input-container>


            <md-input-container class="md-block">
              <label>Correo Electrónico *</label>
              <input required md-no-asterisk type="email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" name="email" ng-model="vm.empresa.email">
              <div ng-messages="projectForm.email.$error" role="alert">
                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">Este campo es requerido, debe tener mínimo 10 y máximo 100 caracteres, arroba(@) y punto(.)</div>
              </div>
            </md-input-container>




          <md-autocomplete  md-selected-item="vm.empresa.ciudades"
                                          required md-search-text="vm.searchTextCiudades"
                                          md-items="item in vm.queryCiudades(vm.searchTextCiudades)"
                                          md-item-text="item.nombreCiudad + ' - ' + item.departamentos.nombreDepartamento"
                                          md-min-length="1" md-floating-label="Ciudad de Domicilio" md-input-name="TiposDocumentos" required>
                            <md-item-template>
                                <span md-highlight-text="vm.searchTextCiudades" md-highlight-flags="^i">
                                     {{item.nombreCiudad}} - {{item.departamentos.nombreDepartamento}}</span>
                            </md-item-template>
                            <md-not-found>
                                La ciudad "{{vm.searchTextCiudades}}" no fue encontrada.
                            </md-not-found>
                        </md-autocomplete>
                        <p ng-if="vm.validaDoc || vm.validaEm" class="validaError">
                          {{vm.errorValida}}
                        </p>


            <button type="submit" class="btn btn-success" name="button">Actualizar</button>

        </form>
      </div>
  </div>
