<div class="row">
<h2>Lista Departamentos</h2>


<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Departamentos</h3>
	</div>
	<div class="panel-body">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Id Departamento</th>
          <th>Nombre</th>
          <th>País</th>
				</tr>
			</thead>
      <tbody>
        <tr  ng-repeat="departamentos in vm.departamentos">
          <td>{{ departamentos.idDepartamento}}</td>
          <td>{{departamentos.nombreDepartamento}}</td>
          <td>{{departamentos.idPais.nombrePais}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
