<div class="Jardines-Create">
    <h2 class="Work-title">Crear Jardín Infantil</h2>
    <div class="Jardines-Create-Container">
        <form ng-submit="projectForm.$valid && vm.create()" name="projectForm" novalidate>

            <md-input-container class="md-block">
              <label>Nombre del jardín*</label>
              <input required md-no-asterisk minlength="3" maxlength="50" md-maxlength="50" name="Nombre"
              ng-model="vm.jardinesinfantiles.nombreJardin" ng-pattern="/^[a-zA-Z ñáéíóú \s]*$/">
              <div ng-messages="projectForm.Nombre.$error" ng-show="projectForm.Nombre.$dirty" role="alert">
                <div ng-message="required">Este campo es obligatorio.</div>
                <div ng-message="pattern">Ingrese solo Letras.</div>
                <div ng-message="minlength">El nombre debe tener como mínimo 3 caracteres.</div>
                <div ng-message="maxlength">El nombre no debe pasar de 50 caracteres.</div>
                <div ng-message="md-maxlength">El nombre no debe pasar de 50 caracteres.</div>
              </div>
            </md-input-container>

            <md-input-container class="md-block">
              <label>Descripción del jardín *</label>
              <input required  minlength="15" maxlength="300" md-maxlength="300" name="descripcion"
              ng-model="vm.jardinesinfantiles.descripcion" ng-pattern="/^[a-zA-Z ñáéíóú 0-9 . , ; : # ! ¡ ( ) \s]*$/">
              <div ng-messages="projectForm.descripcion.$error" ng-show="projectForm.descripcion.$dirty" role="alert">
                <div ng-message="required">Este campo es obligatorio.</div>
                <div ng-message="pattern">Ingrese letras y números.</div>
                <div ng-message="minlength">La descripción debe tener como mínimo 15 caracteres.</div>
                <div ng-message="maxlength">La descripción no debe pasar de 300 carácteres.</div>
                <div ng-message="md-maxlength">La descripción no debe pasar de 300 carácteres.</div>
              </div>
            </md-input-container>

            <md-input-container class="md-block">
              <label>Dirección *</label>
              <input required md-no-asterisk minlength="10" maxlength="80" md-maxlength="80" name="direccion"
              ng-model="vm.jardinesinfantiles.direccion" ng-pattern="/^[a-zA-Z ñáéíóú 0-9 . # ° \s -]*$/">
              <div ng-messages="projectForm.direccion.$error" ng-show="projectForm.direccion.$dirty" role="alert">
                <div ng-message="required">Este campo es obligatorio.</div>
                <div ng-message="pattern">Ingrese letras y números.</div>
                <div ng-message="minlength">La dirección debe tener como mínimo 10 caracteres.</div>
                <div ng-message="maxlength">La dirección no debe pasar de 80 caracteres.</div>
                <div ng-message="md-maxlength">La dirección no debe pasar de 80 caracteres.</div>
              </div>
            </md-input-container>

            <md-input-container class="md-block">
              <label>Celular *</label>
              <input type="text" required md-no-asterisk minlength="7" maxlength="12" md-maxlength="12" name="celular"
              ng-model="vm.jardinesinfantiles.celular" ng-pattern="/^[0-9]*$/">
              <div ng-messages="projectForm.celular.$error" ng-show="projectForm.celular.$dirty" role="alert">
                <div ng-message="required">Este campo es obligatorio.</div>
                <div ng-message="pattern">Ingrese solo números sin espacios.</div>
                <div ng-message="minlength">El celular debe tener como mínimo 7 caracteres.</div>
                <div ng-message="maxlength">El celular no debe pasar de 12 caracteres.</div>
                <div ng-message="md-maxlength">El celular no debe pasar de 12 caracteres.</div>
              </div>
            </md-input-container>

            <md-input-container class="md-block">
              <label>Teléfono</label>
              <input type="text" md-no-asterisk minlength="7" maxlength="15" md-maxlength="15" name="telefono"
              ng-model="vm.jardinesinfantiles.telefono" ng-pattern="/^[0-9]*$/">
              <div ng-messages="projectForm.telefono.$error" ng-show="projectForm.telefono.$dirty" role="alert">
                <div ng-message="pattern">Ingrese números sin espacios.</div>
                <div ng-message="minlength">El teléfono debe tener como mínimo 7 caracteres.</div>
                <div ng-message="maxlength">El teléfono no debe pasar de 15 caracteres.</div>
                <div ng-message="md-maxlength">El teléfono no debe pasar de 15 caracteres.</div>
              </div>
            </md-input-container>

            <md-input-container class="md-block">
              <label>Correo Electrónico *</label>
              <input required md-no-asterisk ng-blur="vm.validaEmail()" type="email" minlength="12" maxlength="60" md-maxlength="60" name="email"
              ng-model="vm.jardinesinfantiles.email" ng-pattern="/^.+@.+\..+$/">
              <div ng-messages="projectForm.email.$error" ng-show="projectForm.email.$dirty" role="alert">
                <div ng-message="required">Este campo es obligatorio</div>
                <div ng-message="pattern">Ingrese un email valido que contenta arroba(@) y punto(.)</div>
                <div ng-message="minlength">El correo debe tener como mínimo 12 caracteres.</div>
                <div ng-message="maxlength">El correo no debe pasar de 60 caracteres.</div>
                <div ng-message="md-maxlength">El correo no debe pasar de 60 caracteres.</div>
              </div>
              <p ng-show="vm.validaEm" class="validaError">
                El Email ya se encuentra registrado.
              </p>
            </md-input-container>

            <md-input-container class="md-block">
              <label>Sitio web</label>
              <input md-no-asterisk minlength="10" maxlength="80" md-maxlength="80" name="sitioweb"
              ng-model="vm.jardinesinfantiles.sitioweb" ng-pattern="/^[a-zA-Z ñáéíóú 0-9 . \s]*$/">
              <div ng-messages="projectForm.sitioweb.$error" ng-show="projectForm.sitioweb.$dirty" role="alert">
                <div ng-message="pattern">Ingrese letras y números.</div>
                <div ng-message="minlength">El sitio web debe tener como mínimo 10 caracteres.</div>
                <div ng-message="maxlength">El sitio web no debe pasar de 80 caracteres.</div>
                <div ng-message="md-maxlength">El sitio web no debe pasar de 80 caracteres.</div>
              </div>
            </md-input-container>

            <md-input-container  class="md-block">
              <label>Tipo jardín</label>
              <md-select required ng-model="vm.jardinesinfantiles.idTipoJardines.idTipoJardines" name="TipoJardin">
                <md-option ng-repeat="tipoJardines in vm.queryTipoJardines" value="{{tipoJardines.idTipoJardines}}">{{tipoJardines.idTipoJardines}}-{{tipoJardines.nombreTipoJardines}}</md-option>
              </md-select>
              <div class="errors" ng-messages="projectForm.TipoJardin.$error">
                <div ng-message="required">Este campo es requerido</div>
              </div>
            </md-input-container>

            <p ng-show="vm.imagen()" class="validaError">{{vm.mensaje()}}</p>

            <md-input>
              <label for="input-img" class="Jardines-Create-addimg">Añadir Imagen</label><br/>
            </md-input>
            <input id="input-img" style="display:none;" type="file" on-read-img="vm.loadImg($fileContent)">
            <img ng-if="vm.jardinesinfantiles.foto" ng-src="{{'data:image/png;base64,' + vm.jardinesinfantiles.foto}}" height="300px">

             <button type="submit" class="Jardines-Create-Button" name="button" >Guardar</button>

        </form>
      </div>
  </div>
