<div class="JardinView-container">
  <h2 class="Jardin-title">Jardín infantil</h2>
<figure class="ImgJardin-container">
    <img ng-if="vm.jardinesinfantiles.foto" ng-src="{{'data:image/png;base64,' + vm.jardinesinfantiles.foto}}" alt="{{vm.jardinesinfantiles.nombreJardin }}" class="jardin-img">
    <img ng-hide="vm.jardinesinfantiles.foto" ng-src="/imagenes/svg/casita.svg" alt="{{vm.jardinesinfantiles.nombreJardin }}" class="jardin-img">
</figure>
<figure class="TableroContainer">
<img src="/imagenes/svg/tablero.svg" class="Tablero"/>
</figure>
<div class="TableJv-container">
<h3 class="title">{{vm.jardinesinfantiles.nombreJardin}}</h3>
  <div class="Table-jv">
      <div class="Title-list">
        <h5 class="text-listaJ">Dirección:</h5>
        <h5 class="text-listaJ">Celular:</h5>
        <h5 class="text-listaJ" ng-show="vm.jardinesinfantiles.telefono">Telefono:</h5>
        <h5 class="text-listaJ">Email:</h5>
        <h5 class="text-listaJ" ng-show="vm.jardinesinfantiles.sitioweb">Sitio Web:</h5>
        <h5 class="text-listaJ">Tipo Jardin:</h5>
      </div>
  <div class="Description-list">
      <h5 class="description-listaJ">
      {{vm.jardinesinfantiles.direccion}}</h5>
      <h5 class="description-listaJ">
      {{vm.jardinesinfantiles.celular}}</h5>
      <h5 class="description-listaJ">
      {{vm.jardinesinfantiles.telefono}}</h5>
      <h5 class="description-listaJ">
      {{vm.jardinesinfantiles.email}}</h5>
      <h5 class="description-listaJ">
      {{vm.jardinesinfantiles.sitioweb}}</h5>
      <h5 class="description-listaJ">
      {{vm.jardinesinfantiles.idTipoJardines.nombreTipoJardines}}</h5>
   </div>
   <div ng-show="vm.isAuthenticated()" class="Calificar">
   <select class="Select-jv" name="" ng-model="vm.calificaciones.puntuacion" value="" id="">
       <option value="1">1</option>
       <option value="2">2</option>
       <option value="3">3</option>
       <option value="4">4</option>
       <option value="5">5</option>
   </select>
     <button class="btn-jv" ng-click="vm.calificar(jardinesinfantiles.idJardinInfantil)">Calificar</button>
     <a class="btn-jv" href="#/inquietudes/create/{{vm.jardinesinfantiles.idJardinInfantil}}">Inquietud</a>
   </div>
</div>
</div>
</div>

<div class="Comentarios">
<div class="Comments-container">
  <h2>Comentarios</h2>
    <ul class="Comments-list" ng-repeat="comentario in vm.comentarios">
      <li>
        <div class="CommentMain-level">
        <!--Perfil-photo-->
        <div class="Comment-avatar"><!--img src="/imagenes/perfil2.png" alt="ImageBravo" -->{{comentario.idUsuarios.nombres | limitTo:1}}</div>
        <!--Contenedor comentario-->
          <div class="Comment-box">
            <div class="Comment-head">
              <h6 class="Comment-name"><a href="">{{comentario.idUsuarios.nombres}}</a></h6>
              <span>{{comentario.fecha}}</span>
            </div>
            <div class="Comment-content">
                {{comentario.descripcion}}
            </div>
          </div>
        </div>
      </li>
    </ul>
    <textarea class="Textarea" placeholder="Agrega un comentario..." rows="8" cols="40" ng-model="vm.newComentario.descripcion"></textarea>
    <button class="Comment-btn" ng-click="vm.createComentario()">Enviar</button>
</div>
</div>
