/***************Diseño para el list Jardines********/
.buscarJArdin {
  font-size: 16px;
}
.btn {
  box-shadow: none;
}
.Jardines-List:nth-child(odd),
.Jardines-List:nth-child(even) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #515151;
}
.Jardines-background {
  background-image: url("/imagenes/svg/tapiz.svg");
  color: #515151;
}
.Jardines-List-Content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 57em;
  box-shadow: 1px 1px 5px 0 #515168;
  background-color: rgba(255,255,255,0.8);
  border-radius: 15px;
}
.Jardines-List-img {
  max-width: 22em;
  max-height: 22em;
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
  background: #fff;
  margin: 2em;
}
.Jardines-List-Content-Text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 35em;
  min-height: 20.6em;
  padding: 2%;
}
.Jardines-List-Title,
.miJardin-Title {
  position: relative;
  font-size: 2em;
  font-weight: bold;
  padding: 0.5em;
  width: 29em;
  text-align: center;
  color: #fff;
  box-shadow: 0px 2px 5px 0 #515151;
  margin-bottom: 1em;
  border-radius: 5px;
}
.Jardines-List-Title {
  background: #8c48aa;
}
.Jardines-List-Title-Description {
  padding: 1em;
}
.Jardines-List-Title-Button {
  padding: 0.5em;
  margin: 1em;
  font-weight: bold;
}
.Jardines-List-Title:before {
  content: url("/imagenes/svg/cinta2.svg");
  position: absolute;
  left: -45px;
}
.Jardines-List-Title:after {
  content: url("/imagenes/svg/cinta1.svg");
  position: absolute;
  right: -45px;
}
.Jardines-List:nth-child(odd) .Jardines-List-Content {
  flex-direction: row-reverse;
}
.Jardines-List:last-child {
  padding-bottom: 2%;
}
.Title-Jardines {
  text-align: center;
  margin: 0;
}
.Title-items {
  font-size: 18px;
}
.Jardines-List-Description {
  width: 18em;
}
h5,
.h5 {
  color: #0389ab;
  font-size: 18px;
}
/****************Aqui termina diseño para list Jardines************/
/*
  &-Publicidad
    width 15em
    height 40em
    visibility hidden
    vertical-align top
    display inline-block
  */
.Jardines-Create {
  background-image: url("/imagenes/Fondo2.jpg");
  text-align: center;
  color: #515151;
  padding: 4% 2%;
}
.Jardines-Create-Container {
  max-width: 50%;
  margin: 0 auto;
  background: rgba(255,255,255,0.5);
  box-shadow: 1px 1px 5px 0 #515151;
  padding: 5%;
  border-radius: 15px;
}
.Jardines-Create-addimg {
  box-shadow: 1px 1px 5px 0 #515151;
  padding: 1em;
  width: 100%;
  background: #53abc1;
  font-weight: lighter;
  border-radius: 5px;
  margin: 0 0 1em 0;
  color: #fff;
}
.Jardines-Create-Button {
  padding: 1em;
  width: 10em;
  color: #fff;
  background: #0389ab;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 0 #515151;
  margin: 3%;
  font-weight: bold;
}
.Jardines-Create-Button:focus {
  border: none;
}
/******Diseño para Jardines View ******/
.jardin-img {
  height: 20em;
  width: 30em;
  border: PowderBlue 5px solid;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: 21em;
}
.Jardin-title {
  padding: 1.5em 0;
  margin: 0;
}
.title {
  color: #fff;
  text-shadow: 2px 2px 2px #000;
  font-size: 28px;
}
.TableJv-container {
  bottom: 0;
  display: inline-block;
  margin-left: 2em;
  padding-left: 2em;
  position: relative;
  right: 28em;
}
.ImgJardin-container {
  display: inline-block;
  vertical-align: top;
}
.JardinView-container {
  text-align: center;
  margin: 0 auto;
  background-image: url("/imagenes/svg/paisaje-jv.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.Title-list {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.Description-list {
  display: inline-block;
  padding-left: 2em;
}
.Select-jv,
.btn-jv {
  display: inline-block;
  margin: 0 auto;
}
.Select-jv {
  margin: 0 0.5em;
}
.btn-jv {
  background: #c83737;
  border: 1px solid #d23030;
  font-family: 'Salsa', cursive;
  border-radius: 10px;
  color: #fff;
  margin: 0 0.5em;
  padding: 0.5em;
}
.Calificar {
  text-align: center;
  margin-top: 0.8em;
}
.Tablero {
  bottom: 6.6em;
  left: 3em;
  position: relative;
}
.TableroContainer {
  display: inline-block;
}
/******** inicio dieño para mi jardin ***********/
.miJardin-Background {
  background-image: url("/imagenes/svg/manitos.svg");
  color: #515151;
}
.miJardin-container-list {
  text-align: center;
  width: 100%;
}
.miJardin-content-list {
  display: inline-block;
  list-style: none;
  padding: 2%;
}
.miJardin-content-items {
  text-align: left;
  font-size: 1.2em;
}
.items-bold {
  font-weight: bold;
}
.miJardin-content-line {
  display: inline-block;
  padding: 0.5em;
}
.miJardin-content-links {
  text-align: center;
}
.miJardin-Background .Jardines-List-Content .Jardines-List-Content-Text .miJardin-container-list .miJardin-content-links .miJardin-content-line a {
  text-decoration: none;
  color: #0389ab;
  font-size: 1.2em;
}
.line1:after,
.line2:after {
  display: block;
  margin: 0 auto;
}
.line1:after {
  content: url("/imagenes/line1.png");
}
.line2:after {
  content: url("/imagenes/line2.png");
}
.miJardin-Title {
  background: #e83434;
}
.miJardin-Title:before {
  content: url("/imagenes/svg/cinta2-2.svg");
  position: absolute;
  left: -45px;
}
.miJardin-Title:after {
  content: url("/imagenes/svg/cinta1-1.svg");
  position: absolute;
  right: -45px;
}
.miJardin-content-items-movil {
  display: none;
}
/******** fin dieño para mi jardin ***********/
/*****DISEÑO TABLAS PARA MIS USUARIOS****************/
.table-bordered table-hover color-t Table-container-MisUsuarios {
  width: 80%;
  border-collapse: separate;
  border: solid #0389ab 3px !important;
  border-radius: 15px;
  background: #f9f9f9 !important;
  margin: 1em;
}
.table-bordered table-hover color-t Table-container-MisUsuarios .thead2 Campo .Table-container-MisUsuarios-elements Encabezados {
  padding: 0.5em;
  background: #0389ab;
  color: #f9f9f9;
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
}
.table-bordered table-hover color-t Table-container-MisUsuarios .thead2 Campo .Table-container-MisUsuarios-elements Encabezados:first-child {
  border-radius: 5px 0 0 0;
}
.table-bordered table-hover color-t Table-container-MisUsuarios .thead2 Campo .Table-container-MisUsuarios-elements Encabezados:last-child {
  border-radius: 0 5px 0 0;
}
.table-bordered > .thead2 > Campo > .Table-container-MisUsuarios-elements Encabezados,
.table-bordered > .Color-resultados > Campo > .Table-container-MisUsuarios-elements Encabezados,
.table-bordered > tfoot > Campo > .Table-container-MisUsuarios-elements Encabezados,
.table-bordered > .thead2 > Campo > .Table-container-MisUsuarios-elements,
.table-bordered > .Color-resultados > Campo > .Table-container-MisUsuarios-elements,
.table-bordered > tfoot > Campo > .Table-container-MisUsuarios-elements {
  border: none;
}
.table-bordered table-hover color-t Table-container-MisUsuarios .Color-resultados Campo:nth-child(odd) .Table-container-MisUsuarios-elements {
  background: #eee;
}
.table-bordered table-hover color-t Table-container-MisUsuarios .Color-resultados Campo .Table-container-MisUsuarios-elements {
  padding: 0.6em;
  border-top: 1px solid #027592 !important;
  border-right: 1px solid #027592 !important;
}
.table-bordered table-hover color-t Table-container-MisUsuarios .Color-resultados Campo .Table-container-MisUsuarios-elements:last-child {
  border-right: none;
}
.table-bordered table-hover color-t Table-container-MisUsuarios .Color-resultados Campo:nth-child(odd):last-child {
  border-radius: 0 0 5px 5px;
}
.table-bordered table-hover color-t Table-container-MisUsuarios .thead2 Campo .Table-container-MisUsuarios-elements Encabezados {
  padding: 0.5em;
  background: #0389ab;
  color: #f9f9f9;
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
}
.table-bordered table-hover color-t Table-container-MisUsuarios .Color-resultados Campo:hover {
  background: #d3d3d3;
}
table .Color-resultados Campo:last-child:hover {
  border-radius: 0 0 5px 5px;
}
Campo {
  background: #ff4f00;
  color: #fff;
  border: 1px solid #ff4f00;
}
.Color-resultados {
  color: #000 !important;
}
.Table-container-MisUsuarios {
  width: 100%;
}
.Table-container-MisUsuarios-elements {
  padding: 0.7em 1em;
  text-align: center;
}
@media only screen and (max-width: 760px), (min-width: 760px) and (max-width: 1024px) {
  .table-bordered table-hover color-t Table-container-MisUsuarios.Table-container-MisUsuarios,
  .Table-container-MisUsuarios .thead2,
  .Table-container-MisUsuarios .Color-resultados,
  .Table-container-MisUsuarios .Table-container-MisUsuarios-elements Encabezados,
  .Table-container-MisUsuarios .Table-container-MisUsuarios-elements,
  .Table-container-MisUsuarios .Campo {
    display: block;
  }
  .Table-container-MisUsuarios .thead2 .Campo {
    position: absolute;
    display: none;
  }
  .color-t {
    border: none;
  }
  .Table-container-MisUsuarios {
    margin-bottom: 2em;
  }
  .Table-container-MisUsuarios .Table-container-MisUsuarios-elements {
    position: relative;
    padding-left: 40%;
    font-size: 12px;
    text-align: left;
  }
  .Table-container-MisUsuarios .Table-container-MisUsuarios-elements:before {
    position: absolute;
    top: 0px;
    left: -1px;
    width: 34%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0em 2%;
    background: #0389ab;
    color: #f9f9f9;
    font-weight: bold;
  }
  .table-bordered table-hover color-t Table-container-MisUsuarios {
    border: solid #0389ab 2px;
  }
  .table-bordered table-hover color-t Table-container-MisUsuarios .Color-resultados .Campo .Table-container-MisUsuarios-elements {
    padding: 0;
    text-align: center;
    line-height: 2.5;
    border-right: none;
  }
  .table-bordered table-hover color-t Table-container-MisUsuarios .Color-resultados .Campo:hover {
    background: none;
  }
  .table-bordered table-hover color-t Table-container-MisUsuarios .Color-resultados .Campo .Table-container-MisUsuarios-elements:hover {
    background: #d3d3d3;
  }
  .table-bordered table-hover color-t Table-container-MisUsuarios .Color-resultados .Campo:first-child {
    border-radius: 10px 10px 0 0;
  }
  .table-bordered table-hover color-t Table-container-MisUsuarios .Color-resultados .Campo:first-child .Table-container-MisUsuarios-elements:first-child {
    border-top: none;
    border-radius: 10px;
  }
  .table-bordered table-hover color-t Table-container-MisUsuarios .Color-resultados .Campo:first-child .Table-container-MisUsuarios-elements:first-child span:first-child {
    border-radius: 10px 0 0 0;
  }
  .table-bordered table-hover color-t Table-container-MisUsuarios .Color-resultados .Campo:last-child .Table-container-MisUsuarios-elements:last-child span {
    border-radius: 0 0 0 10px;
  }
  .table-bordered table-hover color-t Table-container-MisUsuarios .Color-resultados .Campo:last-child {
    border-radius: 0 0 10px 10px;
  }
  .table-bordered table-hover color-t Table-container-MisUsuarios > .thead2 > .Campo > .Table-container-MisUsuarios-elements Encabezados,
  .table > .Color-resultados > .Campo > .Table-container-MisUsuarios-elements Encabezados,
  .table > tfoot > .Campo > .Table-container-MisUsuarios-elements Encabezados,
  .table > .thead2 > .Campo > .Table-container-MisUsuarios-elements,
  .table > .Color-resultados > .Campo > .Table-container-MisUsuarios-elements,
  .table > tfoot > .Campo > .Table-container-MisUsuarios-elements {
    border-top: none !important;
  }
  .table-bordered table-hover color-t Table-container-MisUsuarios-bordered2 .Color-resultados .Campo {
    border-bottom: 1px solid #ddd !important;
  }
  glyphicon-search {
    line-height: 0 !important;
    top: -17px;
  }
  .Table-container-MisUsuarios .Table-container-MisUsuarios-elements:nth-of-type(1):before {
    content: "Titulo";
  }
  .Table-container-MisUsuarios .Table-container-MisUsuarios-elements:nth-of-type(2):before {
    content: "Descripcion";
  }
  .Table-container-MisUsuarios .Table-container-MisUsuarios-elements:nth-of-type(3):before {
    content: "Fecha inicio";
  }
  .Table-container-MisUsuarios .Table-container-MisUsuarios-elements:nth-of-type(4):before {
    content: "Fecha fin";
  }
  .Table-container-MisUsuarios .Table-container-MisUsuarios-elements:nth-of-type(5):before {
    content: "estado";
  }
  .Table-container-MisUsuarios .Table-container-MisUsuarios-elements:nth-of-type(6):before {
    content: "jardin";
  }
  .Table-container-MisUsuarios .Table-container-MisUsuarios-elements:nth-of-type(7):before {
    content: "editar";
  }
}
/**********************FIN DISEÑO TABLAS ***************/
/*****************DISEÑO TABLAS PARA ADMIN JARDIN*******************/
.table-bordered table-hover color-t Table-container-Admin {
  width: 80%;
  border-collapse: separate;
  border: solid #0389ab 3px !important;
  border-radius: 15px;
  background: #f9f9f9 !important;
  margin: 1em;
}
.table-bordered table-hover color-t Table-container-Admin .thead2 Campo .Table-container-Admin-elements Encabezados {
  padding: 0.5em;
  background: #0389ab;
  color: #f9f9f9;
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
}
.table-bordered table-hover color-t Table-container-Admin .thead2 Campo .Table-container-Admin-elements Encabezados:first-child {
  border-radius: 5px 0 0 0;
}
.table-bordered table-hover color-t Table-container-Admin .thead2 Campo .Table-container-Admin-elements Encabezados:last-child {
  border-radius: 0 5px 0 0;
}
.table-bordered > .thead2 > Campo > .Table-container-Admin-elements Encabezados,
.table-bordered > .Color-resultados > Campo > .Table-container-Admin-elements Encabezados,
.table-bordered > tfoot > Campo > .Table-container-Admin-elements Encabezados,
.table-bordered > .thead2 > Campo > .Table-container-Admin-elements,
.table-bordered > .Color-resultados > Campo > .Table-container-Admin-elements,
.table-bordered > tfoot > Campo > .Table-container-Admin-elements {
  border: none;
}
.table-bordered table-hover color-t Table-container-Admin .Color-resultados Campo:nth-child(odd) .Table-container-Admin-elements {
  background: #eee;
}
.table-bordered table-hover color-t Table-container-Admin .Color-resultados Campo .Table-container-Admin-elements {
  padding: 0.6em;
  border-top: 1px solid #027592 !important;
  border-right: 1px solid #027592 !important;
}
.table-bordered table-hover color-t Table-container-Admin .Color-resultados Campo .Table-container-Admin-elements:last-child {
  border-right: none;
}
.table-bordered table-hover color-t Table-container-Admin .Color-resultados Campo:nth-child(odd):last-child {
  border-radius: 0 0 5px 5px;
}
.table-bordered table-hover color-t Table-container-Admin .thead2 Campo .Table-container-Admin-elements Encabezados {
  padding: 0.5em;
  background: #0389ab;
  color: #f9f9f9;
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
}
.table-bordered table-hover color-t Table-container-Admin .Color-resultados Campo:hover {
  background: #d3d3d3;
}
table .Color-resultados Campo:last-child:hover {
  border-radius: 0 0 5px 5px;
}
Campo {
  background: #ff4f00;
  color: #fff;
  border: 1px solid #ff4f00;
}
.Color-resultados {
  color: #000 !important;
}
.Table-container-Admin {
  width: 100%;
}
.Table-container-Admin-elements {
  padding: 0.7em 1em;
  text-align: center;
}
@media only screen and (max-width: 760px), (min-width: 760px) and (max-width: 1024px) {
  .table-bordered table-hover color-t Table-container-Admin.Table-container-Admin,
  .Table-container-Admin .thead2,
  .Table-container-Admin .Color-resultados,
  .Table-container-Admin .Table-container-Admin-elements Encabezados,
  .Table-container-Admin .Table-container-Admin-elements,
  .Table-container-Admin .Campo {
    display: block;
  }
  .Table-container-Admin .thead2 .Campo {
    position: absolute;
    display: none;
  }
  .color-t {
    border: none;
  }
  .Table-container-Admin {
    margin-bottom: 2em;
  }
  .Table-container-Admin .Table-container-Admin-elements {
    position: relative;
    padding-left: 40%;
    font-size: 12px;
    text-align: left;
  }
  .Table-container-Admin .Table-container-Admin-elements:before {
    position: absolute;
    top: 0px;
    left: -1px;
    width: 34%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0em 2%;
    background: #0389ab;
    color: #f9f9f9;
    font-weight: bold;
  }
  .table-bordered table-hover color-t Table-container-Admin {
    border: solid #0389ab 2px;
  }
  .table-bordered table-hover color-t Table-container-Admin .Color-resultados .Campo .Table-container-Admin-elements {
    padding: 0;
    text-align: center;
    line-height: 2.5;
    border-right: none;
  }
  .table-bordered table-hover color-t Table-container-Admin .Color-resultados .Campo:hover {
    background: none;
  }
  .table-bordered table-hover color-t Table-container-Admin .Color-resultados .Campo .Table-container-Admin-elements:hover {
    background: #d3d3d3;
  }
  .table-bordered table-hover color-t Table-container-Admin .Color-resultados .Campo:first-child {
    border-radius: 10px 10px 0 0;
  }
  .table-bordered table-hover color-t Table-container-Admin .Color-resultados .Campo:first-child .Table-container-Admin-elements:first-child {
    border-top: none;
    border-radius: 10px;
  }
  .table-bordered table-hover color-t Table-container-Admin .Color-resultados .Campo:first-child .Table-container-Admin-elements:first-child span:first-child {
    border-radius: 10px 0 0 0;
  }
  .table-bordered table-hover color-t Table-container-Admin .Color-resultados .Campo:last-child .Table-container-Admin-elements:last-child span {
    border-radius: 0 0 0 10px;
  }
  .table-bordered table-hover color-t Table-container-Admin .Color-resultados .Campo:last-child {
    border-radius: 0 0 10px 10px;
  }
  .table-bordered table-hover color-t Table-container-Admin > .thead2 > .Campo > .Table-container-Admin-elements Encabezados,
  .table > .Color-resultados > .Campo > .Table-container-Admin-elements Encabezados,
  .table > tfoot > .Campo > .Table-container-Admin-elements Encabezados,
  .table > .thead2 > .Campo > .Table-container-Admin-elements,
  .table > .Color-resultados > .Campo > .Table-container-Admin-elements,
  .table > tfoot > .Campo > .Table-container-Admin-elements {
    border-top: none !important;
  }
  .table-bordered table-hover color-t Table-container-Admin-bordered2 .Color-resultados .Campo {
    border-bottom: 1px solid #ddd !important;
  }
  glyphicon-search {
    line-height: 0 !important;
    top: -17px;
  }
  .Table-container-Admin .Table-container-Admin-elements:nth-of-type(1):before {
    content: "Titulo";
  }
  .Table-container-Admin .Table-container-Admin-elements:nth-of-type(2):before {
    content: "Descripcion";
  }
  .Table-container-Admin .Table-container-Admin-elements:nth-of-type(3):before {
    content: "Fecha inicio";
  }
  .Table-container-Admin .Table-container-Admin-elements:nth-of-type(4):before {
    content: "Fecha fin";
  }
  .Table-container-Admin .Table-container-Admin-elements:nth-of-type(5):before {
    content: "estado";
  }
  .Table-container-Admin .Table-container-Admin-elements:nth-of-type(6):before {
    content: "jardin";
  }
  .Table-container-Admin .Table-container-Admin-elements:nth-of-type(7):before {
    content: "editar";
  }
}
/****** Aquí Termina Diseño para Jardines View ******/
.ListAdminJardin {
  background-image: url("/imagenes/Fondo3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.ListAdminJardin-transparent {
  padding: 2em 0 5em 0;
  background-color: rgba(255,255,255,0.4);
}
.switchdemoBasicUsage .inset {
  padding-left: 25px;
  padding-top: 25px;
}
.switchtable {
  margin: 0;
}
.md-switch.md-default-theme.md-checked .md-bar,
md-switch.md-checked .md-bar {
  background: #337ab7;
}
.md-switch.md-default-theme.md-checked .md-thumb,
md-switch.md-checked .md-thumb {
  background: #337ab7;
}
.glyphicon {
  line-height: 2em;
}
.img-mi-jardin {
  min-height: 23em;
}
.table > .thead2 > Campo > .Table-container-MisUsuarios-elements,
.table > .Color-resultados > Campo > .Table-container-MisUsuarios-elements,
.table > tfoot > Campo > .Table-container-MisUsuarios-elements {
  border-top: none;
}
.but-inquietud {
  color: #000;
}
.lista-usuariosV {
  background-image: url("/imagenes/baby.jpg");
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
}
.btn-primary-lista {
  margin: 1em;
  background-color: #337ab7;
  color: #fff;
}
.panel-primary {
  box-shadow: 4px 4px 6px 0px #000 !important;
}
.Comments-container {
  margin: 0 auto;
  width: 770px;
  text-align: center;
}
.Comentarios {
  background-color: #8dd35f;
  margin-top: -1px;
}
.Comments-container h2 {
  font-size: 36px;
  color: #283035;
  font-weight: normal;
  margin: 0;
  padding-top: 1em;
}
.Comments-list {
  margin-top: 1.5em;
}
.Comments-list li {
  margin-bottom: 15px;
  display: block;
}
.Comment-avatar {
  border: 3px solid #727272;
  border-radius: 20px;
  box-shadow: 0 1px 2px rgba(0,0,3,0.6);
  color: #0389ab;
  display: inline-block;
  font-size: 30px;
  height: 65px;
  overflow: hidden;
  padding-top: 0.2em;
  vertical-align: top;
  width: 65px;
  background-color: #fff;
}
.Comment-avatar img {
  height: 100%;
  width: 100%;
}
.Comment-box {
  box-shadow: 0 1px 1px rgba(20,20,20,0.5);
  display: inline-block;
  text-align: left;
  padding-left: 0.2em;
  margin-left: 0.4em;
  width: 70%;
}
.Comment-head {
  background: #fcfcfc;
  padding: 5px 7px;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
}
.Comment-name {
  display: inline-block;
  margin-right: 0.6em;
  color: #233035;
  font-size: 14px;
  font-weight: 700;
}
.Comment-name a {
  color: #233035;
}
.Comment-head span {
  color: #999;
  font-size: 13px;
  top: 1px;
}
.Comment-content {
  background: #fff;
  padding: 12px;
  font-size: 15px;
  color: #595959;
  border-radius: 4px;
}
.CommentMain-level {
  width: 50em;
}
.Textarea {
  width: 41em;
  height: 60px;
  resize: none;
  display: block;
  margin: 1.5em auto;
  border: 2px solid #888282;
  border-radius: 5px;
  padding: 0.5em;
}
.Comment-btn {
  display: inline-block;
  background-color: #2d5ec4;
  color: #fff;
  border: 1px solid #19499b;
  padding: 0.3em 2em;
  border-radius: 3px;
  margin-bottom: 1em;
}
.Comment-btn:hover {
  background-color: #2d5ec4;
}
/***************Fin estilos comentarios**************/
.add-images {
  box-shadow: 1px 1px 5px 0 #515151;
  border-radius: 5px;
  padding: 0.5em;
  width: 100%;
  margin-bottom: 15px;
  background: #53abc1;
  color: #fff;
  font-weight: lighter;
}
.Jardines-Create .Jardin-container form .img-add {
  margin: 1em auto;
  display: block;
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 350px) {
  .Jardines-Create-Container {
    max-width: 90%;
  }
}
@media screen and (max-width: 315px) and (min-width: 200px) {
  .Comments-container {
    width: 12em;
    margin: 1em auto 2px;
  }
  .Comments-container h2 {
    font-size: 25px;
    width: 7em;
  }
  .CommentMain-level {
    width: 12em;
  }
  .Comments-list {
    width: 12em;
    padding: 0;
  }
  .Comments-list li {
    display: inline-block;
  }
  .Textarea {
    width: 12em;
    margin: 1.2em auto;
  }
  .Comment-avatar {
    border: 1.5px solid #727272;
    font-size: 16px;
    height: 30px;
    width: 30px;
  }
  .Comment-btn {
    padding: 0.3em 1em;
  }
}
@media screen and (max-width: 456px) and (min-width: 314px) {
  .Comments-container {
    width: 18em;
    margin: 1em auto 2px;
  }
  .Comments-container h2 {
    font-size: 29px;
    width: 7em;
  }
  .CommentMain-level {
    width: 20em;
  }
  .Comments-list {
    width: 19em;
    padding: 0;
  }
  .Comments-list li {
    display: inline-block;
    position: relative;
    right: 2.2em;
  }
  .Textarea {
    width: 15em;
    margin: 1.2em auto;
  }
  .Comment-avatar {
    border: 1.5px solid #727272;
    font-size: 16px;
    height: 30px;
    width: 30px;
  }
  .Comment-btn {
    padding: 0.3em 1em;
    margin-bottom: 1em;
  }
}
@media screen and (max-width: 768px) and (min-width: 457px) {
  .Comments-container {
    width: 30em;
    margin: 1em auto 2px;
  }
  .Comments-container h2 {
    font-size: 29px;
    width: 15em;
  }
  .CommentMain-level {
    width: 27em;
  }
  .Comments-list {
    width: 19em;
    padding: 0;
  }
  .Comments-list li {
    display: inline-block;
  }
  .Textarea {
    width: 20em;
    margin: 1.2em auto;
  }
  .Comment-avatar {
    border: 1.8px solid #727272;
    font-size: 23px;
    height: 45px;
    width: 45px;
  }
  .Comment-btn {
    padding: 0.3em 1em;
    margin-bottom: 0.5em;
  }
}
/**********************Responsive para View Jardines*****************/
@media screen and (max-width: 450px) and (min-width: 200px) {
  .Jardin-title {
    font-size: 22px;
  }
  .Tablero {
    display: none;
  }
  .jardin-img {
    margin: 0;
  }
  .TableJv-container {
    display: inline-block;
    right: 4em;
    text-align: center;
  }
  .text-listaJ {
    font-weight: bold;
  }
  .Title-list {
    text-align: center;
  }
  .Description-list {
    padding: 0;
  }
  .TableJv-container {
    right: 1em;
  }
  .btn-jv {
    display: block;
    margin: 0.5em auto;
    width: 8em;
  }
  .Calificar {
    margin-bottom: 1em;
  }
  .jardin-img {
    width: 100%;
    height: 15em;
  }
}
@media screen and (max-width: 767px) and (min-width: 451px) {
  .jardin-img {
    width: 80%;
    height: 19em;
    margin: 0;
  }
  .Tablero {
    display: none;
  }
  .Calificar {
    margin-bottom: 1em;
  }
  .TableJv-container {
    right: 1em;
  }
}
@media screen and (max-width: 829px) and (min-width: 768px) {
  .Jardin-title {
    padding-top: 3em;
  }
  .TableJv-container {
    bottom: 31em;
    left: 0;
  }
  .jardin-img {
    margin-left: 2em;
  }
  .Tablero {
    bottom: 2.6em;
    left: 1em;
  }
  .JardinView-container {
    height: 71em;
  }
}
@media screen and (max-width: 845px) and (min-width: 830px) {
  .Jardin-title {
    padding-top: 3em;
  }
  .jardin-img {
    margin-left: 2em;
  }
  .Tablero {
    bottom: 1.6em;
    left: 2em;
  }
  .TableJv-container {
    bottom: 31em;
    right: 0em;
  }
  .Title-list {
    font-size: 20em;
  }
  .text-listaJ,
  .description-listaJ {
    font-size: 16px;
  }
  .JardinView-container {
    height: 71em;
  }
}
@media screen and (max-width: 977px) and (min-width: 846px) {
  .Jardin-title {
    padding-top: 3em;
  }
  .jardin-img {
    margin-left: 2em;
  }
  .Tablero {
    bottom: 2.6em;
    left: 12em;
  }
  .TableJv-container {
    top: 4em;
    right: 19em;
  }
}
@media screen and (max-width: 992px) and (min-width: 978px) {
  .jardin-img {
    margin-left: 3em;
  }
  .Tablero {
    bottom: 2.6em;
    left: 11em;
  }
  .TableJv-container {
    top: 4em;
    right: 19em;
  }
}
@media screen and (max-width: 1006px) and (min-width: 993px) {
  .jardin-img {
    margin-left: 4em;
  }
  .Tablero {
    bottom: 3.6em;
    left: 11em;
  }
  .TableJv-container {
    top: 4em;
    right: 20em;
  }
}
@media screen and (max-width: 1021px) and (min-width: 1007px) {
  .jardin-img {
    margin-left: 6em;
  }
}
@media screen and (max-width: 1200px) and (min-width: 1021px) {
  .jardin-img {
    margin-left: 4em;
  }
  .Tablero {
    bottom: 3.6em;
    left: 1em;
  }
  .TableJv-container {
    bottom: 33em;
    left: 16em;
  }
  .JardinView-container {
    height: 41em;
  }
}
@media screen and (max-width: 1547px) and (min-width: 1282px) {
  .TableJv-container {
    bottom: 0em;
    right: 28em;
  }
  .jardin-img {
    margin-left: 2em;
  }
  .JardinView-container {
    height: 42em;
  }
}
@media screen and (max-width: 1281px) and (min-width: 1190px) {
  .TableJv-container {
    bottom: 36em;
    left: 17em;
  }
  .jardin-img {
    margin-left: 2em;
  }
  .JardinView-container {
    height: 42em;
  }
}
/**********************Fin Responsive para List Jardines*****************/
@media screen and (max-width: 950px) {
  .Jardines-Create-Container {
    max-width: 65%;
  }
}
/**********************Responsive para List Jardies*****************/
@media screen and (max-width: 916px) {
  .Jardines-List-Title,
  .miJardin-Title {
    width: 80%;
  }
  .Jardines-List-Content {
    width: 80%;
  }
  .Jardines-List-img {
    max-width: 20em;
  }
}
@media screen and (max-width: 850px) {
  .Jardines-List-Content-Text {
    width: 50%;
  }
  .Jardines-List-Description {
    width: 100%;
  }
}
@media screen and (max-width: 836px) {
  .miJardin-content-items {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 804px) {
  .miJardin-content-items {
    font-size: 1em;
  }
  .miJardin-content-list {
    padding: 1%;
  }
}
@media screen and (max-width: 767px) {
  .Jardines-List-Content {
    flex-direction: column;
    width: 50%;
  }
  .miJardin-List-Content {
    width: 50%;
  }
  .Jardines-List-Content-Text {
    min-height: 0;
    width: 90%;
    text-align: center;
  }
  .miJardin-Content-Text {
    width: 100% !important;
  }
  .Jardines-List-img {
    max-width: 100%;
    margin: 0;
    border-radius: 10px 10px 0 0;
  }
  .Jardines-List:nth-child(odd) .Jardines-List-Content {
    flex-direction: column;
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .Jardines-Create-Container {
    max-width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .Jardines-List-Content,
  .miJardin-List-Content,
  .Jardines-List:nth-child(odd) .Jardines-List-Content {
    width: 68%;
  }
}
@media screen and (max-width: 498px) {
  .Jardines-Create-Container {
    max-width: 95%;
  }
  .update-jardin-button {
    width: 95%;
  }
}
@media screen and (max-width: 487px) {
  .Jardines-List-Content {
    width: 70%;
  }
  .miJardin-content-items {
    font-size: 1em;
  }
}
@media screen and (max-width: 465px) {
  .Jardines-List-Title,
  .miJardin-Title {
    width: 70%;
  }
}
@media screen and (max-width: 385px) {
  .miJardin-List-Content,
  .Jardines-List-Content,
  .Jardines-List:nth-child(odd) .Jardines-List-Content {
    width: 85%;
  }
}
@media screen and (max-width: 310px) {
  .Jardines-List-Title,
  .miJardin-Title {
    font-size: 1.3em;
    width: 60%;
    margin-bottom: 2em;
    padding: 1em 0;
  }
  .Jardines-List-img {
    width: 100%;
    border-radius: 0;
  }
  .Jardines-List-Content,
  .miJardin-List-Content {
    box-shadow: 0;
    border-radius: 0;
    width: 100%;
  }
  .Jardines-List:nth-child(odd) .Jardines-List-Content {
    width: 100%;
  }
  .Jardines-List-Title:before {
    content: url("/imagenes/svg/cinta4.svg");
  }
  .Jardines-List-Title:after {
    content: url("/imagenes/svg/cinta3.svg");
  }
  .miJardin-Title:before {
    content: url("/imagenes/svg/cinta4-4.svg");
  }
  .miJardin-Title:after {
    content: url("/imagenes/svg/cinta3-3.svg");
  }
}
@media screen and (max-width: 290px) {
  .Jardines-Create {
    padding: 4% 0;
  }
  .Jardines-Create-Container {
    border-radius: 0;
    max-width: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 261px) {
  .miJardin-content-items {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 236px) {
  .Jardines-List-Title,
  .miJardin-Title {
    font-size: 1em;
  }
  .miJardin-Title:after,
  .Jardines-List-Title:after {
    width: 55%;
  }
  .Jardines-List-Title:before {
    content: url("/imagenes/svg/cinta5.svg");
    left: -33px;
  }
  .Jardines-List-Title:after {
    content: url("/imagenes/svg/cinta6.svg");
  }
  .miJardin-Title:before {
    content: url("/imagenes/svg/cinta5-5.svg");
    left: -25px;
  }
  .miJardin-Title:after {
    content: url("/imagenes/svg/cinta6-6.svg");
    right: -35px;
  }
  .miJardin-Content-Text {
    padding: 0;
  }
  .miJardin-content-list {
    width: 100%;
    padding: 0;
  }
  .miJardin-content-title-movil {
    font-size: 1em;
    width: 100%;
    background: #e83434;
    color: #fff;
    padding: 0.3em;
    text-align: center;
    font-weight: lighter;
    display: block;
  }
  .miJardin-content-items-movil {
    color: #515151;
    font-size: 1em;
    text-align: center;
    display: block;
    padding: 0.3em;
  }
  .miJardin-content-items-movil:last-child {
    border-bottom: solid 2px #e83434;
  }
  .miJardin-content-list-movil {
    display: block !important;
  }
  .miJardin-content-list {
    display: none;
  }
}
/*****************Aqui termina el Responsive para list Jardines****************/
