
<div class="ListInquietud">

         <h2 class="Contacto-Title">Mis Usuarios</h2>
     <table class="table-bordered table-hover color-t Table-container-MisUsuarios">


            <thead class="thead2">
						 <div class="col-md-3">
                                <tr class="Campo">

		      <th class="Table-container-MisUsuarios-elements">Nombre hijo</th>
              <th class="Table-container-MisUsuarios-elements Encabezados">Apellidos</th>
              <th class="Table-container-MisUsuarios-elements Encabezados">No.Registro Civil</th>
              <th class="Table-container-MisUsuarios-elements Encabezados">Nombre del padre</th>
              <th class="Table-container-MisUsuarios-elements Encabezados">Email</th>
              <th class="Table-container-MisUsuarios-elements Encabezados">Celular</th>

		 </tr>
			</thead>
			<tbody>

             <tbody class="Color-resultados">
				<tr ng-repeat="usua in vm.usuarios">
				  <td class="Table-container-MisUsuarios-elements">{{usua.primerNombre}}</td>
				  <td class="Table-container-MisUsuarios-elements">{{usua.apellidos}}</td>
				  <td class="Table-container-MisUsuarios-elements">{{usua.registroCivil}}</td>
                  <td class="Table-container-MisUsuarios-elements">{{usua.idUsuarios.nombres}}</td>
				  <td class="Table-container-MisUsuarios-elements">{{usua.idUsuarios.email}}</td>
				  <td class="Table-container-MisUsuarios-elements">{{usua.idUsuarios.celular}}</td>

          </tr>
              </tbody>
              </table>



              </div>
