
<div class="ListInquietud">

         <h2 class="Contacto-Title">Jardines Infantiles</h2>
     <table class="table-bordered table-hover color-t Table-container-Admin">


             <thead class="thead2">
						 <div class="col-md-3">
                                <tr class="Campo">
                <th class="Table-container-Admin-elements Encabezados">Nombre jardin</th>
                <th class="Table-container-Admin-elements Encabezados">Dirección</th>
                <th class="Table-container-Admin-elements Encabezados">Celular</th>
                <th class="Table-container-Admin-elements Encabezados">Teléfono</th>
                <th class="Table-container-Admin-elements Encabezados">Email< /th>
                <th class="Table-container-Admin-elements Encabezados">Sitio Web</th>
                <th class="Table-container-Admin-elements Encabezados">Estado</th>
                <th class="Table-container-Admin-elements Encabezados">Clientes</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="jardinesinfantiles in vm.jardinesinfantiles">
                <td class="Table-container-Admin-elements">{{jardinesinfantiles.nombreJardin}}</td>
                <td class="Table-container-Admin-elements">{{jardinesinfantiles.direccion}}</td>
                <td class="Table-container-Admin-elements">{{jardinesinfantiles.celular}}</td>
                <td class="Table-container-Admin-elements">{{jardinesinfantiles.telefono}}</td>
                <td class="Table-container-Admin-elements">{{jardinesinfantiles.email}}</td>
                <td class="Table-container-Admin-elements">{{jardinesinfantiles.sitioweb}}</td>

                 <td class="Table-container-Admin-elements"><md-switch ng-model="jardinesinfantiles.estado"  aria-label="Switch 6" ng-change="vm.onChange(jardinesinfantiles.idJardinInfantil)">
                  </md-switch></td>
                <td class="Table-container-Admin-elements">
                  <a href="#/jardinesinfantiles/listusuariosv/{{jardinesinfantiles.idJardinInfantil}}">Clientes</a></td>
              </tr>
            </tbody>
          </table>
</div>
