<section class="Jardines-background">

<!--input type="text" style="margin-bottom:2em" ng-model="vm.busqueda" class="filters" placeholder="Buscar" />
		<span class="glyphicon glyphicon-search"></span -->

<h2 class="Work-title Title-Jardines">Jardines Infantiles</h2>
<div class="container">
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
	<div class="panel panel-default">
	  <div class="panel-body">
			<div class="col-lg-12">
				<label class="buscarJArdin" for="buscar">Buscar</label>
				<form >
    <div class="input-group">

      <input class="form-control" id="buscar" type="text" ng-minlength="3"  ng-model="vm.criterioBusqueda">
			<span class="input-group-btn">
				<button class="btn btn-success"  ng-click="vm.buscarJardin()">Buscar</button>

			</span>
    </div><!-- /input-group -->
	</form>
		<!--button class="btn btn-success" ng-if="vm.criterioBusqueda" ng-click="vm.cargarTodos()">Cargar todos</button-->
  </div><!-- /.col-lg-6 -->

	  </div>
	</div>
</div> <!-- col-md-4 -->
</div>
</div>

<div class="Jardines-List" ng-repeat="jardinesinfantiles in vm.jardinesinfantiles">
	<h3 class="Jardines-List-Title">{{jardinesinfantiles.nombreJardin}}</h3>
		<div class="Jardines-List-Content">
			<img class="Jardines-List-img" ng-if="jardinesinfantiles.foto" ng-src="{{'data:image/png;base64,' + jardinesinfantiles.foto}}" alt="..." />
			<img class="Jardines-List-img" ng-hide="jardinesinfantiles.foto" ng-src="/imagenes/svg/casita.svg" alt="..." />
			<div class="Jardines-List-Content-Text">
				<p class="Jardines-List-Description Title-items">{{jardinesinfantiles.descripcion}}</p>
				<h4 class="Title-items">Celular: {{jardinesinfantiles.celular}}</h4>
				<h4 class="Title-items">Tipo Jardin: {{jardinesinfantiles.idTipoJardines.nombreTipoJardines}}</h4>
				<a class="Jardines-List-Button perfil-btn" href="#/jardinesinfantiles/view/{{jardinesinfantiles.idJardinInfantil}}" role="button">Más Información</a>
			</div>
		</div>

	<!--
	<div class="Jardines-List-Publicidad">
		<img src="" alt="" />
	</div>
	-->
</div>
</section>
