<section class="miJardin-Background">
  <h2 class="Work-title Title-Jardines">Mis Jardines Infantiles</h2>
  <div class="Jardines-List" ng-repeat="miJardin in vm.jardinesinfantil">

    <!-- mensaje de alerta en caso de que el jardin este deshabilitado -->
    <div ng-if="!miJardin.estado" class="alert alert-danger" role="alert">
        Su jardín se encuentra deshabilitado de JardinApp
    </div>

    <h3 class="miJardin-Title">{{miJardin.nombreJardin}}</h3>

      <div class="Jardines-List-Content miJardin-List-Content">
        <img class="Jardines-List-img" ng-if="miJardin.foto" ng-src="{{'data:image/png;base64,' + miJardin.foto}}" alt="{{miJardin.nombreJardin }}">
        <img class="Jardines-List-img" ng-hide="miJardin.foto" ng-src="/imagenes/svg/casita.svg">

        <div class="Jardines-List-Content-Text miJardin-Content-Text">
          <div class="miJardin-container-list">
            <ul class="miJardin-content-list miJardin-content-list-movil">
              <li class="miJardin-content-items items-bold miJardin-content-title-movil">Direccion:</li>
              <li class="miJardin-content-items miJardin-content-items-movil">{{miJardin.direccion}}</li>
              <li class="miJardin-content-items items-bold miJardin-content-title-movil">Celular:</li>
              <li class="miJardin-content-items miJardin-content-items-movil">{{miJardin.celular}}</li>
              <li class="miJardin-content-items items-bold miJardin-content-title-movil">Teléfono:</li>
              <li class="miJardin-content-items miJardin-content-items-movil">{{miJardin.telefono}}</li>
              <li class="miJardin-content-items items-bold miJardin-content-title-movil">Email:</li>
              <li class="miJardin-content-items miJardin-content-items-movil">{{miJardin.email}}</li>
              <li class="miJardin-content-items items-bold miJardin-content-title-movil">Sitio Web:</li>
              <li class="miJardin-content-items miJardin-content-items-movil">{{miJardin.sitioweb}}</li>
              <li class="miJardin-content-items items-bold miJardin-content-title-movil">Tipo Jardin:</li>
              <li class="miJardin-content-items miJardin-content-items-movil">{{miJardin.idTipoJardines.nombreTipoJardines}}</li>
            </ul>
            <ul class="miJardin-content-list">
              <li class="miJardin-content-items">{{miJardin.direccion}}</li>
              <li class="miJardin-content-items">{{miJardin.celular}}</li>
              <li class="miJardin-content-items">{{miJardin.telefono}}</li>
              <li class="miJardin-content-items">{{miJardin.email}}</li>
              <li class="miJardin-content-items">{{miJardin.sitioweb}}</li>
              <li class="miJardin-content-items">{{miJardin.idTipoJardines.nombreTipoJardines}}</li>
            </ul>
            <div class="miJardin-content-links">
              <div class="miJardin-content-line">
                <a class="line1 hvr-pulse" href="#/jardinesinfantiles/update/{{miJardin.idJardinInfantil}}">
                  Editar Jardin
                </a>
              </div>
          
              <div class="miJardin-content-line">
                <a class="line2 hvr-pulse" href="#/jardinesinfantiles/listusuariosv/{{miJardin.idJardinInfantil}}">
                  Mis Usuarios
                </a>
              </div>
              <div class="miJardin-content-line">
                  <td class="line2 hvr-pulse"><md-switch ng-model="miJardin.estado"  aria-label="Switch 6" ng-change="vm.onChange(miJardin.idJardinInfantil)">
                  <h5 class="line2 hvr-pulse"> Desabilitar Jardin<h5></md-switch></td>
                 
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
</section>
